{% macro field(name, label, dates) %}

  <div class="filter js-filter" id="{{ name }}" data-name="{{ name }}" data-filter="date">
  <fieldset>
    <legend for="{{ name }}" class="label">{{ label }}</legend>
    <ul>
      <li>
        <input id="radio-1" name="_{{ name }}" type="radio" data-min-date={{ dates['year'][0] | date(fmt='%m-%d-%Y') }} data-max-date={{ dates['year'][1] | date(fmt='%m-%d-%Y') }}>
        <label for="radio-1">This year</label>
      </li>
      <li>
        <input id="radio-2" name="_{{ name }}" type="radio" data-min-date={{ dates['cycle'][0] | date(fmt='%m-%d-%Y') }} data-max-date={{ dates['cycle'][1] | date(fmt='%m-%d-%Y') }}>
        <label for="radio-2">This cycle</label>
      </li>
      <li>
        <input id="radio-3" name="_{{ name }}" type="radio">
        <label for="radio-3">Custom</label>
      </li>
    </ul>
    <div class="date-range-input">
      <label for="min_{{ name }}">From</label>
      <input type="text" id="min_{{ name }}" name="min_{{ name }}" class="js-min-date" data-prefix="Beginning" data-inputmask="'alias': 'mm/dd/yyyy'">
      <label for="max_{{ name }}">To</label>
      <input type="text" id="max_{{ name }}" name="max_{{ name }}" class="js-max-date" data-prefix="Ending" data-inputmask="'alias': 'mm/dd/yyyy'">
    </div>
  </fieldset>
</div>

{% endmacro %}

{% macro partition_field(name, label, dates) %}
  {% set current_year = dates['year'][1] | date(fmt='%Y') %}
  <div class="filter js-filter js-filter-control" data-filter="select" data-validate="true" data-modifies-filter="{{ name }}" data-modifies-property="data-transaction-year" data-required-default="{{ current_year }}">
    <label class="label t-inline-block" for="two-year-transaction-period">Time period</label>
    <div class="tooltip__container">
      <button class="tooltip__trigger" type="button"><span class="u-visually-hidden">Learn more</span></button>
      <div id="year-tooltip" role="tooltip" class="tooltip tooltip--under tooltip--left">
        <p class="tooltip__content">The two-year period in which the transaction was made. Due to the large number of itemized transactions, you can only view one period at a time.</p>
      </div>
    </div>
    <select id="two-year-transaction-period" name="two_year_transaction_period" aria-describedby="unique-tooltip">
      {% for year in range(current_year | int, 1978, -2) %}
        <option value="{{year}}" >{{ year | fmt_year_range }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="filter js-filter" id="{{ name }}" data-filter="date" data-name="{{ name }}" data-validate="true">
    <fieldset>
    <legend class="label">{{ label }}</legend>
    <div class="range">
      <div class="range__input range__input--min" data-filter="range">
        <label for="min_{{ name }}">Beginning</label>
        <input type="text" id="min_{{ name }}" name="min_{{ name }}" data-range="min" class="js-min-date" data-prefix="Beginning" data-inputmask="'alias': 'mm/dd/yyyy'">
      </div>
      <div class="range__hyphen">-</div>
      <div class="range__input range__input--max" data-filter="range">
        <label for="max_{{ name }}">Ending</label>
        <input type="text" id="max_{{ name }}" name="max_{{ name }}" data-range="max" class="js-max-date" data-prefix="Ending" data-inputmask="'alias': 'mm/dd/yyyy'">
      </div>
      <button class="button--go button--standard" type="button">
        <span class="u-visually-hidden">Search</span>
      </button>
    </div>
    <div class="date-range-grid">
      <div class="date-range-year">
      {{ current_year|int - 1 }}
      </div>
      <ul data-year="{{ current_year|int - 1 }}" class="date-range-months">
        <li data-month="01" class="beginning">Jan</li>
        <li data-month="02">Feb</li>
        <li data-month="03">Mar</li>
        <li data-month="04">Apr</li>
        <li data-month="05">May</li>
        <li data-month="06">Jun</li>
        <li data-month="07">Jul</li>
        <li data-month="08">Aug</li>
        <li data-month="09">Sep</li>
        <li data-month="10">Oct</li>
        <li data-month="11">Nov</li>
        <li data-month="12">Dec</li>
      </ul>
      <div class="date-range-year">
        {{ current_year }}
      </div>
      <ul data-year="{{ current_year }}" class="date-range-months">
        <li data-month="01">Jan</li>
        <li data-month="02">Feb</li>
        <li data-month="03">Mar</li>
        <li data-month="04">Apr</li>
        <li data-month="05">May</li>
        <li data-month="06">Jun</li>
        <li data-month="07">Jul</li>
        <li data-month="08">Aug</li>
        <li data-month="09">Sep</li>
        <li data-month="10">Oct</li>
        <li data-month="11">Nov</li>
        <li data-month="12" class="end">Dec</li>
      </ul>
    </div>

  </fieldset>
</div>

{% endmacro %}
