{% macro amount(name, label) %}
<fieldset class="filter" id="{{name}}-field">
  <legend class="label">{{ label }}</legend>
  <div class="range">
    <div class="js-filter">
      <div class="financial-range-input financial-range-input-min">
        <label for="min_{{name}}">From</label>
        <input id="min_{{name}}" type="text" name="min_{{name}}" data-suffix="or more" tabindex="0">
      </div>
    </div>
    <div class="range__hyphen">-</div>
    <div class="js-filter">
      <div class="financial-range-input financial-range-input-max">
        <label for="max_{{name}}">To</label>
        <input id="max_{{name}}" type="text" name="min_{{name}}" data-suffix="or more" tabindex="0">
        <button class="button--go button--standard is-disabled" type="button">
          <span class="u-visually-hidden">Search</span>
        </button>
      </div>
    </div>
  </div>
</fieldset>
{% endmacro %}
