{% macro amount(name, label) %}
<fieldset class="filter" id="{{name}}-field">
  <legend class="label">{{ label }}</legend>
  <div class="range">
    <div class="range__input js-filter">
      <label>From</label>
      <input id="min_{{name}}" type="text" name="min_{{name}}" data-inputmask="'alias': 'currency', 'rightAlign': false, 'clearMaskOnLostFocus': true" data-suffix="or more" tabindex="0">
    </div>
    <span class="range__hyphen">-</span>
    <div class="range__input js-filter">
      <label>To</label>
      <input id="max_{{name}}" type="text" name="max_{{name}}" data-inputmask="'alias': 'currency', 'rightAlign': false, 'clearMaskOnLostFocus': true" data-suffix="or less" tabindex="0">
    </div>
  </div>
</fieldset>
{% endmacro %}
