{% macro amount(name, label) %}
<fieldset class="filter" id="{{name}}-field">
  <legend class="label">{{ label }}</legend>
  <div class="range">
    <div class="js-filter" data-filter="range">
      <label for="min_{{name}}">From</label>
      <div class="combo combo--filter--mini">
        <input id="min_{{name}}" class="combo__input" type="text" name="min_{{name}}" data-inputmask="'alias': 'currency', 'rightAlign': false, 'clearMaskOnLostFocus': true" data-suffix="or more" tabindex="0">
        <button class="combo__button button--go button--standard is-disabled" type="button">
          <span class="u-visually-hidden">Search</span>
        </button>
      </div>
    </div>
    <!-- <span class="range__hyphen">-</span> -->
    <div class="js-filter" data-filter="range">
      <label for="max_{{name}}">To</label>
      <div class="combo combo--filter--mini">
        <input id="max_{{name}}" class="combo__input" type="text" name="max_{{name}}" data-inputmask="'alias': 'currency', 'rightAlign': false, 'clearMaskOnLostFocus': true" data-suffix="or less" tabindex="0">
        <button class="combo__button button--go button--standard is-disabled" type="button">
          <span class="u-visually-hidden">Search</span>
        </button>
      </div>
    </div>
  </div>
</fieldset>
{% endmacro %}
