{% macro field(name, title, instructions=False, dataset='committees', allow_text=False, filter_name=False) %}
<div
  class="filter js-filter typeahead-filter"
  data-filter="typeahead"
  id="{{ name }}-field"
  {% if filter_name %} data-name="{{ filter_name }}" {% endif %}
  data-dataset="{{ dataset }}" {% if allow_text %}data-allow-text{% endif %}>
  <label class="label" for="{{ name }}">{{ title }}</label>
  <div class="combo combo--search--mini filter__typeahead">
    <ul class="dropdown__selected"></ul>
    <input id="{{ name }}" type="text" class="combo__input">
    <button class="combo__button button--search button--standard" type="button">
      <span class="u-visually-hidden">Search</span>
    </button>
  </div>
  {% if instructions %}
    <span class="filter__instructions">{{ instructions }}</span>
  {% endif %}
</div>
{% endmacro %}
