{% macro years(name, label, max_year=2016, min_year=1978) %}
<fieldset class="js-filter js-dropdown filter">
  <legend class="label">{{ label }}</legend>
  <ul class="dropdown__selected"></ul>
  <div class="dropdown">
    <button type="button" class="dropdown__button button--primary-contrast">More</button>
    <div id="{{ name }}-dropdown" class="dropdown__panel" aria-hidden="true">
      <ul class="dropdown__list">
      {% for year in range(max_year, min_year, -2) %}
        <li class="dropdown__item">
          <input id="{{ name }}-checkbox-{{ year }}" name="{{ name }}" type="checkbox" value="{{ year }}" />
          <label class="dropdown__value" for="{{name}}-checkbox-{{ year }}">{{ year | fmt_year_range }}</label>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</fieldset>
{% endmacro %}
