{% macro field(name='name') %}
<div class="field">
  <label for="state">State or Territory <span class="any" aria-hidden="true">(Any)</span></label>
  <fieldset class="js-checkbox-filters">
    <ul class="dropdown__selected"></ul>
    <div class="dropdown">
      <button class="js-toggle js-dropdown button--dropdown" data-toggles="state-dropdown" >More</button>
      <div id="state-dropdown" class="dropdown__panel" aria-hidden="true">
        <div class="dropdown__search__container">
          <input type="search" class="dropdown__search">
        </div>
        <ul class="dropdown__list">
          <li><label class="dropdown_value" for="state-checkbox-AK"><input name="{{ name }}" id="state-checkbox-AK" type="checkbox" value="AK">Alaska</label></li>
          <li><label class="dropdown_value" for="state-checkbox-AL"><input name="{{ name }}" id="state-checkbox-AL" type="checkbox" value="AL">Alabama</label></li>
          <li><label class="dropdown_value" for="state-checkbox-AS"><input name="{{ name }}" id="state-checkbox-AS" type="checkbox" value="AS">American Samoa</label></li>
          <li><label class="dropdown_value" for="state-checkbox-AR"><input name="{{ name }}" id="state-checkbox-AR" type="checkbox" value="AR">Arkansas</label></li>
          <li><label class="dropdown_value" for="state-checkbox-AZ"><input name="{{ name }}" id="state-checkbox-AZ" type="checkbox" value="AZ">Arizona</label></li>
          <li><label class="dropdown_value" for="state-checkbox-CA"><input name="{{ name }}" id="state-checkbox-CA" type="checkbox" value="CA">California</label></li>
          <li><label class="dropdown_value" for="state-checkbox-CO"><input name="{{ name }}" id="state-checkbox-CO" type="checkbox" value="CO">Colorado</label></li>
          <li><label class="dropdown_value" for="state-checkbox-CT"><input name="{{ name }}" id="state-checkbox-CT" type="checkbox" value="CT">Connecticut</label></li>
          <li><label class="dropdown_value" for="state-checkbox-DC"><input name="{{ name }}" id="state-checkbox-DC" type="checkbox" value="DC">District Of Columbia</label></li>
          <li><label class="dropdown_value" for="state-checkbox-DE"><input name="{{ name }}" id="state-checkbox-DE" type="checkbox" value="DE">Delaware</label></li>
          <li><label class="dropdown_value" for="state-checkbox-FL"><input name="{{ name }}" id="state-checkbox-FL" type="checkbox" value="FL">Florida</label></li>
          <li><label class="dropdown_value" for="state-checkbox-GA"><input name="{{ name }}" id="state-checkbox-GA" type="checkbox" value="GA">Georgia</label></li>
          <li><label class="dropdown_value" for="state-checkbox-GU"><input name="{{ name }}" id="state-checkbox-GU" type="checkbox" value="GU">Guam</label></li>
          <li><label class="dropdown_value" for="state-checkbox-HI"><input name="{{ name }}" id="state-checkbox-HI" type="checkbox" value="HI">Hawaii</label></li>
          <li><label class="dropdown_value" for="state-checkbox-IA"><input name="{{ name }}" id="state-checkbox-IA" type="checkbox" value="IA">Iowa</label></li>
          <li><label class="dropdown_value" for="state-checkbox-ID"><input name="{{ name }}" id="state-checkbox-ID" type="checkbox" value="ID">Idaho</label></li>
          <li><label class="dropdown_value" for="state-checkbox-IL"><input name="{{ name }}" id="state-checkbox-IL" type="checkbox" value="IL">Illinois</label></li>
          <li><label class="dropdown_value" for="state-checkbox-IN"><input name="{{ name }}" id="state-checkbox-IN" type="checkbox" value="IN">Indiana</label></li>
          <li><label class="dropdown_value" for="state-checkbox-KS"><input name="{{ name }}" id="state-checkbox-KS" type="checkbox" value="KS">Kansas</label></li>
          <li><label class="dropdown_value" for="state-checkbox-KY"><input name="{{ name }}" id="state-checkbox-KY" type="checkbox" value="KY">Kentucky</label></li>
          <li><label class="dropdown_value" for="state-checkbox-LA"><input name="{{ name }}" id="state-checkbox-LA" type="checkbox" value="LA">Louisiana</label></li>
          <li><label class="dropdown_value" for="state-checkbox-MA"><input name="{{ name }}" id="state-checkbox-MA" type="checkbox" value="MA">Massachusetts</label></li>
          <li><label class="dropdown_value" for="state-checkbox-MD"><input name="{{ name }}" id="state-checkbox-MD" type="checkbox" value="MD">Maryland</label></li>
          <li><label class="dropdown_value" for="state-checkbox-ME"><input name="{{ name }}" id="state-checkbox-ME" type="checkbox" value="ME">Maine</label></li>
          <li><label class="dropdown_value" for="state-checkbox-MI"><input name="{{ name }}" id="state-checkbox-MI" type="checkbox" value="MI">Michigan</label></li>
          <li><label class="dropdown_value" for="state-checkbox-MN"><input name="{{ name }}" id="state-checkbox-MN" type="checkbox" value="MN">Minnesota</label></li>
          <li><label class="dropdown_value" for="state-checkbox-MO"><input name="{{ name }}" id="state-checkbox-MO" type="checkbox" value="MO">Missouri</label></li>
          <li><label class="dropdown_value" for="state-checkbox-MS"><input name="{{ name }}" id="state-checkbox-MS" type="checkbox" value="MS">Mississippi</label></li>
          <li><label class="dropdown_value" for="state-checkbox-MT"><input name="{{ name }}" id="state-checkbox-MT" type="checkbox" value="MT">Montana</label></li>
          <li><label class="dropdown_value" for="state-checkbox-NC"><input name="{{ name }}" id="state-checkbox-NC" type="checkbox" value="NC">North Carolina</label></li>
          <li><label class="dropdown_value" for="state-checkbox-ND"><input name="{{ name }}" id="state-checkbox-ND" type="checkbox" value="ND">North Dakota</label></li>
          <li><label class="dropdown_value" for="state-checkbox-NE"><input name="{{ name }}" id="state-checkbox-NE" type="checkbox" value="NE">Nebraska</label></li>
          <li><label class="dropdown_value" for="state-checkbox-NH"><input name="{{ name }}" id="state-checkbox-NH" type="checkbox" value="NH">New Hampshire</label></li>
          <li><label class="dropdown_value" for="state-checkbox-NJ"><input name="{{ name }}" id="state-checkbox-NJ" type="checkbox" value="NJ">New Jersey</label></li>
          <li><label class="dropdown_value" for="state-checkbox-NM"><input name="{{ name }}" id="state-checkbox-NM" type="checkbox" value="NM">New Mexico</label></li>
          <li><label class="dropdown_value" for="state-checkbox-NV"><input name="{{ name }}" id="state-checkbox-NV" type="checkbox" value="NV">Nevada</label></li>
          <li><label class="dropdown_value" for="state-checkbox-NY"><input name="{{ name }}" id="state-checkbox-NY" type="checkbox" value="NY">New York</label></li>
          <li><label class="dropdown_value" for="state-checkbox-MP"><input name="{{ name }}" id="state-checkbox-MP" type="checkbox" value="MP">Northern Mariana Islands</label></li>
          <li><label class="dropdown_value" for="state-checkbox-OH"><input name="{{ name }}" id="state-checkbox-OH" type="checkbox" value="OH">Ohio</label></li>
          <li><label class="dropdown_value" for="state-checkbox-OK"><input name="{{ name }}" id="state-checkbox-OK" type="checkbox" value="OK">Oklahoma</label></li>
          <li><label class="dropdown_value" for="state-checkbox-OR"><input name="{{ name }}" id="state-checkbox-OR" type="checkbox" value="OR">Oregon</label></li>
          <li><label class="dropdown_value" for="state-checkbox-PA"><input name="{{ name }}" id="state-checkbox-PA" type="checkbox" value="PA">Pennsylvania</label></li>
          <li><label class="dropdown_value" for="state-checkbox-PR"><input name="{{ name }}" id="state-checkbox-PR" type="checkbox" value="PR">Puerto Rico</label></li>
          <li><label class="dropdown_value" for="state-checkbox-RI"><input name="{{ name }}" id="state-checkbox-RI" type="checkbox" value="RI">Rhode Island</label></li>
          <li><label class="dropdown_value" for="state-checkbox-SC"><input name="{{ name }}" id="state-checkbox-SC" type="checkbox" value="SC">South Carolina</label></li>
          <li><label class="dropdown_value" for="state-checkbox-SD"><input name="{{ name }}" id="state-checkbox-SD" type="checkbox" value="SD">South Dakota</label></li>
          <li><label class="dropdown_value" for="state-checkbox-TN"><input name="{{ name }}" id="state-checkbox-TN" type="checkbox" value="TN">Tennessee</label></li>
          <li><label class="dropdown_value" for="state-checkbox-TX"><input name="{{ name }}" id="state-checkbox-TX" type="checkbox" value="TX">Texas</label></li>
          <li><label class="dropdown_value" for="state-checkbox-UT"><input name="{{ name }}" id="state-checkbox-UT" type="checkbox" value="UT">Utah</label></li>
          <li><label class="dropdown_value" for="state-checkbox-VI"><input name="{{ name }}" id="state-checkbox-VI" type="checkbox" value="VI">Virgin Islands</label></li>
          <li><label class="dropdown_value" for="state-checkbox-VA"><input name="{{ name }}" id="state-checkbox-VA" type="checkbox" value="VA">Virginia</label></li>
          <li><label class="dropdown_value" for="state-checkbox-VT"><input name="{{ name }}" id="state-checkbox-VT" type="checkbox" value="VT">Vermont</label></li>
          <li><label class="dropdown_value" for="state-checkbox-WA"><input name="{{ name }}" id="state-checkbox-WA" type="checkbox" value="WA">Washington</label></li>
          <li><label class="dropdown_value" for="state-checkbox-WI"><input name="{{ name }}" id="state-checkbox-WI" type="checkbox" value="WI">Wisconsin</label></li>
          <li><label class="dropdown_value" for="state-checkbox-WV"><input name="{{ name }}" id="state-checkbox-WV" type="checkbox" value="WV">West Virginia</label></li>
          <li><label class="dropdown_value" for="state-checkbox-WY"><input name="{{ name }}" id="state-checkbox-WY" type="checkbox" value="WY">Wyoming</label></li>
        </ul>
      </div>
    </div>
  </fieldset>
</div>
{% endmacro %}
