{% macro field(name, title, attrs={}) %}
<div class="filter" id="{{ name }}-field">
  <label class="label" for="{{ name }}">{{ title }}</label>
  <div class="input--removable">
    <input id="{{ name }}" type="text" name="{{ name }}"
      {% for attr, value in attrs.items() %}
        {{ attr }}="{{ value }}"
      {% endfor %}
    />
    <button type="button" class="button--remove button" data-removes="{{ name }}"><span class="u-visually-hidden">Remove</span></button>
  </div>
</div>
{% endmacro %}
