<section id="section-1" role="tabpanel" aria-hidden="true" aria-labelledby="section-1-heading">
  <div class="container">
    <div class="heading--section">
      <h2 id="section-1-heading">Financial comparison</h2>
    </div>
    <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
      <div class="entity__figure row">
        <div class="results-info results-info--simple">
          <div class="row">
            <h3 class="results-info__title">Candidates in this election</h3>
          </div>
          <div class="row u-padding--bottom">
            <span>This page only shows candidates who have registered <em>and</em> filed a financial report. Looking for <a href="{{ url_for('candidates', office=office_code|upper, cycle=cycle, district=district, state=state|upper) }}">all candidates who filed</a>?</span>
          </div>
          <div class="row">
            <span class="t-block usa-width-three-fourths">Totals reflect the sum reported by all of a candidate's authorized committees.</span>
            <div class="usa-width-one-fourth t-right-aligned">
              <span class="is-incumbent t-sans t-note">Incumbent</span>
            </div>
          </div>
        </div>
        <table id="results" class="data-table data-table--heading-borders scrollX" data-type="candidates">
          <thead>
            <th role="col">Candidate</th>
            <th role="col">Party</th>
            <th role="col">Total receipts</th>
            <th role="col">Total disbursements</th>
            <th role="col">Cash on hand</th>
            <th role="col">Source reports</th>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>
