
.accordion__header {
  position: relative;
}

.accordion__button {
  display: block;
  right: 1%;
  position: absolute;

  .accordion__icon {
    @include icon-after("\e622");
  }
}

.accordion--collapsed {
  .accordion__icon {
    @include icon-after("\e61a");
  }
}