
.accordion__header {
  position: relative;
}

.accordion__button {
  @include icon-circle;
  @include icon-after("\e622");
  display: block;
  right: 1%;
  position: absolute;
  top: .3rem;

  &:hover {
    color: #fff;
  }

  &:after {
    font-size: 1.5rem !important;
    margin-left: 0 !important;
    position: absolute;
    left: .5rem;
    top: .5rem;
  }

  @include media($medium) {
    top: 25%;
  }
}

.accordion--collapsed {
  .accordion__button {
    @include icon-after("\e61a");
  }
}