#notice {
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  padding: 20px;
  padding: 2rem;

  p:last-child {
    margin-bottom: 0;
  }

  .js-hide {
    float: right;
  }

  .link--icon {
    text-decoration: none;
  }
}