#notice {
  box-shadow: inset 0 -1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding: 2rem;
  text-align: center;

  h3,
  h4 {
    font-weight: normal;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .js-hide {
    float: right;
  }

  .link--icon {
    text-decoration: none;
  }

  &[aria-hidden="true"] {
    display: block;
    top: -50px;
  }
}