
// A sectioned off and bordered box with portions.
.box {
  @include clearfix();
  @include rem(margin-bottom, 2.0rem);
  border: 1px solid $light-gray;
  clear: both;
}

.box__portion {
  border-top: 1px solid $light-gray;
  padding: .5rem;

  &:first-of-type {
    border-top: 0;
  }

  @include media($medium) {
    padding: 1rem 1.5rem;
  }
}

.box__portion--dark {
  background-color: $lightest-gray;
}

.box__header {
  line-height: 1.6rem;
  padding: 0 2rem;
}

.box__right {
  float: right;
  margin-right: -2rem;
  padding: 0 1.5rem;
}

.box__title {
  margin: 0;
}
