// Styles for card-based layouts

// If we're showing a grid of cards. Default is 2 across
.card-grid {
  @include clearfix();
  @include display(flex);
  @include flex-direction(column);
  padding: 2rem 0;
  clear: both;

  @include media($medium) {
    @include flex-direction(row);

    .card {
      @include span-columns(6);
      margin-bottom: 0;
    }
  }

  @include media($large) {
    .card {
      @include span-columns(12);
    }
  }
}

.card {
  @include clearfix();
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.card {
  @include rem(padding, 2.0rem);
  border: 1px solid $light-blue-gray;
  background: $meta-box-color;
}