.data--disbursements {
  background: $data-disbursement;
}

.data--receipts {
  background: $data-receipt;
}

.data--cash,
.data--cash_on_hand {
  background: $data-cash;
}

.data--debt,
.data--debts_owed {
  background: $data-debt;
}

.chart-series:not(.chart-series--horizontal) {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(flex-end);

  margin: 1em 0;

  .chart-series__bar {
    @include flex(1);

    // for positioning labels
    position: relative;

    margin-left: 1em;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .chart-series__group {
    @include flex(1);
    @include display(flex);
    @include flex-direction(row);
    @include align-items(flex-end);

    margin-left: 1em;

    &:first-of-type {
      margin-left: 0;
    }

    .chart-series__bar + .chart-series__bar {
      margin-left: .5em;
    }

  }

  .chart-series__bar__label,
  .chart-series__bar__value {
    display: none;
  }
}

