// Header styles for candidate, committee and district pages

.entity__header--top {
  @include rem(padding-top, 2.0rem);
}

.entity__name {
  @include font-size(3.1);
  font-weight: bold;
}

.entity__type {
  @include font-size(2.0);
  @include rem(line-height, 2.4rem);
  display: block;
  padding: .5em 0;
}

.time-period {
  float: right;

  label {
    display: inline-block;
  }

  .chosen-container {
    width: auto;
  }

  .chosen-container-single .chosen-single  {
    @include font-size(1.4);
    display: inline-block;
    width: 150px;
    height: 32px;
    line-height: 32px;
  }
}

.entity__info {
  @include clearfix(); 
  @include font-size(1.6); 
  margin: 1.25em 0;
  width: 100%;

  h5 {
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid $licorice;
  }

  dl {
    margin: 0;
  }
}

.entity__term {
  @include span-columns(4, block-collapse);
}

.entity__term--wide {
  @include span-columns(8, block-collapse);
}

.entity__term--extra-wide {
  @include span-columns(16);
}

.entity__related-entities {
  dl {
    @include span-columns(8 of 16);
  }

  dd {
    @include font-size(1.4);
  }
}


// Candidate-specific styles

.candidate {

}

// Committee summary boxes on the Candidate Financial Summary page

.committee-summary {
  @include clearfix();

  .row {
    @include rem(margin-bottom, 3rem);
  }

  .quick-links {
    @include span-columns(6);
  }

  .totals-table {
    @include span-columns(24);
  }

  .chart--c-d,    // Cash & debt chart
  .chart--r-d  {  // Receipts and disbursements chart
    @include span-columns(24);
  }
}

.other-committees {
  .figure-group {
    border-color: $light-blue-gray;
  }
  
  .figure-group__side {
    background-color: $light-blue-gray;
  }
}
