// Header styles for candidate, committee and district pages

.entity__header--top {
  padding: 1rem 0;

  @include media($large) {
    padding: 2rem 0;
  }
}

.entity__header--bottom {
  padding-bottom: 1rem;

  @include media($large) {
    padding-bottom: 2rem;
  }
}

.entity__header {
  @include white-links();

  &.page-header {
    padding: 1rem 0;
  }
}

.entity__name {
  font-weight: bold;
}

.entity__id {
    color: #dde7f4;
}

.entity__type {
  @include font-size(1.6);
  line-height: 1.2;
  display: block;
  padding: .5rem 0;
  float: left;

  @include media($medium) {
    @include font-size(2.0);
  }
}

.entity__info {
  @include clearfix(); 
  @include font-size(1.4); 
  margin: 1rem 0;
  width: 100%;

  @include media($medium) {
    display: table;
    @include font-size(1.6);
  }
}

.entity__term {
  @include clearfix();
  width: 100%;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
  
  @include media($medium) {
    display: table-cell;
    width: auto;
    margin-bottom: 0;
  }
}

.entity__header {
  @include media($medium) {
    .entity__term {
      max-width: 200px;
    }
  }
}

.entity__term--aligned {
  @include media($medium) {
    vertical-align: top;
  }
}

.entity__term--icon {
  min-width: 3rem;
  width: 3rem;
  text-align: center;
}

.entity__term__label {
  color: #fff;
  font-weight: bold;

  @include media($medium) {
    display: block;
    width: 100%;
    border-bottom: 1px solid $licorice;
    padding: 0 1rem;
  }
}

.entity__term__data {
  @include media($medium) {
    display: block;
    width: 100%;
    padding: 0 1rem;
  }
}

.entity__info--search {
  @include clearfix();

  .entity__term {
    width: 100%;
    vertical-align: top;
    float: left;
    margin-bottom: 0;
  }

  .entity__term__data {
    padding-left: 0;
  }

  .entity__term--icon {
    display: none;
  }

  .entity__type {
    float: none;
    padding: 0;
  }

  @include media($medium) {
    .entity__term,
    .entity__term--icon {
      width: auto;
      display: block;
    }
  }
}

.time-period {  
  label {
    @include font-size(1.4);
    width: 40%;
    margin-right: 1rem;
    display: inline-block;
    padding: 1rem 0;
    line-height: 2rem;
  }

  select {
    display: inline-block;
    height: 3rem;
    margin-bottom: .5rem;
  }

  @include media($medium) {
    display: inline;
    text-align: right;
    font-size: 1.8rem;
    line-height: 3.7rem;
    padding: 0 4rem 0 1rem;
    height: auto;

    label {
      @include font-size(1.6);
      width: auto;
    }
  }
}

// Candidate-specific styles

.candidate {

}

// Committee summary boxes on the Candidate Financial Summary page

.committee-summary {
  @include clearfix();

  .row {
    @include rem(margin-bottom, 3rem);
  }

  .quick-links {
    @include span-columns(6);
  }

  .totals-table {
    @include span-columns(24);
  }

  .chart--c-d,    // Cash & debt chart
  .chart--r-d  {  // Receipts and disbursements chart
    @include span-columns(24);
  }
}

.other-committees {
  .figure-group {
    border-color: $light-blue-gray;
  }
  
  .figure-group__bar {
    background-color: $light-blue-gray;
  }
}
