// Header styles for candidate, committee and district pages

.entity__header {
  padding: 2em 0;
}

.entity__header--top {
  padding: 1em 0 0;
  border-bottom: 4px solid;
}

.entity__name {
  @include font-size(3.1);
}

.entity__type {
  @include font-size(2.0);
}

.time-period {
  float: right;

  label {
    display: inline-block;
  }

  .chosen-container {
    width: auto;
  }

  .chosen-container-single .chosen-single  {
    @include font-size(1.4);
    display: inline-block;
    width: 150px;
    height: 32px;
    line-height: 32px;
  }
}

.entity__info {
  @include clearfix(); 
  @include font-size(1.6); 
  margin: 1.25em 0;
  width: 100%;

  h4 {
    color: $licorice;
    font-weight: normal;
    border-bottom: 1px solid $licorice;
  }

  dl {
    margin: 0;
  }
}

.entity__term {
  @include span-columns(4, block-collapse);
}

.entity__term--wide {
  @include span-columns(8, block-collapse);
}

.entity__term--extra-wide {
  @include span-columns(16);
}

.entity__related-entities {
  dl {
    @include span-columns(8 of 16);
  }

  dd {
    @include font-size(1.4);
  }
}


// Candidate-specific styles

.candidate {
  .entity__header {
    background-color: $licorice;
    color: #fff;

    a {
      color: #fff;
      text-decoration: underline;
    }

    .chosen-container a {
      color: $blue;
    }

    .entity__info h4 {
      color: #99A4B1;
      border-bottom: 1px solid #99A4B1;
    }

    .entity__header--top {
      border-bottom-color: #99A4B1;
    }

    .entity__term h4 {
      color: #99A4B1;
      border-bottom-color: #99A4B1;
    }
  }
}

// Committee summary boxes on the Candidate Financial Summary page

.committee-summary {
  @include clearfix();

  .row {
    @include rem(margin-bottom, 2rem);
  }

  .quick-links {
    @include span-columns(6);
  }

  .totals-table {
    @include span-columns(18);
  }

  .chart--c-d,    // Cash & debt chart
  .chart--r-d  {  // Receipts and disbursements chart
    @include span-columns(24);
  }
}

.totals-table {
  @include font-size(1.6);

  .table__cell:first-child {
    font-weight: bold;
  }
}

// Committee page
.committee {
  .entity__header {
    background-color: $committee-bg;
  }

  .entity__header--top {
    border-bottom-color: #63636E;
  }

  .entity__type {
    background-color: #63636E;
    color: $committee-bg;
  }

  .entity__term h4 {
    color: #63636E;
    border-bottom-color: #63636E;
  }
}

.chunk--two-thirds {
  .entity__info {
    dt {
      width: 25%;
    }

    dd {
      width: 75%;
    }
  }
}
