// Styles for error pages

.error-container {
  padding: 2rem;
	margin-bottom: 0;
	text-align: center;

  @include media($medium) {
    @include span-columns(10);
    @include shift(1);
    padding: 3rem;
  }
}

.error-container__bottom {
	margin-top: 1.25em;
	padding: 1.25em 0 0;
	border-top: 1px solid $light-gray;
}

.error-nav {
	@include span-columns(18);
	@include shift(3);
	padding: 1.25em 0;
}