// Resetting default margin on figures
figure {
  margin: 0;

  figcaption {
    margin-bottom: 1em;
  }
}

// Simple two-column faux tables using divs

.table__row {
  @include clearfix();
}

.table__cell {
  float: left;
}

.table__row--note {
  width: 100%;
  font-weight: normal;
  display: block;
}

.table__row--total {
  font-weight: bold;
  margin-top: 1em;
}

// If you're actually using table markup

.mini-table {
  border: none;
  margin-top: .5em;

  tr {
    background: none;
  }

  td {
    padding: 0;
  }
}

// Contained in a subsection, this is a group of figures (i.e. for a committee)
.figure-group {
  @include secondary-divider();
  @include span-columns(24);
  @include clearfix();
  padding: 2em 0;

  &:first-of-type {
    padding-top: 1em;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  h5 {
    margin-bottom: .5em;
  }
}

.figure-group__description {
  margin-bottom: 2em;
}

.figure-group__graphic {
  @include span-columns(16);
}

.figure-group__summary {
  @include span-columns(8);
  margin-bottom: 0;

  .table__cell {
    &:first-of-type {
      width: 80%;
    }

    &:last-of-type {
      width: 20%;
    }
  }
}

.figure-group__controls {
  margin-bottom: 0;

  input[type="checkbox"] {
    display: inline-block;
  }

  label {
    display: inline-block;
  }

  .controls--slider {
    margin-top: 1em;
  }
}

// Finance tables like the Key Numbers tables on committee pages

.finance-table {
  .table__row {
    @include secondary-divider();
    padding: 1em 0;
  }

  .table__cell {
    &:nth-child(1) {
      width: 45%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(3) {
      width: 30%;
    }
  }

  .table__row--note {
    padding-top: 1em;
  }
}
