// Resetting default margin on figures
figure {
  margin: 0;

  figcaption {
    margin-bottom: 1em;
  }
}

// Contained in a subsection, this is a group of figures (i.e. for a committee)
.figure-group {
  @include clearfix();
  @include transition(height, .5s);
  @include rem(margin-bottom, 5.0rem);
  clear: both;
  border: 1px solid $licorice-3;
  position: relative;

  .js-reveal-button {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -62px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.figure-group__block {
  border-top: 1px solid $light-gray;
  padding: .5rem;

  @include media($medium) {
    padding: 1rem 2rem;
  }
}

.figure-group__block--dark {
  background-color: $lightest-gray;
}

.figure-group__bar {
  @include white-links();
  color: #fff;
  background-color: $licorice-3;
  padding: .3125em;
}

.figure-group__header {
  @include clearfix();
  padding: 1rem;
  border-bottom: 1px solid $light-gray;

  @include media($medium) {
    padding: 2rem;
  }
}
.figure-group__header--short {
  padding: 0 1rem;
}

.figure-group__title {
  margin: 0;
}

h3.figure-group__title {
  margin: 0;
}

.figure-group__description {
  @include font-size(1.4);
}

.figure-group__inner {
  padding: 1rem;

  @include media($medium) {
    padding: 2rem;
  }
}

.figure-group__graphic {
  @include span-columns(16);
}

.figure-group__controls {
  margin-bottom: 0;

  input[type="checkbox"] {
    display: inline-block;
  }

  label {
    display: inline-block;
  }

  .controls--slider {
    margin-top: 1em;
  }
}

.figure__title {
  @include clearfix();
  border-bottom: 1px solid $medium-gray;

  h4 {
    float: left;
    margin-bottom: 0;
  }
}

.figure__key {
  float: right;
  margin-top: 2px;
  
  li {
    @include rem(margin-right, 2.0rem);
  }
  .swatch {
    @include rem(margin-right, 1.0rem);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 0;
    display: inline-block;
  }
}

// Finance tables like the Key Numbers tables on committee pages

.finance-table {
  .table__row {
    @include secondary-divider();
    padding: 1em 0;
  }
  
  .table__row--note {
    padding-top: 1em;
  }
}
