// Resetting default margin on figures
figure {
  margin: 0;

  figcaption {
    margin-bottom: 1em;
  }
}

// Contained in a subsection, this is a group of figures (i.e. for a committee)
.figure-group {
  @include clearfix();
  @include transition(height, .5s);
  @include rem(margin-bottom, 5.0rem);
  clear: both;
  border: 1px solid $licorice-3;
  position: relative;

  .js-reveal-button {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -62px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.figure-group__side {
  background-color: $licorice-3;
  width: 1.875em;
  padding: .3125em;
  position: absolute;
  height: 100%;
}

.figure-group__main {
  padding-left: 1.875em;
}

.figure-group__header {
  @include clearfix();
  @include rem(padding, 2rem 2rem);
  border-bottom: 1px solid $light-gray;
}

.figure-group__title {
  margin: 0;
}

.figure-group__description {
  @include font-size(1.4);
}

.figure-group__inner {
  @include rem(padding, 2rem 2rem);
}

.figure-group__graphic {
  @include span-columns(16);
}

.figure-group__controls {
  margin-bottom: 0;

  input[type="checkbox"] {
    display: inline-block;
  }

  label {
    display: inline-block;
  }

  .controls--slider {
    margin-top: 1em;
  }
}

.figure__title {
  border-bottom: 1px solid $medium-gray;
}

// Finance tables like the Key Numbers tables on committee pages

.finance-table {
  .table__row {
    @include secondary-divider();
    padding: 1em 0;
  }
  
  .table__row--note {
    padding-top: 1em;
  }
}
