// MODULE: Filter fields

.field.active {
  label {
    color: $green;
  }

  .chosen-single, input {
    border: 2px solid $green;
  }
}

.field {
  margin-bottom: 1.25em;

  select {
    width: 100%;
    height: 40px;
  }
}

.controls--fixed {
  #filters {

  }
}
