// MODULE: Filter fields

.field.active {
  .button--remove {
    display: block;
  }
}

.field {
  @include clearfix();
  @include span-columns(24);
  margin-bottom: 1.25em;

  input,
  select {
    margin: 0 2% 0 0;
    float: left;
    height: 3rem;
    width: 82%;
  }

  &:nth-child(even) {
    margin-right: 0;
  }
  
  @include media($medium) {
    @include span-columns(6);
    input, 
    select {
      width: 87%;
    }
  }

  @include media($large) {
    width: 100%;

    input,
    select {
      width: 82%;
    }
  }
}

.controls--fixed {
  #filters {

  }
}

.button--remove {
  display: none;
  padding: .5rem;
  float: left;
}