footer {
    @include clearfix();
    @include rem(height, 10rem);
    min-height: 20%;
    padding: 2em;
    background-color: $licorice-2;
    color: #fff;

  a,
  a:hover,
  a:active {
    color: #fff;
  }
}

.footer__left {
    img {
        margin-right: 1.25em;
    }
}

.footer__right {
    margin: 2rem 0;

    @include media($medium) {
        margin: 0;
        text-align: right;
    }
}

.footer__left,
.footer__right {
    @include clearfix;

    @include media($medium) {
        @include span-columns(6);
    }
}

.footer__nav {
    li {
        display: inline-block;
        padding: 0 2rem;

        &:first-child {
            padding-left: 0;
        }
    }
}