.term {
	padding: 2px 4px;
	display: inline-block;
	border-bottom: 1px dotted #fff;
	cursor: pointer;
}

.term--highlight {
	background: #fff;
	color: $blue;
}
.glossary__term {
	padding: 1em 0;
}

#glossary {
	.tt-dropdown-menu {
		width: 100%;
	}
}