// MODULE: Header
#notice-reveal {
  display: none;

  &.visible {
    display: inline;
  }
}

.banner {
  @include font-size(1.2);
  text-align: center;
  padding: .5em;
  border-bottom: 1px solid $licorice;
}

.banner--left {
  float: left;
  display: none;

  @include media($medium) {
    display: block;
  }
}

.banner--center {
  display: none;

  @include media($medium) {
    display: inline;
  }
}

.banner--right {
  @include media($medium) {
    float: right;
    display: block;
  }
}

.site-header {
  @include white-links();
  background: $licorice-2;
  color: #fff;
}

.header-nav {
  @include clearfix();
  display: none;
  float: left;

  @include media($medium) {
    display: block;
  }
}

.header-nav__list {
  @extend .flat-list;
  float: left;
}

.site-header {
  .header-nav__link {
    @include rem(padding, 1.6rem 2rem); 
    @include font-size(1.8);
    @include rem(line-height, 2.4rem);
    @include transition(background-color .1s);
    text-align: center;
    display: block;
    text-decoration: none;

    &:hover,
    &:active {
      background: $licorice;
      color: #fff;
      text-decoration: none;
    }
  } 

  .header-nav__link:focus,
  .header-brand:focus {
    position: relative;
    z-index: 9;
    background: $licorice-2;
    color: #fff;
  }    
}

.header__left {
  @include span-columns(20, block-collapse);
}

.header__right {
  @include span-columns(4, block-collapse);
}

.header-brand {
  @include span-columns(15 of 20, block-collapse);
  padding: 1rem 2rem;
  display: block;
  text-align: center;
  position: relative;
}

.site-header .side-toggle {
  padding: 1.6rem 0;

  @include media($medium) {
    width: auto;
    padding: 1.6rem 2rem;
  }
}

#site-menu-toggle {
  @include span-columns(4 of 20, block-collapse);
  float: left;

  @include media($medium) {
    display: none;
  }
}

#glossary-toggle {
  @include span-columns(8 of 8, block-collapse);
  border-left: 1px solid $light-gray;
  border-right: none;
  float: right;
}

@include media($medium) {
  .header__left {
    @include span-columns(16 of 24, block-collapse);
  }

  .header__right {
    @include span-columns(8 of 24, block-collapse);
  }

  .header-brand {
    width: auto;
    float: left;
  }

  #glossary-toggle {
    @include span-columns(2 of 8, block-collapse);
  }
}

.header-search {
  @include clearfix();
  display: none; // Hiding on $small
  padding: 1rem 0;
  margin-right: 0;
  float: left;

  input[type="text"],
  button {
  	height: 3rem;
    margin-bottom: 0;
    border: none;
  }

  input[type="text"],
  .tt-dropdown-menu {
  	width: 80%;
  }

  .search-submit {
  	width: 20%;
  	padding: 0;
  }

  @include media($medium) {
    @include span-columns(6 of 8);
    display: block;
  }
}

#site-menu-toggle {
  float: left;

  @include media($medium) {
    display: none;
  }
}

.section-header {
  border-bottom: 2px solid $medium-gray;
}

#glossary-toggle {
  border-left: 1px solid $light-gray;
  border-right: none;
  float: right;
}
