// MODULE: Hero Unit
.hero {
  @include rem(padding, 6.0rem 0);
  color: #fff;
  text-align: center;
  background-color: $licorice;
  background-image: url('../img/mesh@2x.png');
  background-size: contain;
}

.hero__content {
  @include span-columns(18);
  @include shift(3);
}

@include media($small) {
  .hero {
    padding: 2em 0;
  }
}
