// MODULE: Hero Unit
.hero {
  padding: 5em 0;
  color: #fff;
  text-align: center;
  background-color: $page-header;
  background-image: url('../img/mesh@2x.png');
  background-size: contain;
}

.sub-hero {
  text-align: center;
  padding: 3em 0;
}

@include media($small) {
  .hero {
    padding: 2em 0;
  }
}
