// MODULE: Hero Unit
.hero {
  padding: 2rem 0;
  color: #fff;
  text-align: center;
  background-color: $licorice;
  background-image: url('../img/mesh@2x.png');
  background-size: contain;

  @include media($large) {
    padding: 6rem 0;
  }
}

.hero__content {
  @include media($large) {
    @include span-columns(18);
    @include shift(3);    
  }
}