// MODULE: Meta box
// For things like pagination controls and chart controls

.meta-box {
  @include span-columns(24);
  margin-bottom: 2em;
  padding: 1em;
  background-color: $meta-box-color;
  border: 1px solid $light-gray;
}

.meta-box--bottom {
  margin-top: 2em;
}