// MODULE: Meta box
// For things like pagination controls and chart controls

.meta-box {
  @include clearfix();
  padding: 1rem;
  background-color: $meta-box-color;
  border: 1px solid $light-gray;
}

.meta-box--bottom {
  margin-top: 2em;
}

.recent-report {
  padding: 0;
  position: relative;

  h4 {
    width: 100%;
    background: $licorice;
    color: $meta-box-color;
    padding: 1rem 2rem;
    margin-bottom: 0;
  }

  .totals-table .table__row {
    padding: .5rem 1rem;
  }

  @include media($medium) {
    .totals-table .table__row {
      padding: .5rem 2rem;
    }
  }
}