// MODULE: Page nav
.page-nav {
  background-color: $licorice;
}

.page-nav {
  @extend %flat-list;
}

.page-nav__item {
  @include span-columns(6, block-collapse);
}

.page-nav__link {
  @include transition(background-color .1s);
  text-align: center;
  padding: 2rem;
  border-right: 1px solid $light-gray;
  color: #fff;
  display: block;
  font-size: 1.125rem;
  line-height: 2rem;

  &:hover {
    background-color: $licorice-2;
    color: #fff;
  }
}

.page-nav__search {
  @include span-columns(12, block-collapse);
  margin-right: 0;
  padding: 2rem 2rem 2rem 0;
  border-right: 1px solid $light-gray;

  .search-bar,
  .search-submit {
    height: 2rem;
    margin-bottom: 0;
    border: none;
  }

  .search-submit {
    padding: 0;
  }
}


@include media($small) {
  .page-nav__item {
    @include span-columns(2, block-collapse);
  }

  .page-nav__link {
    padding: .5rem;

    &:last-child {
      border-right: none;
    }
  }

  .page-nav__search {
    @include span-columns(4);
    border-right: none;
    padding: .5rem 0 0 0;
  }
}
