.page-tabs {
  background: $licorice-2;
  text-align: left;
  padding: 0;
}

.page-tabs__title {
  @include rem(padding, 1rem 2rem);
  float: left; 
  color: #fff;
}

.page-tabs__item {
  display: inline-block;
  margin-left: -4px; // Removing extra space from inline-block display

  a {
    @include font-size(1.6);
    @include rem(padding, 1rem 2rem);
    color: #fff;
    display: block;
    border-right: 1px solid #fff;
    text-decoration: none;

    &[aria-selected="true"] {
      background-color: #fff;
      color: $licorice-2;
    }
  }

  &:first-child {
    a {
      border-left: 1px solid #fff;
    }
  }


}
