// MODULE: Page nav
.page-nav {
  background-color: $licorice;
}

.page-nav {
  @extend %flat-list;
}

.page-nav__item {
  @include span-columns(6, block-collapse);
}

.page-nav__link {
  @include font-size(1.8);
  @include rem(padding, 2rem);
  @include transition(background-color .1s);
  text-align: center;
  border-right: 1px solid $light-gray;
  color: #fff;
  display: block;
  line-height: 2;

  &:hover {
    background-color: $licorice-2;
    color: #fff;
  }
}

.page-nav__search {
  @include span-columns(12, block-collapse);
  @include rem(padding, 2rem 2rem 2rem 0);
  margin-right: 0;
  border-right: 1px solid $light-gray;

  .search-bar,
  .search-submit {
    @include rem(height, 3.2rem);
    margin-bottom: 0;
    border: none;
  }

  .search-submit {
    padding: 0;
  }
}


@include media($medium) {
  .page-nav__link {
    @include rem(padding, .5rem);

    &:last-child {
      border-right: none;
    }
  }

  .page-nav__search {
    @include rem(padding, .5rem);
  }
}

@include media($small) {
  .page-nav__item {
    @include span-columns(2, block-collapse);
  }

  .page-nav__search {
    @include span-columns(4);
    @include rem(padding, .5rem 0 0 0);
    border-right: none;
  }
}
