.page-tabs {
  background-color: $light-gray;
  text-align: center;
  padding: .5em 0 0 0;
}

.page-tabs__item {
  display: inline-block;
  margin-left: -4px; // Removing extra space from inline-block display
  
  a {
    @include font-size(1.8);
    display: block;
    padding: .5em 2em;
    border-right: 1px solid $medium-gray;

    &[aria-selected="true"] {
      border-bottom: .5em solid $blue;
    }
  }

  &:last-child {
    a {
      border-right: none;
    }
  }


}
