.page-header {
  padding: 1rem 2rem;	

	h1 {
		margin-bottom: 0;
	}
}

.page-header--dark {
  @include white-links();
  background: $page-header;
  color: #fff;
  padding: 1rem 0;
}

.page-controls {
  @include clearfix();
  border-bottom: 1px solid $light-gray;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
}

.page-controls--dark {
  background: $page-header;
  border-top: 1px solid $filter-bg;
  color: #fff;
  padding: 0;
}

// Fixing posiiton of page controls
.controls--fixed {
  .page-controls {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid $light-gray
  }

  .page-controls--dark {
    border-bottom: none;
  }

  .page-controls__top {
    display: block;
  }
}

.page-controls__bottom {
  width: 100%;
}

.page-controls__top {
  @include rem(padding, 1rem);
  display: none;
  border-bottom: 1px solid $licorice;
}

.page-controls__title {
  @include font-size(1.6);
}
