
.panel__overlay {
  @include transform(translateX(100%));
  background: $lightest-gray;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;

  &[aria-hidden="false"] {
    @include transform(translateX(0%));
  }

  @include media($medium) {
    &[aria-hidden="false"] {
      @include transform(translateX(100%));
    }

    background: white;
    border: 1px solid $light-gray;
    width: 95%;
  }
}

.panel {
  background: $lightest-gray;
  padding: 2rem 1rem;

  @include media($medium) {
    padding: 0;
  }
}

.panel__row {
  background: white;
  margin-top: 3px;
  padding: .65rem 1.5rem;

  table {
    border: 0;
  }

  td {
    border-bottom: 0 !important;
    padding: .3rem 0 !important;

    &:first-child {
      font-weight: bold;
    }
  }

  @include media($medium) {
    border-bottom: 1px solid $light-gray;
    padding: 10px 18px;
    margin-top: 0;

    &:last-child {
      border-bottom: none;
    }
  }
}
