
.panel__overlay {
  background: $lightest-gray;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.panel {
  background: $lightest-gray;
  padding: 2rem 1rem;
}

.panel__row {
  background: white;
  margin-top: 3px;
  padding: .65rem 1.5rem;

  table {
    border: 0;
  }

  td {
    border-bottom: 0;
    padding: .3rem 0 !important;

    &:first-child {
      font-weight: bold;
    }
  }
}
