// MODULE: Progress bar
//
#progress {
  top: 2rem;
}

#nprogress {
  background: $light-gray;
  height: 10px;

  .bar {
    background: $green;
    height: 10px;
  }

  .peg {
    display: none;
  }
}

.nprogress-busy {
  #results,
  #filters,
  #candidates,
  #committees {
    @include transition(opacity .2s);
    opacity: .5;
  }
}
