// MODULE: Search bar

.search-bar {
  float: left;
  margin: 0;
  border: 0;
}

#large-search {
  label {
    margin-bottom: 30px;
  }
  
  @include media($medium) {
    .input-button-combo {
      height: 6rem;
      font-size: 2.0rem;
    }
  }
  
  @include media($large) {
    @include span-columns(18 of 22);
    @include shift(2 of 22);

    .search__select {
      min-width: 160px;
    }

    .search-submit {
      min-width: 60px;
    }
  }
}

.search__select {
  min-width: 140px;
}

.search-submit {
  min-width: 40px;
}

// Typeahead
.twitter-typeahead {
  @include display(flex);
  width: 50%;
}

.tt-dropdown-menu {
  @include font-size(1.2);
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  border: 1px solid $light-gray;
  width: 100%;
}

#large-search {
  .tt-dropdown-menu {
    @include font-size(1.6);
    top: 60px !important;
  }

  @include media($medium) {
    .tt-dropdown-menu {
      top: 60px !important;
    }
  }
}

.tt-dropdown-title {
  display: block;
  color: #fff;
  padding: 5px 20px;
  background: $dark-gray;
}

.tt-suggestions {
  color: #000;
}

.tt-suggestion {
  @include clearfix();
  position: relative;
  padding: 10px 20px;
  margin-bottom: 0;
  line-height: 1;
  border-bottom: 1px solid $light-gray;
}

.tt-suggestion__name {
  @include truncate();
  display: block;
  float: left;
  width: 65%;
}

.tt-suggestion__office {
  @include truncate();
  @include font-size(1.2);
  text-align: right;
  display: block;
  width: 35%;
  float: right;
  color: $dark-gray;
  font-style: italic;
}

.tt-cursor {
  cursor: pointer;
  background: $blue;
  color: #fff;

  .tt-suggestion__office {
    color: #fff;
  }
}
