// Side panel
// This is the styles for slide out side panels

.side-toggle {
  @include rem(padding, 1.0rem);
  @include transition(background-color, .1s);
  border-radius: 0;
  background: none;
  border-width: 0 1px 0 0;
  border-color: $filter-bg;
  border-style: solid;
  color: #fff;

  &:hover,
  &:active,
  &.active {
    color: $licorice;
    background-color: $filter-bg;
    border-width: 0 1px 0 0;
    border-color: $filter-bg;
    border-style: solid;
  }
}

.side-panel {
  padding: 1.25em;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  z-index: 999;

  @include media($medium) {
    width: 30%;
  }

  @include media($large) {
    width: 20%;
  }
}

.side-panel--left {
  display: none;
  background: $filter-bg;
  float: left;
  position: relative;

  &.side-panel--open {
    display: block;
  }
}

.side-panel--right {
  @include transition(right .2s);
  display: block;
  background: rgba($licorice-2, .95);  
  position: fixed;
  top: 0;
  right: -100%;
  box-shadow: -1px 0 1px 1px rgba(0,0,0,.2);

  &.side-panel--open {
    right: 0;
  }
}

.panel-active--left {
  .results-container {
      width: 80%;
  }
}

.panel-active--right {

}