.styleguide {
  .site-header {
    padding: 2em 0;
    background: $licorice-2;
    color: #fff;
    border: none;
  }
}

.styles {
  @include clearfix();
  padding: 2em 0;
}

h1.styles__heading {
  margin: 2rem 0;
  padding: 1rem 2rem;
  font-size: 4em;
  background: #D4D4D4;
  color: #fff;
}

h2.styles__heading {
  color: #d4d4d4;
  padding: 4rem 0 0;

  &:first-child {
    padding-top: 0;
  }
}

h3.styles__heading {
  color: #d4d4d4;
  margin: 1em 0 .5em;
}
// Colors

.swatch {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  float: left;
  text-align: center;
  padding: 40px 0;
  color: #fff;

  &:last-child {
    margin-right: 0;
  }
}

// Icons
.icon-list {
  i {
    margin-right: 20px;
  }

  li {
    margin-bottom: 1em;
  }
}

footer {
  padding: 2em;
  margin-top: 4em;
  background-color: $licorice-2;
  color: #fff;
}
