.toggles {
  @include clearfix();

  .label {
    display: block;
    font-weight: bold;
    clear: both;
  }

  input[type="radio"] {
    @include u-visually_hidden();
  }

  input:checked + .toggle-button {
    background-color: $dark-gray;
    border-color: $dark-gray;
    color: #fff;
  }

  label {
    margin-top: 0;
    float: left;
  }

  label:first-of-type {
    .toggle-button {
      border-radius: 4px 0 0 4px;
    }
  }

  label:last-of-type {
    .toggle-button {
      border-radius: 0 4px 4px 0;
      border-right-width: 1px;
    }
  }
}

.toggle-button {
  @include button(#FBFBFD, $dark-gray, $medium-gray, $dark-gray);
  border-right-width: 0;
}