<div class="data-container__export">
  <div class="js-info"></div>
  <div class="results-info__download js-tooltip-container">
    <button type="button"
      class="js-export button button--primary button--export">
        Export this data
    </button>
    <div id="export-tooltip" role="tooltip" class="tooltip tooltip--under tooltip__content" aria-hidden="true">
    </div>
  </div>
</div>
