<div class="results-info__null">
  <input id="null-checkbox" type="checkbox" name="sort_hide_null" checked>
  <label for="null-checkbox">
    Hide results with missing values when sorting
  </label>
</div>
