<div class="message message--alert">
  <h2 class="message__title" id="section-1-header" tabindex="0">No results</h2>
  <p>Sorry, we didn't find any {{dataType}} for <strong>{{name}}</strong> in <strong>{{timePeriod}}</strong>.</p>
  <div class="message--alert__bottom">
    <p>Think this was a mistake?</p>
    <ul class="list--buttons">
      <li><a class="button button--standard" href="http://www.fec.gov/finance/disclosure/candcmte_info.shtml">Try FEC.gov</a>
      <li><a class="button button--standard" href="mailto:{{ contact_email }}">Email our team</a>
      <li><a class="button button--standard" href="https://github.com/18f/fec/issues">File an issue</a>
    </ul>
  </div>
</div>
