<section class="hero">
  <div class="container">
    <h1>Explore campaign finance data</h1>
    <form id="large-search" action="/search">
        <label for="search" class="lead-text">Begin by searching for candidates and committees by name</label>
        <div class="input-button-combo search--large">
          <input type="text" name="search" class="search-bar" placeholder="e.g. Barack Obama"/>
          <input type="submit" value="Search"/>
        </div>
    </form>
  </div>
</section>
