<section class="hero">
  <div class="container">
    <h1>Explore FEC Data</h1>
    <form id="large-search" action="/search">
        <label for="search">Search for candidates, committees and contributors</label>
        <div class="input-button-combo search--large">
          <input type="text" name="search" class="search-bar"/>
          <input type="submit" value="Search"/>
        </div>
    </form>
  </div>
</section>
