<h1>Explore FEC Data</h1>
<form id="large-search" action="/search">
    <label for="search">Search for candidates, committees and contributors</label>
    <input type="text" name="search"/>
    <input type="submit"/>
</form>

