*.log
*.swp
*.swo
*.pyc
node_modules
.coverage
.sass-cache/
rev-manifest.json
static/js/app-*.js
static/styles/styles-*.css
openfecwebapp/local_config.py
static/styles/styles.css.map
static/styles/styles.css
static/js/app.js
static/images
app/
/.env
.DS_Store

static/styles/styles.css
