Flask==0.12
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.2
Flask-Script==2.0.5
Flask-SSLify==0.1.5
furl==0.5.7
github3.py==0.9.6
hmac-authentication==1.0.0
python-dateutil==2.4.2
requests==2.13.0
newrelic==2.82.0.62
gunicorn==19.7.1
gevent==1.2.1
webargs==0.18.0
CacheControl==0.11.5
cachetools==1.0.2
cfenv==0.5.2
slacker==0.8.6
bandit==1.4.0

# Development
invoke==0.15.0
GitPython==1.0.1
