Flask==0.12
Flask-BasicAuth==0.2.0
Flask-Cors==2.1.0
Flask-Script==2.0.5
Flask-SSLify==0.1.5
furl==0.4.5
github3.py==0.9.4
hmac-authentication==1.0.0
python-dateutil==2.4.2
requests==2.13.0
newrelic==2.78.0.57
gunicorn==19.3.0
webargs==0.18.0
CacheControl==0.11.5
cachetools==1.0.2
raven[flask]==5.8.1
cfenv==0.5.2
slacker==0.8.6

# Development
invoke==0.15.0
GitPython==1.0.1
