<!--[if lt IE 10]>
<div class="modal__overlay"></div>
<div class="modal modal--alert" id="browser-warning">
  <h2>Your browser is out of date</h2>
  <p>This website is currently built to run on Internet Explorer 10 and later. We will add support for earlier browsers eventually.</p>
  <p>Please upgrade your browser or use another browser like Firefox, Chrome or Safari.</p>
  <button title="Close warning" class="js-hide" data-hides="browser-warning">Continue to the site</button>
</div>
<![endif]-->