{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}

{% block filters %}
<div class="filters__inner">
  {{ text.field('q', 'Name') }}
  {% include 'partials/filters/election-years.html' %}
  {% include 'partials/filters/office-sought.html' %}
  {% include 'partials/filters/parties.html' %}
  {{ states.field('state') }}
  {% include 'partials/filters/districts.html' %}
  {% include 'partials/filters/candidate_status.html' %}
</div>
{% endblock %}
