{% extends 'partials/filters.html' %}

{% import 'macros/filters/states.html' as states %}

{% block filters %}
<div class="field" id="q-field">
  <label for="q">Name</label>
  <input type="text" name="q" />
  <button type="button" class="button--remove" data-removes="q"><i class="ti-close"></i></button>
</div>

{% include 'partials/filters/election-years.html' %}
{% include 'partials/filters/office-sought.html' %}
{% include 'partials/filters/parties.html' %}
{{ states.field('state') }}
{% include 'partials/filters/districts.html' %}

<div class="field">
  <button type="submit" class="primary">Apply filters</button>
</div>
{% endblock %}
