<table id="results" class="table--sortable">
    <thead>
        <tr>
            <th class="flex-cell">Name</th>
            <th>Office</th>
            <th>Election</th>
            <th>Party</th>
            <th>State</th>
            <th>District</th>
        </tr>
    </thead>
    <tbody>
        {% for c in candidates %}
            <tr>
                <td class="flex-cell"><a class="single-link" data-id="{{ c.id }}" data-category="candidate" {% if c.name_url %}href="{{c.name_url}}"{% endif %}>{{c.name}}</a></td>
                <td>{{c.office}}</td>
                <td>{{c.election_year}}</td>
                <td>{{c.party}}</td>
                <td>{{c.state}}</td>
                <td>{{c.district}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
