{% if resultsCount %}
    <div class="meta-box">
        <div id="results-count-first" class="results-count">
          <p>Results: {{resultsCount}} records</p>
            {% if resultsRange %}
                <p>Viewing: {{currentResultsStart}} - {{currentResultsEnd}}</p>
            {% endif %}
        </div>
        {% if paginationLinks %}
            <div class="pagination">
                {% if prevURL %}
                    <a href="{{prevURL}}" id="prev" class="pagination__link"><i class="ti-arrow-left"></i> Previous {{perPage}}</a>
                {% endif %}
                {% if nextURL %}
                    <a href="{{nextURL}}" id="next" class="pagination__link">Next {{perPage}} <i class="ti-arrow-right"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </div><!--- .meta-box -->
{% endif %}

<table id="results" class="table--sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Office</th>
            <th>Election</th>
            <th>Party</th>
            <th>State</th>
            <th>District</th>
        </tr>
    </thead>
    <tbody>
        {% for c in candidates %}
            <tr>
                <td class="flex-cell"><a class="single-link" data-id="{{ c.id }}" data-category="candidate" href="{{c.nameURL}}">{{c.name}}</a></td>
                <td>{{c.office}}</td>
                <td>{{c.election}}</td>
                <td>{{c.party}}</td>
                <td>{{c.state}}</td>
                <td>{{c.district}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if resultsCount %}
    <div class="meta-box meta-box--bottom">
        <div id="results-count-last" class="results-count">
          <p>Results: {{resultsCount}} records</p>
            {% if resultsRange %}
                <p>Viewing: {{currentResultsStart}} - {{currentResultsEnd}}</p>
            {% endif %}
        </div>
        {% if paginationLinks %}
            <div class="pagination">
                {% if prevURL %}
                    <a href="{{prevURL}}" id="prev" class="pagination__link link--icon"><i class="ti-arrow-left"></i> Previous {{perPage}}</a>
                {% endif %}
                {% if nextURL %}
                    <a href="{{nextURL}}" id="next" class="pagination__link link--icon">Next {{perPage}} <i class="ti-arrow-right"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </div><!--- .meta-box -->
{% endif %}
