<div class="figure-group committee-summary js-reveal-container">
  <div class="figure-group__bar">
    <img class="category-icon"
         width="20" height="20"
         src="/static/img/icon-committee--white.svg" alt="Icon representing committees">
    <a class="figure-group__description term" data-term="{{ committee.committee_designation_full }}">
              {{ committee.committee_designation_full }}</a>         
  </div>
  <div class="figure-group__main">
    <div class="figure-group__header">
      <h4 class="figure-group__title">
        <a href="{{ url_for('committee_page', c_id=committee.committee_id) }}">{{ committee.name }}</a>
      </h4>
    </div>

    <div class="figure-group__inner">
      <div class="row">
        {% include 'partials/committee-summary.html' %}
      </div>
      <div class="js-reveal-content u-hidden" aria-hidden="true">
        {% include 'partials/committee-charts.html' %}
      </div><!-- .hidden-container -->
    </div>
  </div>
  <button class="js-reveal-button">View charts</button>
</div> <!-- .figure-group -->
