<section class="page-section" id="section-3" role="tabpanel" aria-hidden="true" aria-labelledby="section-3-header">
  <div class="container">
    <h2 id="section-3-header" tabindex="0">Browse All Filings</h2>
    <div class="page-subsection">
      <h3>2014 Filings</h3>
      <p class="text--lead">View all the paper work filed by this committee in 2014.</p>
      <table>
        <thead>
          <th class="sort-header">Date</th>
          <th class="sort-header">Document</th>
          <th class="sort-header">Type</th>
          <th class="sort-header">Amended</th>
          <th class="sort-header">From Date</th>
          <th class="sort-header">To Date</th>
          <th class="sort-header">Pages</th>
          <th class="sort-header">View</th>
        </thead>
        <tbody>
          <tr>
            <td>1/1/2014</td>
            <td>Document name</td>
            <td>Miscellaneous</td>
            <td>Yes</td>
            <td>1/1/2014</td>
            <td>3/1/2014</td>
            <td>2</td>
            <td><a href="#">PDF</a> | <a href="#">HTML</a> | <a href="#">FEC-20193</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="page-subsection">
      <h3>2013 Filings</h3>
      <p class="text--lead">View all the paper work filed by this committee in 2014.</p>
      <table>
        <thead>
          <th class="sort-header">Date</th>
          <th class="sort-header">Document</th>
          <th class="sort-header">Type</th>
          <th class="sort-header">Amended</th>
          <th class="sort-header">From Date</th>
          <th class="sort-header">To Date</th>
          <th class="sort-header">Pages</th>
          <th class="sort-header">View</th>
        </thead>
        <tbody>
          <tr>
            <td>1/1/2012</td>
            <td>Document name</td>
            <td>Miscellaneous</td>
            <td>Yes</td>
            <td>1/1/2012</td>
            <td>3/1/2012</td>
            <td>2</td>
            <td><a href="#">PDF</a> | <a href="#">HTML</a> | <a href="#">FEC-20193</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>