<section class="page-section" id="section-1" role="tabpanel" aria-hidden="false" aria-labelledby="section-1-header">
      <div class="container committee-summary">
        {% if totals %}
          <h2 id="section-1-header" tabindex="0">Financial Summary</h2>
          <p class="text--lead">Get the full picture of all of the money received and spent by this committee.</p>
          <div class="row js-accordion">

            <h3 class="section-header">Detailed Summary</h3>
            {% with committee=context() %}
            <!-- Receipts -->
            {% set table_data = [
                 (committee.totals.0.individual_itemized_contributions, 'Itemized Individual Contributions'),
                 (committee.totals.0.individual_unitemized_contributions, 'Unitemized Individual Contributions'),
                 <!-- Itemized + Unitemized Contributions -->
                 (committee.totals.0.individual_contributions, 'Total Individual Contributions'),
                 (committee.totals.0.political_party_committee_contributions,'Party Committee Contributions'),
                 (committee.totals.0.other_political_committee_contributions,'Other Committee Contributions'),
                 (committee.totals.0.candidate_contribution, 'Candidate Contributions'),
                 <!--Sum of individual, party, committee, and candidate contributions -->
                 (committee.totals.0.contributions, 'Total Contributions'),
                 <!-- Missing in the API right now -->
                 (committee.totals.0.net_contributions'Net Contributions'),

                 (committee.totals.0.transfers_from_other_authorized_committee, 'Transfer from Authorized Committees'),

                 (committee.totals.0.loans_made_by_candidate 'Loans Made by Candidate'),
                 (committee.totals.0.all_other_loans, 'Other Loans'),
                 <!-- candidate and all other loans -->
                 (committee.totals.0.all_loans_received, 'Total Loans Received'),

                 (committee.totals.0.offsets_to_operating_expenditures, 'Offsets to Operating Expenditures'),
                 (committee.totals.0.other_receipts, 'Other Receipts'),
               ]
            %}
            {{ totals_table('Total receipts', committee.totals.0.receipts, table_data,
                committee.report_year, header_description='Money received by the committee' ) }}
            <!-- Disbursements -->
            {% set table_data = [
                 (committee.totals.0.operating_expenditures, 'Operating expenditures'),
                 <!-- Missing in the API right now -->
                 (committee.totals.0.net_operating_expenditures'Operating Expenditures'),

                 (committee.totals.0.transfers_to_affiliated_committee, 'Transfers to authorized committees'),

                 (committee.totals.0.loan_repayments_candidate_loans, 'Candidate Loan Repayments'),
                 (committee.totals.0.loan_repayments_other_loans, 'Other Loan Repayments'),
                 <!-- Candidate + Other loans-->
                 (committee.totals.0.loan_repayments_made, 'Total Loan Repayments'),

                 (committee.totals.0.refunds_individual_contributions, 'Individual Refunds'),
                 'Political Party Refunds'
                 'Other Committee Refunds'
                 <!-- Individual + Party + Committee Refunds-->
                 (committee.totals.0.contribution_refunds, 'Total Contribution refunds'),

                 (committee.totals.0.other_disbursements, 'Other disbursements'),
               ]
            %}
            {{ totals_table('Total Disbursements', committee.totals.0.disbursements, table_data,
                committee.report_year, header_description='Money spent by the committee' ) }}

            {{ totals_table('Beginning cash on hand', committee.reports[0].cash_on_hand_beginning_period) }}
            {{ totals_table('Ending cash on hand', committee.reports[0].cash_on_hand_end_period) }}
            {{ totals_table('Debts owed to committee', committee.reports[0].debts_owed_to_committee) }}
            {{ totals_table('Debts owed by committee', committee.reports[0].debts_owed_by_committee) }}

            {% endwith %}
          </div>
          <div class="row">
            {% with committee=context() %}
              {% include 'partials/committee-charts.html' %}
            {% endwith %}
          </div>
        {% else %}
        <div class="meta-box error-container">
          <h2 id="section-1-header" tabindex="0">No financial data</h2>
          <p class="text--lead">This committee has not filed any <a class="term" data-term="Reports and Summaries">reports</a> for the time period selected. Right now, OpenFEC provides provides summary information using Forms 3, 3P and 3X. For complete data, search the <a href="http://www.fec.gov/finance/disclosure/candcmte_info.shtml">FEC Candidate and Committee Viewer</a>.</p>
          <div class="error-container__bottom">
              <h5>Is this information incorrect? Let us know.</h5>
              <a class="button" href="mailto:{{ contact_email }}">Contact support <i class="ti-email"></i></a>
         </div>
        </div>
        {% endif %}
      </div>
    </section>
  </div>
