{% with %}
{% set reports = committee.reports  %}
{% set totals = committee.totals  %}
{% import 'macros/charts.html' as charts %}
{% import 'macros/null.html' as null %}
{% macro group_bar_tooltip(value, key) %}
<div class="chart-series__bar__tooltip">
  <h5 class="chart-series__bar__tooltip__title">{{ key|replace('_', ' ')|title }}</h5>
  <span class="chart-series__bar__tooltip__value">{{ null.null( value | currency )}}</span>
</div>
{% endmacro %}

{% if series_group_has_data(reports, ('total_receipts_period', 'total_disbursements_period')) %}
<div class="content__section--extra">
  <figure class="chart-container chart--r-d">
    <div class="chart__header">
      <h3 class="chart__title">Receipts and disbursements</h3>
      <ul class="chart__key list--flat">
        <li class="chart__key__item"><span class="swatch data--receipts"></span> <span class="term" data-term="Total receipts">Total receipts</span></li>
        <li class="chart__key__item"><span class="swatch data--disbursements"></span> Total disbursements</li>
      </ul>
    </div>
    {{ charts.chart_series_grouped(reports | reverse | list, ('total_receipts_period', 'total_disbursements_period'),
       label_key=('coverage_start_date', 'coverage_end_date'), tooltip=group_bar_tooltip) }}
  </figure>
</div>
{% endif %}
{% if series_group_has_data(reports, ('cash_on_hand_end_period', 'debts_owed_by_committee')) %}
<div class="content__section">
  <figure class="chart-container chart--c-d">
    <div class="chart__header">
      <h3 class="chart__title">Cash and debt</h3>
      <ul class="chart__key list--flat">
        <li class="chart__key__item"><span class="swatch data--cash"></span> Ending cash on hand</li>
        <li class="chart__key__item"><span class="swatch data--debt"></span> Debt</li>
      </ul>
    </div>
    {{ charts.chart_series_grouped(reports | reverse | list, ('cash_on_hand_end_period', 'debts_owed_by_committee'),
       label_key=('coverage_end_date'), tooltip=group_bar_tooltip) }}
  </figure>
</div>
{% endif %}
{% endwith %}
