{% with committee=context() %}
{% set table_data = [
     (reports.0.federal_funds_period,'Federal Funds'),
     (reports.0.individual_itemized_contributions, 'Itemized Individual Contributions'),
     (reports.0.individual_unitemized_contributions, 'Unitemized Individual Contributions'),
     (reports.0.individual_contributions_period, 'Total Individual Contributions'),
     (reports.0.political_party_committee_contributions_period,'Party Committee Contributions'),
     (reports.0.other_political_committee_contributions_period,'Other Committee Contributions'),
     (reports.0.candidate_contribution_period, 'Candidate Contributions'),
     (reports.0.total_contributions_period, 'Total Contributions'),
     (reports.0.transfer_from_affiliated_committee_period, 'Transfer from Authorized Committees'),
     (reports.0.loans_received_from_candidate_period, 'Loans Made by Candidate'),
     (reports.0.other_loans_received_period, 'Other Loans'),
     (reports.0.total_loans_received_period, 'Total Loans Received'),
     (reports.0.offsets_to_operating_expenditures_period, 'Offsets to Operating Expenditures'),
     (reports.0.offsets_to_fundraising_expenditures_period, 'Fundraising Offsets'),
     (reports.0.offsets_to_legal_accounting_period, 'Legal and Accounting Offsets'),
     (reports.0.total_offsets_to_operating_expenditures_period, 'Total Offsets'),
     (reports.0.other_receipts_period, 'Other Receipts'),
   ]
%}
{{ totals_table('Total receipts', reports.0.total_receipts_period, table_data,
    committee.report_year, header_description='Money received by the committee' ) }}

{% set table_data = [
     (reports.0.operating_expenditures_period, 'Operating expenditures'),
     (reports.0.transfer_to_other_authorized_committee_period, 'Transfers to Authorized Committees'),
     (reports.0.repayments_loans_made_by_candidate_period, 'Candidate Loan Repayments'),
     (reports.0.repayments_other_loans_period, 'Other Loan Repayments'),
     (reports.0.total_loan_repayments_made_period, 'Total Loan Repayments'),
     (reports.0.refunds_individual_contributions_period, 'Individual Refunds'),
     (reports.0.refunded_political_party_committee_contributions_period, 'Political Party Refunds'),
     (reports.0.refunded_other_political_committee_contributions_period, 'Other Committee Refunds'),
     (reports.0.total_contribution_refunds_period, 'Total Contribution refunds'),
     (reports.0.other_disbursements_period, 'Other disbursements'),
   ]
%}
{{ totals_table('Total Disbursements', reports.0.total_disbursements_period, table_data,
    committee.report_year, header_description='Money spent by the committee' ) }}

{{ totals_table('Beginning cash on hand', committee.reports.0.cash_on_hand_beginning_period) }}
{{ totals_table('Ending cash on hand', committee.reports.0.cash_on_hand_end_period) }}

{{ totals_table('Net Contributions', reports.0.net_contribution_summary_period) }}
{{ totals_table('Operating Expenditures', reports.0.net_operating_expenditures_summary_period) }}

{{ totals_table('Debts owed to committee', committee.reports.0.debts_owed_to_committee) }}
{{ totals_table('Debts owed by committee', committee.reports.0.debts_owed_by_committee) }}

{% endwith %}