{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}

{% block filters %}
<div class="js-accordion" data-content-prefix="filter" data-open-first="false">
  {{ text.field('q', 'Name') }}
  {% include 'partials/filters/election-years.html' %}
  <button type="button" class="js-accordion-trigger accordion__button">Committee type</button>
  <div class="accordion__content">
    {{ text.field('treasurer_name', 'Treasurer name') }}
    {% include 'partials/filters/parties.html' %}
    {{ states.field('state') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Committee type</button>
  <div class="accordion__content">
    {% include 'partials/filters/committee-types.html' %}
  </div>
</div>
{% endblock %}
