<section class="page-section" id="section-2" role="tabpanel" aria-hidden="true" aria-labelledby="section-2-header">
      <div class="container">
        <h2 id="section-2-header" tabindex="0">Financial summaries</h2>
        <div class="page-subsection">
          <h3 class="figure__title">Reports filed 2012-2014</h3>
          <table>
            <thead>
              <th class="sort-header">Report year</th>
              <th class="sort-header">Report type</th>
              <th class="sort-header">Total receipts</th>
              <th class="sort-header">Total disbursements</th>
              <th class="sort-header">Cash on hand</th>
              <th class="sort-header">Debt</th>
            </thead>
            <tbody>
              <tr>
                <td>2014</td>
                <td><a href="#">Pre-general</a></td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td>2014</td>
                <td><a href="#">Pre-general</a></td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td>2014</td>
                <td><a href="#">Pre-general</a></td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td>2014</td>
                <td><a href="#">Pre-general</a></td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="page-subsection">
          <div class="row">
            <div class="chunk--half">
              <h3>Report summary</h3>
              <p class="text--lead">Detailed view of this committee’s finances in the selected time period.</p>
            </div>
            <div class="chunk--half meta-box figure-group__controls">
              <div class="chunk--half">
                <label>Select a reporting period</label>
                <select class="chosen-select">
                  <option>Two-year summary</option>
                  <option>October 2014</option>
                </select>
              </div>
              <div class="chunk--half">
                <span>View the original report</span>
                <a class="pdf-button button">View PDF</a>
              </div>
            </div>
          </div>
          <div class="figure-group">
          </div>
        </div>
      </div>
    </section>
