{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/typeahead-filter.html' as typeahead %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/date.html' as date %}
{% import 'macros/filters/years.html' as years %}

{% block heading %}
Filter communication costs
{% endblock %}

{% block filters %}

{{ typeahead.field('committee_id', 'Committee') }}
{{ typeahead.field('candidate_id', 'Candidate supported or opposed', dataset='candidates') }}
{% include 'partials/filters/support-oppose.html' %}

{{ text.field('min_amount', 'Minimum transaction amount', {'data-inputmask': '"alias": "currency", "rightAlign": false, "clearMaskOnLostFocus": true' }) }}
{{ text.field('max_amount', 'Maximum transaction amount', {'data-inputmask': '"alias": "currency", "rightAlign": false, "clearMaskOnLostFocus": true'}) }}

{{ date.field('date', 'Transaction date', dates ) }}

{% endblock %}
