{% with %}
{% set report = committee.reports.0 if committee.reports else {} %}
{% set totals = committee.totals.0 if committee.totals else {} %}

<figure class="table--simple reports-table">
  <h4 class="figure__title">Totals for {{totals.cycle|fmt_year_range|default("unavailable")}}</h4>
  <div class="table__half">
    <div class="table__row">
      <div class="table__cell">Total <span class="term" data-term="Total Receipts">Receipts</span></div>
      <div class="table__cell">{{totals.receipts|currency|default("unavailable")}}</div>
    </div>
    <div class="table__row">
      <div class="table__cell">Total <span class="term" data-term="Total Disbursements">Disbursements</span></div>
      <div class="table__cell">{{totals.disbursements|currency|default("unavailable")}}</div>
    </div>
    <div class="table__row--note">
      Calculated from reports filed {{ totals.cycle|fmt_year_range|default("unknown") }}
    </div>
  </div>
  <div class="table__half">
    <div class="table__row">
      <div class="table__cell"><span class="term" data-term="Ending Cash on Hand">Ending Cash on Hand</span></div>
      <div class="table__cell">{{report.cash_on_hand_end_period|currency|default("unavailable")}}</div>
    </div>
    <div class="table__row">
      <div class="table__cell"><span class="term" data-term="Debt">Debt</span></div>
      <div class="table__cell">{{report.debts_owed_by_committee|currency|default("unavailable")}}</div>
    </div>
    <div class="table__row--note">
      {% if report.pdf_url %}
        Source: <a href="{{ report.pdf_url }}">{{report.report_type_full|fmt_report_desc|default("Report")}} {{ report.report_year }}</a>
      {% elif report %}
        Source: {{report.report_type_full|fmt_report_desc|default("Report")}} {{ report.report_year }}
      {% else %}
        Source: Unknown
      {% endif %}
    </div>
  </div>
</figure>
{% endwith %}
