<div id="datatable-modal" class="panel__overlay" aria-hidden="true">
  <div class="panel">
    <div class="panel__row panel__navigation">
      <strong>
        <a href="#" class="js-hide js-panel-close panel__close"
            data-hides="datatable-modal">
          <i class="icon icon--bold ti-angle"></i>
          <span class="u-visually_hidden">View all</span>
        </a>
      </strong>
    </div>
    <div class="js-panel-content panel__content">
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
