<section class="page-section" id="section-3" role="tabpanel" aria-hidden="true" aria-labelledby="section-3-heading">
  <div class="container">
    <div class="page-section__intro">
      <h2 class="section-heading" id="section-3-heading">Top Recipients {% include 'partials/cycle-select.html' %}  </h2>
        <div class="toggles section__intro__left">
          <span class="label">Compare by:</span>
          <label for="toggle-purpose">
            <input id="toggle-purpose" type="radio" class="panel-toggle-control" name="disbursement-aggregate" value="by-purpose" checked />
            <span class="toggle-button">Purpose</span>
          </label>
          <label for="toggle-recipient">
            <input id="toggle-recipient" type="radio" class="panel-toggle-control" name="disbursement-aggregate" value="by-recipient" />
            <span class="toggle-button">Recipient Name</span>
          </label>
          <label for="toggle-id">
            <input id="toggle-id" type="radio" class="panel-toggle-control" name="disbursement-aggregate" value="by-recipient-id" />
            <span class="toggle-button">Recipient Committee</span>
          </label>
        </div>
        <div class="section__intro__right">
          <span class="label">View the raw data:</span>
          <a class="button" href="{{ url_for('disbursements', committee_id=committee.committee_id, cycle=cycle) }}">View all disbursements &raquo;</a>
        </div>
    </div>
    <div class="row">
      <div id="by-purpose" class="panel-toggle-element">
        <h4>Disbursements by Purpose</h4>
        <table
            class="data-table"
            data-type="disbursements-by-purpose"
            data-committee="{{ committee.committee_id }}"
            data-cycle="{{ cycle }}"
          >
          <thead>
            <th scope="col">Purpose</th>
            <th scope="col">Total Received</th>
          </thead>
        </table>
      </div>

      <div id="by-recipient" class="panel-toggle-element">
        <h4>Disbursements by Recipient Name</h4>
        <table
            class="data-table"
            data-type="disbursements-by-recipient"
            data-committee="{{ committee.committee_id }}"
            data-cycle="{{ cycle }}"
          >
          <thead>
            <th scope="col">Recipient</th>
            <th scope="col">Total Received</th>
          </thead>
        </table>
      </div>

      <div id="by-recipient-id" class="panel-toggle-element">
        <h4>Disbursements by Recipient Committee (if applicable)</h4>
        <table
            class="data-table"
            data-type="disbursements-by-recipient-id"
            data-committee="{{ committee.committee_id }}"
            data-cycle="{{ cycle }}"
          >
          <thead>
            <th scope="col">Recipient Committee</th>
            <th scope="col">Total Received</th>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>
