{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/date.html' as date %}
{% block heading %}
Filter Disbursements
{% endblock %}

{% block filters %}
{{ text.field('_committee_id', 'From Committee', {'class': 'committee-typeahead-field', 'data-input': 'committee_id'}) }}
<input type="hidden" name="committee_id" id="committee_id" />
<h4 class="filters__subheader">Recipient Information</h4>
{{ text.field('recipient_name', 'Receipient Name') }}
{{ text.field('recipient_city', 'City') }}
{{ states.field('recipient_state')}}
<h4 class="filters__subheader">Transaction Information</h4>
{{ text.field('disbursement_description', 'Purpose') }}
{{ text.field('min_amount', 'Minimum Expenditure') }}
{{ text.field('max_amount', 'Maximum Expenditure') }}
{{ date.field('disbursement_date', 'Disbursement Date', dates ) }}
{% endblock %}
