<div class="content__section content__section--ruled" aria-labelledby="section-2-heading">
    <h2 class="section-heading" id="section-4-heading">Candidate Filings {% include 'partials/cycle-select.html' %}</h2>
    <table class="datatable" data-type="filing" data-candidate="{{ candidate_id }}" width="100%" class="responsive">
      <thead>
        <tr>
        <th scope="col">Document</th>
        <th scope="col">Amendment Indicator</th>
        <th scope="col">Receipt Date</th>
        <th scope="col">Coverage End Date</th>
        </tr>
      </thead>
    </table>
</div>
