<section class="page-section" id="section-2" role="tabpanel" aria-hidden="true" aria-labelledby="section-2-header">
  <div class="container">
    <table id="results" data-type="filing" data-committee="{{ committee_id }}" width="100%" class="responsive">
    <thead>
        <tr>
            <th scope="col">Link</th>
            <th scope="col">Amendment Indicator</th>
            <th scope="col">Form Type</th>
            <th scope="col">Report Type</th>
            <th scope="col">Receipt Date</th>
            <th scope="col">Total Receipts</th>
            <th scope="col">Total Disbursement</th>
            <th scope="col">Total Independent Expenditures</th>
        </tr>
    </thead>
   </table>
  </div>
</section>
