<section class="page-section" id="section-4" role="tabpanel" aria-hidden="true" aria-labelledby="section-4-header">
  <div class="container">
    <div id="filters" class="meta-box">
      <h4>Filter Filings</h4>
      <form id="category-filters">
        <div class="chunk--half">
          <div class="field" id="report-year">
            <label for="report_year">Report Year</label>
            <input type="text" name="report_year" />
            <button type="button" class="button--remove" data-removes="report-year"><i class="ti-close"></i></button>
          </div>
          {% include 'partials/filters/amendment-indicator.html' %}
        </div>
        <div class="chunk--half">
          {% include 'partials/filters/primary-general.html' %}
          {% include 'partials/filters/report-type.html' %}
          <div class="field">
            <button type="submit" class="primary">Apply filters</button>
          </div>
        </div>
      </form>
    </div>

    <table class="data-table" data-type="filing" data-committee="{{ committee_id }}" width="100%" class="responsive">
      <thead>
        <tr>
          <th scope="col">Link</th>
          <th scope="col">Amendment Indicator</th>
          <th scope="col">Document Type</th>
          <th scope="col">Receipt Date</th>
          <th scope="col">Total Receipts</th>
          <th scope="col">Total Disbursement</th>
          <th scope="col">Total Independent Expenditures</th>
        </tr>
      </thead>
    </table>
  </div>
</section>
