{% if filings %}
  <div class="page-subsection">
    <h3>Filings</h3>
    <p class="text--lead">View all the paper work filed by this candidate. For reports filed by the candidate’s related committees, view the committee pages.</p>
    <table>
      <thead>
        <th class="sort-header">Filing name</th>
        <th class="sort-header">Filing type</th>
        <th class="sort-header">Date</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Filing name</a></td>
          <td>Statement of candidacy</td>
          <td>1/1/2014</td>
        </tr>
        <tr>
          <td><a href="#">Filing name</a></td>
          <td>Statement of candidacy</td>
          <td>1/1/2012</td>
        </tr>
        <tr>
          <td><a href="#">Filing name</a></td>
          <td>Statement of candidacy</td>
          <td>1/1/201-</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endif %}
