<table id="results" data-type="filing-table" width="100%" class="responsive">
    <thead>
      <tr>
        <th scope="col">Link</th>
        <th scope="col">Filer Name</th>
        <th scope="col">Candidate Name</th>
        <th scope="col">Amendment Indicator</th>
        <th scope="col">Document Type</th>
        <th scope="col">Receipt Date</th>
        <th scope="col">Total Receipts</th>
        <th scope="col">Total Disbursement</th>
        <th scope="col">Total Independent Expenditures</th>
      </tr>
    </thead>
</table>