<table id="results" class="datatable" data-type="filing-table">
    <thead>
      <tr>
        <th scope="col">Document</th>
        <th scope="col">Filer Name</th>
        <th scope="col">Candidate Name</th>
        <th scope="col">Amendment Indicator</th>
        <th scope="col">Receipt Date</th>
        <th scope="col">Coverage End Date</th>
        <th scope="col">Total Receipts</th>
        <th scope="col">Total Disbursement</th>
        <th scope="col">Total Independent Expenditures</th>
      </tr>
    </thead>
</table>