{% import 'macros/filters/amendment-indicator.html' as amendment %}

<section class="main" id="section-4" role="tabpanel" aria-hidden="true" aria-labelledby="section-4-heading">
  <div class="container">
    <div class="page-section__intro">
      <h2 class="section-heading" id="section-4-heading">Committee Filings {% include 'partials/cycle-select.html' %}</h2>
      <div class="card card--primary">
        <a href="{{ url_for('filings', committee_id=committee_id) }}">View all filings &raquo;</a>
      </div>
    </div>
    <div id="filters" class="filters--horizontal">
      <form id="category-filters">
        {{ amendment.amendment_indicator() }}
        {% include 'partials/filters/primary-general.html' %}
        {% include 'partials/filters/report-type.html' %}
      </form>
    </div>
    <table class="data-table" data-type="filing" data-committee="{{ committee_id }}" width="100%" class="responsive">
      <thead>
        <tr>
        <th scope="col">Document</th>
        <th scope="col">Amendment Indicator</th>
        <th scope="col">Receipt Date</th>
        <th scope="col">Coverage End Date</th>
        <th scope="col">Total Receipts</th>
        <th scope="col">Total Disbursement</th>
        <th scope="col">Total Independent Expenditures</th>
        </tr>
      </thead>
    </table>
  </div>
</section>
