{% import 'macros/cycle-select.html' as select %}

<section class="main" id="section-5" role="tabpanel" aria-hidden="true" aria-labelledby="section-5-heading">
  <div class="container">
    <div class="section__heading">
      <h2 class="heading__title" id="section-5-heading">
        Committee Filings
        {{ select.cycle_select(cycles, cycle) }}
      </h2>
      <a class="heading__action button--neutral button--browse" href="{{ url_for('filings', committee_id=committee_id) }}">All filings</a>
    </div>
    <div class="content__section">
      <div id="filters" class="filters--horizontal">
        <form id="category-filters">
          {% include 'partials/filters/amendment-indicator.html' %}
          {% include 'partials/filters/primary-general.html' %}
          {% include 'partials/filters/report-type.html' %}
        </form>
      </div>
      <table class="data-table" data-type="filing" data-committee="{{ committee_id }}" width="100%" class="responsive">
        <thead>
          <tr>
          <th scope="col">Document</th>
          <th scope="col">Amendment Indicator</th>
          <th scope="col">Receipt Date</th>
          <th scope="col">Coverage End Date</th>
          <th scope="col">Total Receipts</th>
          <th scope="col">Total Disbursement</th>
          <th scope="col">Total Independent Expenditures</th>
          <th scope="col"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</section>

{% include 'partials/datatable-modal.html' %}
