{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/typeahead-filter.html' as typeahead %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/date.html' as date %}

{% block heading %}
Filter filings
{% endblock %}

{% block filters %}

{{ typeahead.field('committee_id', 'Committee') }}
{{ typeahead.field('candidate_id', 'Candidate', dataset='candidates') }}

{{ date.field('receipt_date', 'Receipt Date', dates ) }}

{% include 'partials/filters/amendment-indicator.html' %}
{% include 'partials/filters/primary-general.html' %}
{% include 'partials/filters/form-type.html' %}

<h3 class="filters__subheader">Report type</h3>
{% include 'partials/filters/report-type.html' %}

{% endblock %}
