<div class="content__section">
    <h2 class="content__section__heading">All Candidate Filings</h2>
    <p class="usa-width-two-thirds">Candidates are required to file a <strong>Statement of Candidacy</strong> every time they run for office. Financial reports from committees are available on committee pages.</p>
    <table class="data-table" data-type="filing" data-candidate="{{ candidate_id }}">
      <thead>
        <tr>
        <th scope="col">Document</th>
        <th scope="col">Amendment Indicator</th>
        <th scope="col">Receipt Date</th>
        </tr>
      </thead>
    </table>
</div>
