{% extends 'partials/filters.html' %}

{% import 'macros/filters/typeahead.html' as typeahead %}
{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/date.html' as date %}

{% block heading %}
Filter Filings
{% endblock %}

{% block filters %}

{{ typeahead.field('_committee_id', 'Committee') }}
<input type="hidden" name="committee_id" id="committee_id" />

{{ text.field('report_year', 'Report Year') }}

{% include 'partials/filters/amendment-indicator.html' %}
{% include 'partials/filters/primary-general.html' %}
{% include 'partials/filters/report-type.html' %}

{% endblock %}