<div id="filters" class="filters">
  <button id="filter-toggle" data-slide="left" class="filters__toggle">
    <span class="filters__toggle__text js-filter-toggle-text">Show filters</span>
  </button>
  <div class="filters__hider">
    <h2 class="filter__header filters__inner">
      {% block heading %}
      Filter {{ result_type }}
      {% endblock %}
    </h2>
    <form id="category-filters">
      <div class="filters__inner">
        {% block message %}{% endblock %}
      </div>
      {% block filters %}{% endblock %}
      {% include 'partials/filters/filter-buttons.html' %}
    </form>
  </div>
</div>
