  {% if related_committees %}
      <div class="page-section__intro">
        <h2 id="section-1-header" tabindex="0">Financial Summary</h2>
        <p class="text--lead">This page provides an overview of all the money received and spent by the committees associated with this candidate.</p>
        <p class="text--lead">Candidates are directly responsible for their <strong>principal campaign committees</strong> and <strong>authorized campaign committees</strong>. Candidates are associated with other types like <strong>joint fundraising committees</strong>, but because those committees are not exclusively for the candidate's campaign activity, this page will not include their information.</p>
        <p class="text--lead">For more information about an individual committee — the types of funding they've received, how they have spent their money, and more — visit the committee’s page.</p>
      </div>

      {% if primary_committee or authorized_committees %}
      <div class="page-subsection">
        <h3 class="term" data-term="Campaign Committee">Campaign Committees</h3>
        {% if primary_committee %}
            {% with committee=primary_committee[0] %}
              {% include 'partials/committee-summary.html' %}
            {% endwith %}
        {% endif %}

        {% if authorized_committees %}
          {% for c in authorized_committees %}
              {% with committee=c %}
                  {% include 'partials/committee-summary.html' %}
              {% endwith %}
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}

    {% if leadership_committees or joint_committees %}
      <div class="page-subsection other-committees">
      <h3>Other Committees</h3>
        {% if leadership_committees %}
        <h4>Leadership PACs</h4>
        <ul>
          {% for c in leadership_committees %}
              {% with committee=c %}
                <li><a href="{{ url_for('committee_page', c_id=committee.committee_id) }}">{{ committee.committee_name }} &raquo;</a></li>
              {% endwith %}
          {% endfor %}
        </ul>
        {% endif %}

        {% if joint_committees %}
        <h4>Joint Fundraising Committees</h4>
        <ul>
          {% for c in joint_committees %}
              {% with committee=c %}
              <li><a href="{{ url_for('committee_page', c_id=committee.committee_id) }}">{{ committee.committee_name }} &raquo;</a></li>
              {% endwith %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    {% endif %}

  {% else %}

  <div class="meta-box error-container">
    <h2 id="section-1-header" tabindex="0">No results</h2>
    <p class="text--lead">This candidate is not associated with any committees, which means there is no financial data to show.</p>
    <div class="error-container__bottom">
        <h4>Is this information incorrect? Let us know.</h4>
        <a class="button">Contact support</a>
   </div>
  </div>

  {% endif %}
