{% with %}
{% set reports = committee.reports  %}
{% set totals = committee.totals  %}
{% import 'macros/charts.html' as charts %}

{% if series_group_has_data(reports, ('independent_contributions_period', 'independent_expenditures_period')) %}
<div class="row">
  <figure class="chart-container chart--r-d">
    <div class="chart__header">
      <h4 class="chart__title"> Contributions received and independent expenditures</h4>
      <ul class="chart__key list--flat">
        <li class="chart__key__item"><span class="swatch"></span> Total contributions received</li>
        <li class="chart__key__item"><span class="swatch"></span> Total independent expenditures</li>
      </ul>
    </div>
    {{ charts.chart_series_grouped(
      reports | reverse | list,
      ('independent_contributions_period', 'independent_expenditures_period'),
      labels=('Total contributions received', 'Total independent expenditures'),
      label_key=('coverage_start_date', 'coverage_end_date'),
      tooltip=charts.group_bar_tooltip,
    ) }}
  </figure>
</div>
{% endif %}
{% endwith %}
