<noscript>
  <div style="background-color: #DB4857; padding: 20px;">
    <h2 style="color: #ffffff">Javascript Required</h2>
    <p style="color: #ffffff"><a href="{{ url_for('search') }}">OpenFEC</a> uses Javascript to provide the best possible user experience. Please enable Javascript in your browser or visit fec.gov.</p>
    <p style="color: #ffffff">
      <a style="color: #ffffff; text-decoration: underline" target="_blank"
          href="http://enable-javascript.com/">
        Learn how to enable Javascript in your browser
      </a>
    </p>
  </div>
</noscript>
