{% if pagination.results_count %}
    <ul class="results-count">
      <li>Results: {{pagination.results_count}} records</li>
        {% if pagination.results_range %}
            <li>Viewing: {{pagination.current_results_start}} - {{pagination.current_results_end}}</li>
        {% endif %}
        {% if pagination.pagination_links %}
            <li class="pagination">
            {% if pagination.prev_url %}
                <a href="{{pagination.prev_url}}" id="prev" class="pagination__link">&laquo; Previous {{pagination.per_page}}</a>
            {% endif %}
            {% if pagination.next_url %}
                <a href="{{pagination.next_url}}" id="next" class="pagination__link">Next {{pagination.per_page}} &raquo;</a>
            {% endif %}
            </li>
        {% endif %}
    </ul>
{% endif %}
