{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}

{% block heading %}
Filter Receipts
{% endblock %}

{% block filters %}
<div class="field">
  <span class="label">Show contributions from</span>
  <label class="dropdown__value" for="contributor-type">
    <input id="contributor-type" name="contributor_type" type="checkbox" value="individual" checked>Individual
  </label>
  <label class="dropdown__value" for="contributor-type">
    <input id="contributor-type" name="contributor_type" type="checkbox" value="committee" checked>Committee
  </label>
</div>

{{ text.field('_committee_id', 'Recipient Committee', {'id': 'committee-typeahead-filter'}) }}
<input type="hidden" name="committee_id" />

<div class="js-accordion">
  <h5 class="js-accordion_header accordion__header">Contributor Information <a href="#" class="accordion__button js-accordion_button"></a></h5>
  <div class="js-accordion_item accordion__item">
    {{ text.field('contributor_city', 'City') }}
    {{ states.field('contributor_state') }}
    {{ text.field('contributor_employer', 'Employer') }}
  </div>
</div>

<div class="js-accordion">
  <h5 class="js-accordion_header accordion__header">Transaction Information <a href="#" class="accordion__button js-accordion_button"></a></h5>
  <div class="js-accordion_item accordion__item">
    {{ text.field('min_amount', 'Minimum Contribution', {'data-inputmask': '"alias": "currency", "rightAlign": false, "clearMaskOnLostFocus": true' }) }}
    {{ text.field('max_amount', 'Maximum Contribution', {'data-inputmask': '"alias": "currency", "rightAlign": false, "clearMaskOnLostFocus": true'}) }}
    <div class="field" id="file-date">
      <label for="file_date" class="label">File Date</label>
      <ul>
        <li><input name="_file_date" type="radio" data-min-date={{ dates['today'][0] | date }} data-max-date={{ dates['today'][1] | date }}>Today</li>
        <li><input name="_file_date" type="radio" data-min-date={{ dates['month'][0] | date }} data-max-date={{ dates['month'][1] | date }}>This month</li>
        <li><input name="_file_date" type="radio" data-min-date={{ dates['quarter'][0] | date }} data-max-date={{ dates['quarter'][1] | date }}>This quarter</li>
        <li><input name="_file_date" type="radio" data-min-date={{ dates['year'][0] | date }} data-max-date={{ dates['year'][1] | date }}>This year</li>
        <li><input name="_file_date" type="radio">Custom</li>
      </ul>
      <div class="date-range-input">
        <label for="min_date">From</label>
        <input type="text" id="min_date" name="min_date" data-inputmask="'alias': 'mm/dd/yyyy'">
        <label for="max_date">To</label>
        <input type="text" id="max_date" name="max_date" data-inputmask="'alias': 'mm/dd/yyyy'">
      </div>
    </div>
  </div>
</div>
{% endblock %}
