{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/date.html' as date %}

{% block heading %}
Filter Receipts
{% endblock %}

{% block filters %}
<div class="filter">
  <fieldset>
    <legend class="label">Show contributions from</legend>
    <ul>
      <li>
        <input id="contributor-type" name="contributor_type" type="checkbox" value="individual" checked>
        <label for="contributor-type">Individual</label>
      </li>
      <li>
        <input id="contributor-type" name="contributor_type" type="checkbox" value="committee" checked>
        <label for="contributor-type">Committee</label>
      </li>
    </ul>
  </fieldset>
</div>

{{ text.field('_committee_id', 'Recipient Committee', {'class': 'committee-typeahead-field', 'data-input': 'committee_id'}) }}
<input type="hidden" name="committee_id" id="committee_id" />

<!-- <div class="js-accordion"> -->
  <h3 class="js-accordion_header accordion__header">Contributor Information <a href="#" class="accordion__button js-accordion_button"></a></h3>
  <div class="js-accordion_item accordion__item">
    {{ text.field('contributor_city', 'City') }}
    {{ states.field('contributor_state') }}
    {{ text.field('contributor_employer', 'Employer') }}
    {{ text.field('contributor_occupation', 'Occupation') }}
  </div>
<!-- </div> -->

<!-- <div class="js-accordion"> -->
  <h3 class="js-accordion_header accordion__header">Transaction Information <a href="#" class="accordion__button js-accordion_button"></a></h3>
  <div class="js-accordion_item accordion__item">
    {{ text.field('min_amount', 'Minimum Contribution', {'data-inputmask': '"alias": "currency", "rightAlign": false, "clearMaskOnLostFocus": true' }) }}
    {{ text.field('max_amount', 'Maximum Contribution', {'data-inputmask': '"alias": "currency", "rightAlign": false, "clearMaskOnLostFocus": true'}) }}

    {{ date.field('receipt_date', 'Receipt Date', dates ) }}

  </div>
<!-- </div> -->
{% endblock %}
