<div class="input-button-combo">
  <select name="search_type" class="search__select">
    <option value="candidates">Candidates</option>
    <option
    {% if result_type == 'committees' %}
      selected="selected"
    {% endif %}
    value="committees">
    Committees</option>
  </select>
  <input class="search-bar" type="text" name="search"
  aria-label="Enter a candidate name"
  placeholder="Enter a candidate name" autocomplete="off"
  autocorrect="off" autocapitalize="off" spellcheck="false"
  value="{{ query or '' }}">
  <button class="search-submit primary"><img width="16" height="16" src="/static/img/icon-search--white.svg" alt="Magnifying glass icon"></button>
</div>
