<section class="hero">
  <div class="container">
    <h1>Explore campaign finance data</h1>
    <form id="large-search" action="/">
        <label for="search" class="text--lead">Begin by searching for <span class="term" data-term="Candidate">candidates</span> and <span class="term" data-term="Campaign Committee">committees</span> by name</label>
        <div class="input-button-combo search--large">
          <input type="text" name="search" class="search-bar" placeholder="e.g. Barack Obama"/>
          <button class="primary" id="submit-search"><i class="ti-search"></i> Search</button>
        </div>
    </form>
  </div>
</section>
