{% import 'macros/missing.html' as missing %}
{% import 'macros/null.html' as null %}
{% import 'macros/cycle-select.html' as select %}

<section id="section-3" role="tabpanel" aria-hidden="true" aria-labelledby="section-1-heading">
  <div class="heading--section">
    <h2>Itemized Disbursements: {{ format_election_years(cycle, election_full, duration) }}</h2>
  </div>

  <div class="content__section">
    {{ select.cycle_select(election_years, cycle, duration=duration, id="cycle-1") }}
  </div>


</section>
