{% import 'macros/cycle-select.html' as select %}

<section id="section-3" role="tabpanel" aria-hidden="true" aria-labelledby="section-3-heading">
  <div class="heading--section">
    <h2 id="section-3-heading">Spending by others to oppose/support</h2>
  </div>
  <div class="content__section">
    <p class="usa-width-two-thirds">This tab shows spending that opposes or supports this candidate. None of the funds are directly given to or spent by the candidate.</p>
  </div>

  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    <div class="content__section">
      {{ select.cycle_select(election_years, cycle, duration=duration, id="cycle-3") }}
    </div>
    <div class="entity__figure row">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Independent expenditures</h3>
      </div>
      <table
          class="data-table data-table--heading-borders"
          data-type="independent-expenditures"
          data-candidate="{{ candidate_id }}"
          data-cycle="{{ max_cycle }}"
          data-election-full="{{ show_full_election }}"
          data-duration="{% if election_full %}{{ duration }}{% else %}2{% endif %}"
        >
        <thead>
          <tr>
            <th scope="col">Aggregate amount</th>
            <th scope="col">Spent by</th>
            <th scope="col">Support/Oppose</th>
          </tr>
        </thead>
      </table>
      <div class="datatable__note">
        <p class="t-note">These totals are drawn from quarterly, monthly and semi-annual reports. 24- and 48-Hour Reports of independent expenditures aren't included.</p>
      </div>
    </div>

    <div class="entity__figure row">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Communication costs</h3>
      </div>
      <table
          class="data-table data-table--heading-borders"
          data-type="communication-costs"
          data-candidate="{{ candidate_id }}"
          data-cycle="{{ max_cycle }}"
          data-election-full="{{ show_full_election }}"
          data-duration="{% if election_full %}{{ duration }}{% else %}2{% endif %}"
        >
        <thead>
          <tr>
            <th scope="col">Aggregate amount</th>
            <th scope="col">Spent by</th>
            <th scope="col">Support/Oppose</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="entity__figure row">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Electioneering communications</h3>
      </div>
      <table
          class="data-table data-table--heading-borders"
          data-type="electioneering"
          data-candidate="{{ candidate_id }}"
          data-cycle="{{ max_cycle }}"
          data-election-full="{{ show_full_election }}"
          data-duration="{% if election_full %}{{ duration }}{% else %}2{% endif %}"
        >
        <thead>
          <tr>
            <th scope="col">Aggregate amount</th>
            <th scope="col">Spent by</th>
          </tr>
        </thead>
      </table>
      <div class="datatable__note">
        <p class="t-note">To help users work with this data, we divide each itemized disbursement amount by the number of federal candidates named in connection with that disbursement. The resulting amount is listed here.</p>
      </div>
    </div>
  </div>
</section>
