@mixin button($bgcolor, $textcolor, $hoverbg, $hovertext) {
  @include appearance(none);
  @include transition(background-color .1s);
  @include font-size(1.6);
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  background: $bgcolor;
  border-radius: $base-border-radius;
  border: 1px solid $bgcolor;
  display: inline-block;
  color: $textcolor;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $hoverbg;
    color: $hovertext;
    border: 1px solid $hoverbg;
    text-decoration: none;
  }

  &:active,
  &:focus {
    @include appearance(none);
    outline: 3px solid $focus;
    color: $textcolor;
    background: $bgcolor;
    position: relative;
    z-index: 10;
  }

  &.disabled {
    color: #D3D3D3;
    cursor: default;

    &:hover {
      color: #D3D3D3;
      background-color: $bgcolor;
    }
  }
}

button,
.button {
  @include button($lightest-gray, $dark-gray, $medium-gray, $dark-gray);
  border: 1px solid $medium-gray;
}

.button--selected {
  background-color: $medium-gray;
  color: #fff;
  border: 1px solid $medium-gray;
}

input[type="submit"],
.primary {
  @include button($blue, #fff, $blue-2, #fff);

  &:active {
    background-color: $blue-2;
  }
}

.button--group {
  display: inline-block;

  .button {
    border-radius: 0;
    margin-left: -4px;

    &:first-child {
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
      border-right: none;
      margin-left: 0;
    }

    &:last-child {
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-left: none;
    }
  }
}

.button--close {
  background: none;
  border: none;
  padding: 0;
  
  &:active,
  &:hover {
    background: none;
    border: none;
  }
}

// Dropdowns

.button--dropdown {
  position: relative;
  text-align: left;
  padding: .5rem 1rem;
  line-height: 1.8rem;

  &:after {
    @include icon();
    content: "\e64b";
    text-align: center;
    position: absolute;
    padding: .5rem 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 4rem;
    border-left: 1px solid $medium-gray;
  }

  &.active {
    background: $light-gray;

    &:after {
      content: "\e648";
    }
  }
}

.dropdown {
  position: relative;
  padding: 0;
  margin: 0;
}

.dropdown__list {
  position: absolute;
  top: 3rem;
  width: 100%;
  background: #fff;
  border: 1px solid $light-gray;
  height: 30rem;
  overflow-y: scroll;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);

  li {
    font-size: 1.4rem;
    border-bottom: 1px solid $light-gray;
  }

  label {
    padding: .5rem 1rem;
    &:hover {
      background-color: $lightest-gray;
      cursor: pointer;
    }
  }
}

