@mixin button($bgcolor, $textcolor, $hoverbg, $hovertext) {
  @include appearance(none);
  @include transition(background-color .1s);
  @include font-size(1.6);
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  background: $bgcolor;
  border-radius: $base-border-radius;
  border: 1px solid $bgcolor;
  display: inline-block;
  color: $textcolor;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $hoverbg;
    color: $hovertext;
    border: 1px solid $hoverbg;
    text-decoration: none;
  }

  &:active,
  &:focus {
    @include appearance(none);
    outline: 3px solid $focus;
    color: $textcolor;
    background: $bgcolor;
    z-index: 10;
  }

  &.disabled {
    color: #D3D3D3;
    cursor: default;

    &:hover {
      color: #D3D3D3;
      background-color: $bgcolor;
    }
  }
}

button,
.button {
  @include button($lightest-gray, $dark-gray, $medium-gray, $dark-gray);
  border: 1px solid $medium-gray;
}

.button--selected {
  background-color: $medium-gray;
  color: #fff;
  border: 1px solid $medium-gray;
}

input[type="submit"],
.primary {
  @include button($blue, #fff, $blue-2, #fff);

  &:active {
    background-color: $blue-2;
  }
}

.button--group {
  display: inline-block;

  .button {
    border-radius: 0;
    margin-left: -4px;

    &:first-child {
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
      border-right: none;
      margin-left: 0;
    }

    &:last-child {
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-left: none;
    }
  }
}

.button--close {
  background: none;
  border: none;
  padding: 0;
  
  &:active,
  &:hover {
    background: none;
    border: none;
  }
}

.button--unstyled {
  @include appearance(none);
  display: inline;
  padding: 0;
  border: 0;
  color: $base-link-color;
  font-weight: normal;

  &:hover,
  &:active {
    background: none;
    text-decoration: underline;
    border: none;
    padding: 0;
  }

  &.selected {
    color: $dark-gray;
  }
}