// Colors
// If you need to just give something a background color of the appropriate type

.color-primary {
  background-color: $blue;

  &:hover {
    background-color: $blue-2;
  }
}

.color-error {
  background-color: $red;

  &:hover {
    background-color: $red-2;
  }
}

.color-activity {
  background-color: $green;
  color: #fff;

  &:hover {
    background-color: $green-2;
  }
}

.color-support {
  background-color: $data-support;

  &:hover {
    background-color: $data-support-2;
  }
}

.color-oppose {
  background-color: $data-oppose;

  &:hover {
    background-color: $data-oppose-2;
  }
}

.color-receipt {
  background-color: $data-receipt;

  &:hover {
    background-color: $data-receipt-2;
  }
}

.color-disbursement {
  background-color: $data-disbursement;

  &:hover {
    background-color: $data-disbursement-2;
  }
}

.color-cash {
  background-color: $data-cash;

  &:hover {
    background-color: $data-cash-2;
  }
}

.color-debt {
  background-color: $data-debt;

  &:hover {
    background-color: $data-debt-2;
  }
}
