fieldset {
  border: none;
  padding: 1em 0;
  margin: 1em 0;
}


legend {

}

input,
label,
select {
  @include font-size($form-font-size);
  display: block;
  font-family: $form-font-family;
}

label {
  @include font-size(1.6);
  margin-top: 2em;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }

  &:first-child {
    margin-top: 0;
  }
}

label + textarea,
label + #{$all-text-inputs} {
  margin: 0 0 1em 0;
}

#{$all-text-inputs} {
  @include rem(height, 4.0rem);
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  @include font-size($form-font-size);
  margin: 1em 0;
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  padding: 1em 1em;
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
}


// Custom form elements
.input-button-combo {
  @include clearfix();

  #{$all-text-inputs} {
    width: 75%;
    float: left;
    border-radius: $base-border-radius 0 0 $base-border-radius;
    margin: 0;
    border-right: none;
  }

  input[type="submit"],
  button,
  .button {
    @include rem(height, 4.0rem);
    width: 25%;
    float: left;
    border-radius: 0 $base-border-radius $base-border-radius 0;
  }

  @include media($medium) {
    #{$all-text-inputs} {
      width: 60%;
      float: left;
      border-radius: $base-border-radius 0 0 $base-border-radius;
    }

    input[type="submit"] {
      width: 40%;
      float: left;
      border-radius: 0 $base-border-radius $base-border-radius 0;
    }
  }
}

// If you want some styling on the forms
.form {
  background: $meta-box-color;
  border: 1px solid $medium-gray;
  padding: 2em;
  margin: 2em 0;
}

// For grouping together checkboxes or radio buttons

.form__group {
  margin: 1em 0;

  label {
    margin-top: 0;
  }
}
