fieldset {
  border: none;
  padding: 1em 0;
  margin: 1em 0;
}


legend {

}

input,
label,
select {
  @include font-size($form-font-size);
  display: block;
  font-family: $form-font-family;
}

label {
  @include font-size(1.6);
  margin-top: 2em;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }

  &:first-child {
    margin-top: 0;
  }
}

label + textarea,
label + #{$all-text-inputs} {
  margin: 0 0 1em 0;
}

#{$all-text-inputs} {
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  @include font-size($form-font-size);
  margin: 1em 0;
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  padding: 0 1rem;
  width: 100%;
  height: 3rem;
  
  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    outline: 3px solid $focus;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../img/angle-down.png'); // Fallback incase no svg background
  background-image: url('../img/angle-down.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 2rem;
  background-color: #fff;
  border: 1px solid $form-border-color;
  border-radius: 0;
  color: $dark-gray;
  padding: 0 4rem 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:focus {
    outline: 3px solid $focus;
  }
}


// Custom form elements
.input-button-combo {
  @include clearfix();

  #{$all-text-inputs} {
    border-radius: $base-border-radius;
    width: 100%;
    margin: 0 0 .5rem 0;
  }

  input[type="submit"],
  button,
  .button {
    border-radius: $base-border-radius;
    width: 100%;
    margin: 0;
  }

  @include media($medium) {
   #{$all-text-inputs} {
      height: 4rem;
      width: 75%;
      float: left;
      margin: 0;
      border-radius: $base-border-radius 0 0 $base-border-radius;
      border-right: none;
    }

    input[type="submit"],
    button,
    .button {
      height: 4rem;
      width: 25%;
      float: left;
      border-radius: 0 $base-border-radius $base-border-radius 0;
    }    
  }
}

// If you want some styling on the forms
.form {
  background: $meta-box-color;
  border: 1px solid $medium-gray;
  padding: 2em;
  margin: 2em 0;
}

// For grouping together checkboxes or radio buttons

.form__group {
  margin: 1em 0;

  label {
    margin-top: 0;
  }
}
