table {
  background-color: #fff;
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll; // scroll horizontally on smaller viewports

  thead {
    tr:hover {
      background-color: #fff;
    }
  }

  th {
    padding: 1rem;
    height: 4rem; 
    border-bottom: 1px solid $light-gray;
    text-align: left;
  }

  tr, td, th {
    vertical-align: middle;
  }

  tr {
    @include font-size(1.4);
    box-sizing: content-box; // Necessary to get the responsive rows to line up
    border: none;
    border-bottom: 1px dotted $light-gray;

//    &:nth-child(even) {
  //    background-color: #fdfdfd;
    //}

    &:hover {
      background: rgba($blue, .1);
    }
  }

  td {
    @include truncate();
    padding: .5em;
    border: none;
  }
}

.flex-cell {
  width: 30%;
}

.sort-header {
  @include transition(background-color .1s);
  position: relative;
  background-color: #fff;
  color: $blue;
  cursor: pointer;
  border-bottom: 2px solid $blue;

  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: #fff;

    &:after {
      color: #fff;
    }
  }

  &:after {
    position: absolute;
    right: .5em;
    bottom: .75em;
  }

  &.sort-down {
    &:after {
      @include icon();
      content: "\e62a";
    }
  }

  &.sort-up {
    &:after {
      @include icon();
      content: "\e627";
    }
  }
}

// Simple two-column faux tables using divs

.table__row {
  @include clearfix();
  border-bottom: 1px solid $light-gray;
}

.table__cell {
  padding: 0 1rem;
  float: left;
  line-height: 1;
}

.table__cell--heading {
  font-weight: bold;
}    

.table__row--note {
  @include font-size(1.0);
  width: 100%;
  padding: .5rem 0 1rem 0;
  text-align: right;
  font-style: italic;
  display: block;

  @include media($medium) {
    @include font-size(1.4);
  }
}

.table__row--total {
  font-weight: bold;
  margin-top: 1em;
}

.table__half {
  width: 100%;

  @include media($medium) {
    width: 48%;
    float: left;

    &:last-child {
      margin-left: 2%;
    }
  }
}

// If you're actually using table markup

.table--simple {
  width: 100%;
  border: none;

  tr {
    background: none;
  }

  th,
  td,
  .table__cell {
    padding: .5em .5em;
    border-right: none;
  }

  .table__cell--bar {
    .chart-series__bar {
      background-color: $data-b;
    }
  }

  th,
  .table__header {
    font-weight: bold;
    border-bottom: 1px solid $dark-gray;
  }

  td,
  .table__row {
    border-bottom: 1px solid $light-gray;
  }

  .table__row--header {
    padding-top: .5em;
  }

  .table__row--nested {
    background: $lightest-gray;
    border-bottom: 1px solid #fff;
    padding: 0 2rem;

    &.table__row--note {
      text-align: left;
      padding: 1rem 2rem;
    }
  }

}

.totals-table {
  @include font-size(1.4);
  .table__cell {
    width: 100%;
    padding: 1rem 0;

    &:first-child {
      padding: 1rem 0 0 0;
      font-weight: bold;
    }
  }

  &.totals-table--charts {
    .table__cell {
      line-height: 1.5em;
      padding: 0;
      width: 50%;
    
      &:first-child {
        width: 50%;
      }
    }
    
    .table__row--header {
      padding: .5em 0;
    }
    
    .table__row--nested {
      .table__cell,
      .table__cell:first-child {
        width: 100%;
        padding-top: .5rem;
      }
    }

    .table__cell--bar {
      width: 100%;
      padding-bottom: 1rem;
    }
  }

  .table__cell {
    width: 40%;

    &:first-child {
      width: 60%;
    }
  }

  .table__cell--header-description {
    display: none;
  }

  @include media($medium) {
    @include font-size(1.6);

    &.totals-table--charts {
      .table__row,
      .table__row--nested {
        .table__cell {
          width: 20%;
          padding: 1rem 0;

          &:first-child {
            width: 40%;
            padding: 1rem 0;
          }

          &:last-of-type {
            width: 40%;
          }
        }
      }
    }
    .table__cell--header-description {
      display: block;
    }

    .table__cell {
      width: 40%;

      &:first-child {
        width: 60%;
      }
    }
  }
}

/* All the fancy responsive styles are handled in 
* /static/styles/responsive-tables.css
* This is just further customization
*/

table.responsive {
  width: auto;

  @include media($medium) {
    width: 100%;
  }
}

.pinned {
  width: 40%;
  box-shadow: 1px 0 1px 0 rgba(0,0,0,.2);

  th {
    border-right: none;
  }
}

div.table-wrapper div.scrollable { // This naming is necessary to override
  margin-left: 40%;
}
