table {
  background-color: #fff;
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll; // scroll horizontally on smaller viewports
}

thead {
  tr:hover {
    background-color: #fff;
  }
}

th {
  padding: .5em;
  border-right: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  text-align: left;
  font-weight: normal;

  &:last-child {
    border-right: none;
  }
}

tr, td, th {
  vertical-align: middle;
}

tr {
  @include font-size(1.4);
  border: none;

  &:nth-child(even) {
    background-color: $lightest-gray;
  }

  &:hover {
    background: rgba($blue, .1);
  }
}

td {
  @include truncate();
  padding: .5em;
  border: none;
  width: 16%;
}

.flex-cell {
  width: 30%;
}

.sort-header {
  @include transition(background-color .1s);
  position: relative;
  background-color: #fff;
  color: $blue;
  cursor: pointer;
  border-bottom: 2px solid $blue;

  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: #fff;

    &:after {
      color: #fff;
    }
  }

  &:after {
    position: absolute;
    right: .5em;
    bottom: .75em;
  }

  &.sort-up {
    &:after {
      @include icon();
      content: "\e62a";
    }
  }

  &.sort-down {
    &:after {
      @include icon();
      content: "\e627";
    }
  }
}

// Simple two-column faux tables using divs

.table__row {
  @include clearfix();
  border-bottom: 1px solid $light-gray;
}

.table__cell {
  @include rem(padding, 0 1rem);
  float: left;
  line-height: 1;
}

.table__cell--heading {
  font-weight: bold;
}    

.table__row--note {
  @include font-size(1.4);
  @include rem(padding, 0 1rem);
  width: 100%;
  padding: .5em 1em;
  font-style: italic;
  display: block;
}

.table__row--total {
  font-weight: bold;
  margin-top: 1em;
}

.table__half {
  width: 48%;
  float: left;

  &:last-child {
    margin-left: 2%;
  }
}

// If you're actually using table markup

.table--simple {
  width: 100%;
  border: none;

  tr {
    background: none;
  }

  th,
  td,
  .table__cell {
    padding: .5em 1em;
    border-right: none;
  }

  th,
  .table__header {
    font-weight: bold;
    border-bottom: 1px solid $dark-gray;
  }

  td,
  .table__row {
    border-bottom: 1px solid $light-gray;
  }

}
