html {
  font-size: 62.5%;
}

body {
  @include font-size(1.4);
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  @include font-size(4.8);
  font-weight: 300;
}

h2 {
  @include font-size(3.6);
  font-weight: 300;
}

h3 {
  @include font-size(3.2);
  font-weight: 400;
}

h4 {
  @include font-size(2.4);
  font-weight: 400;
  margin-bottom: 1em;
}

h5 {
  @include font-size(1.8);
}

h6 {
  @include font-size(1.6);
}

p {
  margin: 0 0 ($base-line-height * .5);
  -webkit-margin-before: 0;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;
  text-decoration: underline;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }

  &.link--delete {
    color: $red;

    &:hover {
      color: $red-2;
    }
  }

  &.link--learn {
    color: $green;

    &:hover {
      color: $green-2;
    }
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

// Universal text classes

.text--lead {
  @include font-size(1.8);
  margin-top: 0;
}

.text--query {
  border-bottom: 1px solid $dark-gray;
}

.text--note {
  font-style: italic;
}
