html {
  font-size: 62.5%;
}

body {
  @include font-size(1.4);
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0 0 .25em 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings

}

h1,
.h1 {
  @include font-size(2.6);
  font-weight: 600;
}

h2,
.h2 {
  @include font-size(2.2);
  font-weight: 600;
  margin-bottom: .5em;
}

h3,
.h3 {
  @include font-size(2.0);
  font-weight: 600;
}

h4,
.h4 {
  @include font-size(1.6);
  font-weight: 600;
}

h5,
.h5 {
  @include font-size(1.4);
  font-weight: 600;
}

h6,
.h6 {
  @include font-size(1.4);
  font-weight: 600;
}

@include media($medium) {
  h1,
  .h1 {
    @include font-size(3.2);
  }

  h2,
  .h2 {
    @include font-size(2.8);
  }

  h3,
  .h3 {
    @include font-size(2.4);
  }

  h4,
  .h4 {
    @include font-size(2.0);
  }

  h5,
  .h5 {
    @include font-size(1.6);
  }

  h6,
  .h6 {
    @include font-size(1.4);
  }
}

p {
  margin-bottom: 1em;
  -webkit-margin-before: 0;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
    text-decoration: underline;
  }

  &:active, &:focus {
    color: $hover-link-color;
  }

  &.link--delete {
    color: $red;

    &:hover {
      color: $red-2;
    }
  }

  &.link--learn {
    color: $green;

    &:hover {
      color: $green-2;
    }
  }
}

.link--icon {
  text-decoration: none; // Don't underline if there's an icon in the link
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

// Universal text classes

.text--display {
  @include font-size(2.6);
  margin-bottom: .5em;

  @include media($medium) {
    @include font-size(4.0);
  }
}

.text--hero {
  @include font-size(1.8);
  margin-bottom: 1em;

  @include media($medium) {
    @include font-size(2.4);
  }
}

.text--lead {
  @include font-size(1.6);

  @include media($medium) {
    @include font-size(1.8);
  }
}

.text--query {
  border-bottom: 1px solid $dark-gray;
}

.text--note {
  font-style: italic;
}

.text--white {
  color: #fff;
}

.text--small {
  @include font-size(1.0);
  margin: 0;
  
  @include media($medium) {
      @include font-size(1.0);
  }
}

// Data styles
// When we're presenting data but not using semantic headers
.data {
  @include font-size(1.6);
  margin: 0;
  padding: 0;
  color: $licorice;
}

// Think of this as the <dt>
.data--label {
  @extend .data;
  font-weight: bold;
}

// And this as the <dd>
.data--content,
.data--link {
  @extend .data;
}

// This is just a parenthetical note
.data--note {
  @include font-size(1.4);
  font-style: italic;
}

// For showing big fancy numbers
.data--display {
  @include font-size(2.4);
  margin: 1em 0;
  padding:0;
}

// Special section headers
.page-subsection h3 {
  @include rem(margin-bottom, 2.0rem);
}
