// Utility classes for common style things that need to be changed

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-float-right {
	float: right;
}

.u-float-left {
	float: left;
}

.u-fixed {
	position: fixed;
}

.u-visible {
  display: block;
}

[aria-hidden="true"],
.u-hidden {
  display: none;
}

.u-visually_hidden {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.u-not-responsive {
  max-width: auto;
}