{% extends "layouts/main.html" %}
{% import 'macros/page-header.html' as header %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
  {{ header.header(title, '', show_search=False) }}
  <div class="main">
  <div class="container">
    <header class="heading--main">
      <h1>{{ title }}</h1>
    </header>
  </div>
  <div id="options" class="container">
    <div class="sidebar-container sidebar-container--left">
      <nav class="sidebar sidebar--neutral sidebar--left side-nav js-sticky-side js-toc" data-sticky-container="options">
        <ul class="sidebar__content">
          <li class="side-nav__item"><a class="side-nav__link" href="#candidates">Candidates</a></li>
          <li class="side-nav__item"><a class="side-nav__link" href="#committees">Committees</a></li>
          <li class="side-nav__item"><a class="side-nav__link" href="#receipts">Receipts</a></li>
          <li class="side-nav__item"><a class="side-nav__link" href="#spending">Spending</a></li>
          <li class="side-nav__item"><a class="side-nav__link" href="#filings">Reports and filings</a></li>
        </ul>
      </nav>
    </div>
    <section class="main__content--right">
      <div id="candidates" class="option">
        <h2>Candidates</h2>
        <div class="option__content">
          <p>Search <span class="term" data-term="candidate">candidate</span> data, including money raised, money spent, cash on hand and debt.</p>
          <p>Statements of Candidacy (Form 2) contain basic information about individuals running
          for federal office, including their names, addresses and authorized campaign committees.</p>
          <div class="grid--2-wide">
          <ul class="grid__item list--spacious t-sans">
            <li><a class="t-all-data" href="{{ url_for('candidates', election_year=default_cycles, has_raised_funds='true') }}">All candidates</a>
              <ul>
                <li><a href="{{ url_for('candidates_office', office='president') }}">Presidential candidates</a></li>
                <li><a href="{{ url_for('candidates_office', office='senate') }}">Senate candidates</a></li>
                <li><a href="{{ url_for('candidates_office', office='house') }}">House of Representatives candidates</a></li>
              </ul>
            </li>
          </ul>
          <ul class="grid__item list--spacious t-sans">
            <li><a href="{{ url_for('filings', form_type='F2') }}">Most recent Statements of Candidacy (Form 2)</a></li>
          </ul>
          </div>
        </div>

        <div class="option__aside">
          <aside class="is-disabled">
            <i class="icon-circle--candidate"><span class="u-visually-hidden">Icon of a candidate</span></i>
            <span>Candidate data overview</span>
          </aside>
          <aside>
            <i class="icon-circle--checklist"><span class="u-visually-hidden">Icon of a checklist</span></i>
            <span><a href="../registration-and-reporting/essentials-house-and-senate-candidates-and-committees/">Candidate registration and reporting requirements</a></span>
          </aside>
        </div>

      </div>
      <div id="committees" class="option">
        <h2>Committees</h2>
        <div class="option__content">
          <p>The term <span class="term" data-term="political committee">committee</span> encompasses several different political groups that receive and spend money in federal elections.
          Search for committees by type, years active, political party, location and treasurer.</p>
          <p>Statements of Organization (Form 1) contain basic information about committees, including type, address and treasurer.</p>
          <p>Requests for Additional Information (RFAIs) are sent to committees when a Campaign Finance Analyst needs additional clarification on a committee’s filing or identifies an error, omission or possible prohibited activity. Search RFAIs by committee or date.</p>
          <div class="grid--2-wide">
            <ul class="grid__item list--spacious t-sans">
              <li><a class="t-all-data" href="{{ url_for('committees', election_year=default_cycles) }}">All committees</a>
                <ul>
                  <li><a href="#" class="is-disabled">Candidate committees</a></li>
                  <li><a href="#" class="is-disabled">Political action committees (PACs)</a></li>
                  <li><a href="#" class="is-disabled">Super PACs</a></li>
                  <li><a href="#" class="is-disabled">Leadership PACs</a></li>
                  <li><a href="#" class="is-disabled">Joint fundraising committees</a></li>
                  <li><a href="#" class="is-disabled">Party committees</a></li>
                  <li><a href="#" class="is-disabled">Separate segregated funds (SSFs)</a></li>
                </ul>
              </li>
            </ul>
            <ul class="grid__item list--spacious t-sans">
              <li><a href="{{ url_for('filings', form_type='F1') }}">Most recent Statements of Organization (Form 1)</a></li>
              <li><a href="{{ url_for('filings', form_type='RFAI') }}">Requests for Additional Information sent to committees</a></li>
            </ul>
          </div>
        </div>
        <div class="option__aside">
          <aside class="card card--primary is-disabled">
            <span class="card__image card__icon i-committee"><span class="u-visually-hidden">Icon representing a committee</span></span>
            <div class="card__content">
              PAC interactive overviews
            </div>
          </aside>
          <aside class="card card--primary card--stacked is-disabled">
            <span class="card__image card__icon i-committee"><span class="u-visually-hidden">Icon representing a committee</span></span>
            <div class="card__content">
              Party committee interactive overviews
            </div>
          </aside>
        </div>
      </div>
      <div id="receipts" class="option">
        <h2>Receipts</h2>
        <div class="option__content">
          <p><span class="term" data-term="receipt">Receipts</span> are anything of value, like money, services or property. Search candidate and committee receipt data by contributor, amount and date.</p>
          <p>Search individual contributions to see who is donating to candidates and committees. Search for contributors by name, location, employer and occupation.</p>
          <div class="grid--2-wide">
          <ul class="grid__item list--spacious t-sans">
            <li><a class="t-all-data" href="{{ url_for('receipts', is_individual=True) }}">All receipts</a>
              <ul>
                <li><a href="{{ url_for('individual_contributions') }}">Individual contributions</a></li>
                <li><a href="#" class="is-disabled">Contributions from other committees</a></li>
              </ul>
            </li>
          </ul>
          </div>
        </div>
        <div class="option__aside">
          <aside class="card card--primary is-disabled">
            <span class="card__image card__icon i-receipt"><span class="u-visually-hidden">Icon representing fundraising</span></span>
            <div class="card__content">
              Fundraising interactive overviews
            </div>
          </aside>
        </div>
      </div>
      <div id="spending" class="option">
        <h2>Spending</h2>
        <div class="option__content">
          <p>Spending includes all the types of <span class="term" data-term="disbursement">dibsursements</span> candidates and committees make.</p>
          <p>Search all disbursements from committees by the recipient, purpose, amount and date.</p>
          <p>Search <span class="term" data-term="independent expenditure">independent expenditures</span> to find specific spenders, candidates mentioned and transaction information.</p>
          <p>Search communication costs and <span class="term" data-term="electioneering communication">electioneering communications</span> for communications that support or oppose specific candidates. Search by date and amount spent.</p>
          <div class="grid--2-wide">
            <ul class="grid__item list--spacious t-sans">
              <li><a class="t-all-data" href="{{ url_for('disbursements') }}">All disbursements</a>
                <ul>
                  <li><a href="#" class="is-disabled">Operating expenditures</a></li>
                  <li><a href="#" class="is-disabled">Expenditures to committees</a></li>
                </ul>
              </li>
            </ul>
            <ul class="grid__item list--spacious t-sans">
              <li><a href="{{ url_for('independent_expenditures', max_date=today() | date(fmt='%m-%d-%Y')) }}">Independent expenditures</a></li>
              <li><a href="{{ url_for('electioneering_communications', max_date=today() | date(fmt='%m-%d-%Y')) }}">Electioneering communications</a></li>
              <li><a href="{{ url_for('communication_costs', max_date=today() | date(fmt='%m-%d-%Y')) }}">Communication costs</a></li>
            </ul>
          </div>
        </div>
        <div class="option__aside">
          <aside class="card card--primary is-disabled">
            <span class="card__image card__icon i-disbursement"><span class="u-visually-hidden">Icon representing spending</span></span>
            <div class="card__content">
              Spending interactive overviews
            </div>
          </aside>
        </div>
      </div>
      <div id="filings" class="option">
        <h2>Filings</h2>
        <div class="option__content">
          <p>Filings contain all the statements, reports and notices that candidates and committees file. Search by date, type and filing candidate or committee.</p>
          <div class="grid--2-wide">
            <ul class="grid__item list--spacious t-sans">
              <li><a href="{{ url_for('reports', form_type='presidential', is_amended='false') }}">Presidential committee reports</a></li>
              <li><a href="{{ url_for('reports', form_type='house-senate', is_amended='false') }}">House and Senate committee reports</a></li>
              <li><a href="{{ url_for('reports', form_type='pac-party', is_amended='false') }}">PAC and party committee reports</a></li>
              <!-- Commenting out while page is in progress -->
              <!--<li><a href="{{ url_for('reports', form_type='ie-only', is_amended='false') }}">Independent expenditure (Form 5) filer reports</a></li>-->
            </ul>
            <ul class="grid__item list--spacious t-sans">
              <li><a class="t-all-data" href="{{ url_for('filings') }}">All filings</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="slab slab--neutral">
  <div class="container">
    <h2>More ways to explore data</h2>
    <div class="grid grid--4-wide">
      <div class="grid__item">
        <a href="{{ url_for('election_lookup') }}">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
                <span class="card__icon i-elections"><span class="u-visually-hidden">Icon representing elections</span></span>
            </div>
            <div class="card__content">
              Find elections by location
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="{{ url_for('search') }}">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-profile"><span class="u-visually-hidden">Icon representing profiles</span></span>
            </div>
            <div class="card__content">
                Search candidate or committee profiles
            </div>
          </aside>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
