{% extends 'layouts/main.html' %}
{% import 'macros/cycle-select.html' as select %}
{% import 'macros/tabs.html' as tabs %}
{% import 'macros/page-header.html' as header %}

{% block title %}
    {{ name }} - Candidate overview
{% endblock %}

{% set breadcrumbs=[('', 'Candidate profiles')] %}

{% block body %}

{{ header.header(name, breadcrumbs) }}

<div class="container tab-interface">
  <header class="entity__header entity__header--inverse">
    <h1 class="entity__name">{{ name }}</h1>
    <div class="heading--section">
      <span class="t-data t-bold entity__type">Candidate for {{ office_full }}</span>
      {% if office == 'S' %}<span class="t-data t-bold entity__type">{{ constants.states[state] }}</span>{% endif %}
      <span class="t-data t-bold entity__type">ID: {{ candidate_id }}</span>
      <span class="t-data t-bold">{{ party_full }}</span>
      </h5>
    </div>
  </header>

  <div class="sidebar-container sidebar-container--left">
    <nav class="sidebar sidebar--left side-nav-alt">
      <ul class="tablist" role="tablist" data-name="tab">
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link side-nav__tab"
            role="tab"
            data-name="summary"
            tabindex="0"
            aria-controls="panel1"
            href="#section-1"
            aria-selected="true">Financial Summary</a>
        </li>
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link side-nav__tab"
            role="tab"
            data-name="other-spending"
            tabindex-"1"
            aria-controls="panel2"
            href="#section-2">Spending by others to support or oppose</span>
        </li>
      </ul>
    </nav>
  </div>

  <div class="main__content--right">

    <ul role="tablist" data-name="tab" aria-hidden="true">
      {{ tabs.tab('Financial summary', 'summary', 'panel1', '#section-1') }}
      {{ tabs.tab('Spending by others to support/oppose', 'other-spending', 'panel2', '#section-2') }}
    </ul>

    {% include 'partials/candidate/financial-summary-new.html' %}
    {% include 'partials/candidate/other-spending-tab-new.html' %}

  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  var context = {{ context_vars | json | safe }};
</script>
<script src="{{ asset_for('dist/js/pages/candidate-single.js') }}"></script>
{% endblock %}
