{% extends 'layouts/main.html' %}
{% import 'macros/cycle-select.html' as select %}
{% import 'macros/tabs.html' as tabs %}
{% import 'macros/page-header.html' as header %}

{% block title %}
    {{ name }} - Candidate overview
{% endblock %}

{% set breadcrumbs=[('', 'Candidate profiles')] %}

{% block body %}
<div class="tab-interface">
  {{ header.header(name, breadcrumbs) }}
  <header class="entity__header entity__header--neutral">
    <div class="container">
      <div class="entity__header__top row">
        <div class="usa-width-three-fourths">
          <h1 class="entity__name">{{ name }}</h1>
          <span class="t-data entity__type">Candidate for {{ office_full }}</span><span class="t-data">ID: {{ candidate_id }}</span>
        </div>
      </div>
      <ul class="entity__info">
        <li class="entity__term">
          <span class="entity__term__label"><a class="term" data-term="Political party">Party</a></span>
          <span class="entity__term__data">{{ party_full }}</span>
        </li>
        <li class="entity__term">
          <span class="entity__term__label"><a class="term" data-term="Status">Status</a></span>
          <span class="entity__term__data">{% if incumbent_challenge_full %}{{ incumbent_challenge_full|title }}{% endif %}</span>
        </li>
        {% if office == 'H' %}
        <li class="entity__term">
          <span class="entity__term__label"><span class="term" data-term="District">District</span></span>
          <span class="entity__term__data">
            <a href="{{ election_url(context(), cycle) }}">{{ constants.states[state] }} - {{ district }}</a>
          </span>
        </li>
        {% elif office == 'S' %}
        <li class="entity__term">
          <span class="entity__term__label">State</span>
          <span class="entity__term__data">
            <a href="{{ election_url(context(), cycle) }}">{{ state }}</a>
          </span>
        </li>
        {% endif %}
        <li class="entity__term">
          <span class="entity__term__label">
            <a class="term" data-term="Principal Campaign Committee">Principal committee</a>
          </span>
          {% for c in committee_groups['P'] | reverse %}
          <span class="entity__term__data">
            <a href="{{ url_for('committee_page', c_id=c.committee_id) }}">{{ c.name }}</a>
          </span>
          {% endfor %}
        </li>
        <li class="entity__term">
          <span class="entity__term__label">Elections</span>
          <p class="entity__term__data">
          {% for year, district in elections %}
            {{ year }}{% if loop.last == false %},{% endif %}
          {% endfor %}
          </p>
        </li>
      </ul>
      <div class="entity__header__bottom">
        <div class="entity__cycle">
          <span class="label">Show data for</span>
          {{ select.cycle_select(election_years, cycle, duration=duration, id="cycle-1") }}
        </div>
        <div class="entity__election">
          <span class="entity__term__label">More information on this election</span>
          <a
            class="button card card--horizontal card--full-bleed card--neutral"
            href="{{ election_url(context(), election_year) }}"
            >
            <div class="card__image__container">
              <img class="card__image icon--complex" src="/static/img/i-elections--primary.svg" alt="Icon representing elections">
            </div>
            <div class="card__content">
              <h5 class="u-no-margin t-upper t-sans">{{ election_year }} {% if office == 'P' %} Presidential election {% else %} {{office_full}} {% endif %}</h5>
              <span class="t-block">{% if district != '00' %}{{ constants.states[state] }} - {{ district }}{% else %}{{ constants.states[state] }}{% endif %}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="page-controls page-controls--neutral sticky-bar with-transition js-sticky-bar" data-trigger-offset="100">
    <div class="page-controls__top">
      <div class="container">
        <span class="page-controls__title">{{ name }}</span>
      </div>
    </div>
    <div class="page-controls__bottom">
      <div class="container">
        <nav class="page-tabs">
          <ul class="page-tabs__list" role="tablist" data-name="tab">
            <li class="page-tabs__item page-tabs__years"><h2 class="u-no-margin">{{ format_election_years(cycle, election_full, duration) }}: </h2></li>
            {{ tabs.tab('Financial summary', 'summary', 'panel1', '#section-1') }}
            {{ tabs.tab('Spending by others to support/oppose', 'other-spending', 'panel2', '#section-2') }}
          </ul>
        </nav>
      </div>
    </div>
  </div>

  {% include 'partials/loading-tab.html' %}
  {% include 'partials/candidate/financial-summary.html' %}
  {% include 'partials/candidate/other-spending-tab.html' %}
</div>

{% endblock %}

{% block scripts %}
<script>
var context = {{ context_vars | json | safe }};
</script>
<script src="{{ asset_for('dist/js/pages/candidate-single.js') }}"></script>
{% endblock %}
