{% extends 'layouts/main.html' %}
{% import 'macros/null.html' as null %}
{% import 'macros/cycle-select.html' as select %}
{% import 'macros/tabs.html' as tabs %}
{% import 'macros/page-header.html' as header %}

{% block title %}
    {{ name }} - committee overview
{% endblock %}

{% set breadcrumbs=[('', 'Committee profiles')] %}

{% block body %}
  <div class="tab-interface">
    {{ header.header(name, breadcrumbs, search_type='committees') }}
    <header class="entity__header entity__header--primary">
      <div class="container">
        <div class="entity__header__top row">
          <h1 class="entity__name">{{ name }}</h1>
          <span class="t-data entity__type">
            {{ committee_type_full }}
             - {{ designation_full }}
             {% if organization %} - {{ organization }}{% endif %}
          </span><span class="t-data">ID: {{ committee_id }}</span>
        </div>
        <ul class="entity__info">
          {% if party_full %}
          <li class="entity__term">
            <span class="entity__term__label"><span class="term" data-term="Political party">Political party</span></span>
            <span class="entity__term__data">{{ party_full }}</span>
          </li>
          {% endif %}
          <li class="entity__term">
            <span class="entity__term__label">Treasurer</span>
            <span class="entity__term__data">{{ treasurer_name }}</span>
          </li>
          {% if candidates %}
          <li class="entity__term">
            <span class="entity__term__label">Related
              {% if candidates|length > 1 %}
                candidates
              {% else %}
                candidate
              {% endif %}
            </span>
            <ul class="entity__term__data">
            {% for c in candidates %}
              <li><a href="{{ url_for('candidate_page', c_id=c.candidate_id, cycle=c.related_cycle) }}">{{ c.name }}</a></li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}
          <li class="entity__term">
            <span class="entity__term__label">Address</span>
            <span class="entity__term__data">{{ street_1 }}{% if street_2 %}<br>{{ street_2 }}{% endif %} <br> {{city}}, {{state}} {{zip}}</span>
          </li>
      </ul>
      <div class="entity__header__bottom">
        <div class="entity__cycle">
          <span class="label">Show data for</span>
          {{ select.cycle_select(cycles, cycle, class="select--alt-primary")}}
        </div>
      </div>
    </header>
    <div class="page-controls page-controls--primary sticky-bar with-transition js-sticky-bar" data-trigger-offset="100">
      <div class="page-controls__top">
        <div class="container">
          <span class="page-controls__title">{{ name }}</span>
        </div>
      </div>
      <div class="page-controls__bottom">
        <div class="container">
          <nav class="page-tabs">
            <ul class="page-tabs__list" role="tablist" data-name="tab">
              {% if committee_type not in ['C', 'E'] %}
                {{ tabs.tab('Financial summary', 'summary', 'panel1', '#section-1') }}
              {% endif %}
              {% if committee_type in ['C'] %}
                {{ tabs.tab('Communication cost', 'communication-cost-committee', 'panel6', '#section-6') }}
              {% endif %}
              {% if committee_type in ['E'] %}
                {{ tabs.tab('Electioneering communication', 'electioneering-committee', 'panel6', '#section-6') }}
              {% endif %}
              {% if committee_type not in ['C'] %}
                {{ tabs.tab('Individual contributions', 'receipts', 'panel2', '#section-2') }}
              {% endif %}
                {{ tabs.tab('Disbursements', 'disbursements', 'panel3', '#section-3') }}
              {% if committee_type not in ['C', 'E'] %}
                {{ tabs.tab('Between committees', 'between-committees', 'panel4', '#section-4') }}
              {% endif %}
              {% if committee_type not in ['P', 'H', 'S', 'Z', 'C', 'E', 'D'] %}
                {{ tabs.tab('Independent expenditures', 'independent-expenditures-committee', 'panel6', '#section-6') }}
              {% endif %}
              {{ tabs.tab('Filings', 'filings', 'panel5', '#section-5') }}
            </ul>
          </nav>
        </div>
      </div>
    </div>

    {% with committee=context() %}
       {% include 'partials/loading-tab.html' %}
      {% if committee_type not in ['C', 'E'] %}
        {% include 'partials/committee/financial-summary.html' %}
      {% endif %}
      {% if committee_type not in ['C'] %}
        {% include 'partials/committee/receipts-tab.html' %}
      {% endif %}
      {% include 'partials/committee/disbursements-tab.html' %}
      {% if committee_type not in ['C', 'E'] %}
        {% include 'partials/committee/between-committees-tab.html' %}
      {% endif %}
      {% if committee_type not in ['P', 'H', 'S', 'Z', 'C', 'E', 'D'] %}
        {% include 'partials/committee/independent-expenditures-tab.html' %}
      {% endif %}
      {% if committee_type in ['C'] %}
        {% include 'partials/committee/communication-cost-tab.html' %}
      {% endif %}
      {% if committee_type in ['E'] %}
        {% include 'partials/committee/electioneering-tab.html' %}
      {% endif %}
      {% include 'partials/committee/filings-tab.html' %}
    {% endwith %}
  </div>

{% endblock %}

{% block scripts %}
<script>
var context = {{ context_vars | json | safe }};
{% if committee_type not in ['P', 'H', 'S', 'Z', 'C', 'E', 'D'] %}
  context.showIndependentExpenditures = true;
{% endif %}
</script>
<script src="{{ asset_for('dist/js/pages/committee-single.js') }}"></script>
{% endblock %}
