{% extends 'layouts/main.html' %}

{% block title %}
  Browse {{ title }}
{% endblock %}

{% block body %}

<header class="page-header slab slab--primary">
  <h1 class="page-header__title">{{ title }}</h1>
</header>

<section class="main__content--full">
  <div class="data-container__widgets js-data-widgets"></div>
  {% include 'partials/' + slug + '-filter.html' %}
  <div class="data-container">
    <div id="{{slug}}" class="data-container__body fade-in">
      {% include 'partials/tables/' + slug + '-table.html' %}
    </div>
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
{% if office %}
<script>
var context = {
  office: '{{ office }}'
};
</script>
{% endif %}
<script src="{{ datatable_script(slug) }}"></script>
{% endblock %}
