{% extends 'layouts/main.html' %}
{% import 'macros/page-header.html' as header %}

{% set breadcrumbs_title=title %}
{% set breadcrumbs=[(url_for('advanced'), 'Advanced data')] %}

{% block title %}
  Browse {{ title }}
{% endblock %}

{% block body %}

{{ header.header(breadcrumbs_title | title, breadcrumbs, show_search=False) }}

<section class="main__content--full">
  <div class="data-container__widgets sticky-bar js-data-widgets js-sticky-bar">
    <div class="js-filter-tags data-container__tags">
      <div class="js-panel-controls panel__controls">
        <button type="button" class="js-filter-toggle filters__toggle" aria-hidden="true">Add filters +</button>
        <button type="button" class="js-filter-clear filters__toggle filters__clear" aria-hidden="true">Clear all filters</button>
      </div>
    </div>
  </div>
  <div class="data-container__wrapper">
    {% include 'partials/' + slug + '-filter.html' %}
    <div class="data-container">
      <div id="{{slug}}" class="data-container__body fade-in">
        <table id="results" class="data-table" aria-live="polite">
          <thead>
            <tr>
              {% for column in columns %}
                <th scope="col">{{ column }}</th>
              {% endfor %}
              <th scope="col"></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
{% if office %}
<script>
var context = {
  office: '{{ office }}',
};
</script>
{% endif %}
{% if report_type %}
<script>
var context = {
  reportType: '{{ report_type }}',
};
</script>
{% endif %}
<script src="{{ asset_for_page(slug) }}"></script>
{% endblock %}
