{% extends 'layouts/main.html' %}
{% import 'macros/cycle-select.html' as select %}
{% import 'macros/page-header.html' as header %}

{{ cycle }} Election - US {{ office|title }} {% if state %} - {{ state|fmt_state_full }} {% if district %} - District {{ district }} {% endif %} {% endif %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
{{ header.header(title) }}
<div class="u-padding--left u-padding--right tab-interface">
  <header class="main">
    {% if office == 'president' %}
      <h1 class="heading--section">{{ cycle }} US President election</h1>
    {% else %}
      <h1 class="heading--section">{{ cycle }} {{ state|fmt_state_full }}
      {% if district %}
        District {{ district }} election
      {% endif %}
      </h1>
    {% endif %}
  </header>

  <div class="data-container__wrapper">
    <nav class="sidebar side-nav-alt">
      <ul class="tablist" role="tablist" data-name="tab">
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="comparison"
            tabindex="0"
            aria-controls="panel1"
            href="#section-1"
            aria-selected="true">Financial comparison</a>
        </li>
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="comparison"
            tabindex="0"
            aria-controls="panel3"
            href="#section-3"
            >Raising comparison</a>
        </li>
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="spending-by-others"
            tabindex="0"
            aria-controls="panel2"
            href="#section-2"
            >Spending by others to support/oppose</a>
        </li>
      </ul>
    </nav>

    <div class="main__content--right-full">
      {% include 'partials/loading-tab.html' %}
      {% include 'partials/elections/candidate-comparison-tab.html' %}
      {% include 'partials/elections/detailed-comparison-tab.html' %}
      {% include 'partials/elections/other-spending-tab.html' %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
var context = {
  election: {
    cycle: {{ cycle }},
    office: '{{ office }}',
    state: '{{ state or '' }}',
    stateFull: '{{ state_full or '' }}',
    district: '{{ district or '' }}'
  }
};
</script>
<script src="{{ asset_for('dist/js/pages/elections.js') }}"></script>
{% endblock %}
