{% extends "layouts/main.html" %}
{% import 'macros/cycle-select.html' as select %}
{% import 'macros/overviews.html' as overviews %}
{% set hide_header_search = true %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
<section class="hero hero--primary hero--data" aria-labelledby="hero-heading">
  <div class="hero__image"></div>
  <div class="container">
    <h1 id="hero-heading" class="hero__title">Campaign finance data</h1>
    <p class="hero__content">See how candidates and committees raise and spend money in federal elections. This financial data helps voters make informed decisions.</p>
  </div>
</section>

<section class="slab slab--neutral slab--spacious">
  <div class="container">
    {{ search.search('hero', button_color="button--standard", select_class="select--alt") }}
    <span class="t-note t-sans search__example">Examples: Obama for America, C00431445; Bush, George W., P00003335</span>
  </div>
</section>

<div class="main container js-accordion accordion--neutral" data-content-prefix="about"">
  <section class="content__section">
    <div class="grid grid--2-wide">
      <div class="grid__item grid__item--no-margin card card--wide">
        <div class="card__image__container">
          <img class="card__image icon--complex" src="{{ url_for('static', filename='img/i-table--neutral.svg') }}" alt="Icon representing committees">
          <h2 class="card__title"><a href="{{ url_for('advanced') }}">Advanced data &raquo;</a></h2>
        </div>
        <div class="card__content">
          <h2 class="card__title"><a href="{{ url_for('advanced') }}">Advanced data &raquo;</a></h2>
          <span>Search, filter and download data.</span>
        </div>
      </div>
      <div class="grid__item grid__item--no-margin card card--wide">
        <div class="card__image__container">
          <img class="card__image icon--complex" src="{{ url_for('static', filename='img/i-elections--neutral.svg') }}"  alt="Icon representing elections">
          <h2 class="card__title"><a href="{{ url_for('election_lookup') }}">Elections by location &raquo;</a></h2>
        </div>
        <div class="card__content">
          <h2 class="card__title"><a href="{{ url_for('election_lookup') }}">Elections by location &raquo;</a></h2>
          <span>Find elections near you&mdash;search by state or ZIP code.</span>
        </div>
      </div>
    </div>
  </section>
  <div class="content__section--ruled content__section--extra">
    <div class="icon-heading content__section">
      <img class="icon-heading__image" src="{{ url_for('static', filename='img/i-overviews--primary.svg') }}" alt="Icon representing interactive overviews">
      <div class="icon-heading__content">
        <h2 class="icon-heading__title">Interactive overviews</h2>
        <p>You don’t have to be an expert to learn more about campaign finance. These overviews are a visual introduction to how money is raised and spent in federal elections.</p>
      </div>
    </div>
    <h3 class="u-no-margin">Raising overview</h3>
    <p>This chart shows <span class="term" data-term="total receipts">total receipts</span> for the past year. Receipts include all money, goods, services or property received by a committee.</p>
    <section class="content__section">
      <div class="content__section">
        <div class="section__heading">
          <h4 class="heading__title heading__title--with-action t-upper">All elections, 2015–2016</h4>
          <div class="heading__action">
            <ul class="list--buttons">
              <li><a class="button button--standard button--table" href="{{ url_for('receipts') }}">Explore data</a></li>
              <li><button class="button button--standard button--share is-disabled">Share</button></li>
            </ul>
          </div>
        </div>
        {{ overviews.overview(totals['raising'], 'raised', 'landing')}}
        <button class="accordion__button js-accordion-trigger js-ga-event" data-ga-event="Raised methodology accordion clicked">About this data</button>
        <div class="accordion__content overview__methodology">
          <p>This data includes Forms 3, 3P, 3X, 5, 7 and 9 from January 1, 2015 to May 25, 2016.</p>
          <h5>Methodology overview</h5>
          <p><strong>Money raised</strong> includes each of the following:</p>
          <ul class="list--bulleted">
            <li><em>Adjusted receipts</em> for PACs, parties, congressional filers and presidential filers</li>
            <li>Total contributions for independent expenditure (Form 5) filers</li>
            <li>Total donations for electioneering communications (Form 9) filers</li>
          </ul>
          <p><em>Adjusted receipts</em> are the total receipts minus the following:</p>
          <ul class="list--bulleted">
            <li>Contribution refunds</li>
            <li>Contributions from political party committees and other political committees</li>
            <li>Loan repayments</li>
            <li>Offsets to operating expenditures</li>
            <li>Transfers from nonfederal accounts for allocated activities</li>
          </ul>
          <p><span>The form-by-form breakdown for adjusted receipts is:</span></p>
          <ul class="list--bulleted">
            <li><strong>Form 3:</strong> <em>line 16</em> - (<em>line 11(b)</em> + <em>line 11(c)</em> + <em>line 14</em> + <em>line 19(c)</em> + <em>line 20(d))</em></li>
            <li><strong>Form 3P:</strong> <em>line 22</em> - (<em>line 17(b)</em> + <em>line 17(c)</em> + <em>line 20(d)</em> + <em>line 27(c)</em> + <em>line 28(d)</em>)</li>
            <li><strong>Form 3X:</strong> <em>line 19</em> - (<em>line 11(b)</em> + <em>line 11(c)</em> + <em>line 15</em> + <em>line 16</em> + <em>line 18(a)</em> + <em>line 26</em> + <em>line 28(d)</em>)</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="content__secton--extra">
      <h3 class="u-no-margin">Spending overview</h3>
      <p>This chart shows <span class="term" data-term="total disbursements">total disbursements</span> for the past year. Disbursements include all payments and purchases made by a committee.</p>
      <div class="content__section">
        <div class="section__heading">
          <h4 class="heading__title heading__title--with-action t-upper">All elections, 2015–2016</h4>
          <div class="heading__action">
            <ul class="list--buttons">
              <li><a class="button button--standard button--table" href="{{ url_for('disbursements') }}">Explore data</a></li>
              <li><button class="button button--standard button--share is-disabled">Share</button></li>
            </ul>
          </div>
        </div>
        {{ overviews.overview(totals['spending'], 'spent', 'landing')}}
        <button class="accordion__button js-accordion-trigger js-ga-event" data-ga-event="Spending methodology accordion clicked">About this data</button>
        <div class="accordion__content overview__methodology">
          <p>This data includes Forms 3, 3P, 3X, 5, 7 and 9 from January 1, 2015 to May 25, 2016.</p>
          <h5>Methodology overview</h5>
          <p><strong>Money spent</strong> includes each of the following:</p>
          <ul class="list--bulleted">
            <li><em>Adjusted disbursements</em> for PACs, parties, congressional filers and presidential filers</li>
            <li>Total independent expenditures for independent expenditure (Form 5) filers</li>
            <li>Total disbursements and obligations electioneering communication (Form 9) filers</li>
            <li>Total communications costs for communication cost (Form 7) filers</li>
          </ul>
          <p><em>Adjusted disbursements</em> are total disbursements minus the following:</p>
          <ul class="list--bulleted">
            <li>Contribution refunds</li>
            <li>Contributions to candidates and other political committees</li>
            <li>Loan repayments</li>
            <li>Nonfederal share of allocated disbursements</li>
            <li>Offsets to expenditures</li>
            <li>Other disbursements</li>
            <li>Transfers to other authorized committees and affiliated committees</li>
          </ul>
          <p>The form-by-form breakdown for adjusted disbursements is:</p>
          <ul class="list--bulleted">
            <li><strong>Form 3:</strong> <em>line 22</em> - (<em>line 18</em> + <em>line 19(c)</em> + <em>line 20(d)</em> + <em>line 21</em>)</li>
            <li><strong>Form 3P:</strong> <em>line 30</em> - (<em>line 20(d)</em> + <em>line 24</em> + <em>line 27(c)</em> + <em>line 28(d)</em> + <em>line 29</em>)</li>
            <li><strong>Form 3X:</strong> <em>line 31</em> - (<em>line 21(a)(ii)</em> + <em>line 22</em> + <em>line 23</em> + <em>line 26</em> + <em>line 28(d)</em> + <em>line 29</em>)</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ asset_for('dist/js/pages/landing.js') }}"></script>
{% if FEC_WEB_ENVIRONMENT == 'prod' %}
<!-- Ethnio Activation Code -->
<script type="text/javascript" language="javascript" src="https://ethn.io/70862.js" async="true" charset="utf-8"></script>
{% endif %}
{% endblock %}
