{% extends "layouts/legal-doc-landing.html" %}

{% block content %}
<header class="heading--main">
  <h1>Advisory opinions</h1>
</header>
<section class="content__section content__section--narrow">
  <div class="content__section">
    <p class="t-lead">
      Advisory opinions are official Commission responses to questions about how federal campaign finance law applies to specific, factual situations.
    </p>
    <a class="button button--cta button--go" href="{{ cms_url }}/legal-resources/advisory-opinions-process">The advisory opinion process</a>
  </div>
  <div class="u-no-print">
    <div class="slab slab--neutral slab--inline">
      <div class="container">
        <div class="row">
          <form action="{{ url_for('advisory_opinions') }}" autocomplete="off" class="search__container  js-search">
            <label for="search-input" class="label">Search or browse advisory opinions</label>
            <div class="combo combo--search--medium combo--search--inline">
              <input id="search-input" type="text" name="search" class="combo__input">
              <button class="combo__button button--search button--standard" type="submit">
                <span class="u-visually-hidden">Search</span>
              </button>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="row search__example">
            <span class="t-note t-sans">Examples: spending prohibitions; 2003-38</span>
            <a class="u-float-right t-sans" href="{{url_for('advisory_opinions')}}">Advanced search</a>
          </div>
        </div>
        <div class="row">
          <div class="message message--info">
            <h3>This feature is still in progress</h3>
            <p>We are actively building the <strong>advisory opinion search</strong>, and it doesn&#39;t yet include some
            advanced search functions. If you can&#39;t find what you&#39;re looking for, you can still <a href="http://saos.fec.gov/saos/searchao">search
            opinions on the the old fec.gov</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="content__section content__section--narrow">
  <div class="heading--section">
    <h2>Pending advisory opinion requests</h2>
  </div>
  <div class="content__section">
    <p>Once the Office of the General Counsel has determined that an advisory opinion request meets all of the requirements to move forward for conisderation by the Commission, the request is made public and is available for public comment for ten days.</p>
    <a class="button button--standard button--go" href="{{ cms_url }}/legal/advisory-opinions/process#commenting">Learn how to comment</a>
  </div>
  <div class="post-feed">
    {% for post in pending_aos %}
    <article class="post">
      <h3 class="pending-ao__title"><a href="{{ url_for('advisory_opinion_page', ao_no=post.number) }}">{{ post.title }}</a></h3>
      <p class="t-sans">{{ post.summary }}</p>
      <p>Deadline for comments: {{ post.deadline }}</p>
    </article>
    {% endfor %}
  </div>
</section> -->
<section class="content__section content__section--narrow">
  <div class="heading--section">
    <h2>Recent advisory opinions issued</h2>
  </div>
  <div class="content__section">
    <p>The Commission issues an advisory opinion when four or more Commissioners vote to approve it. These votes almost always occur during an <a href="{{ cms_url }}/calendar/?category=Open+Meetings">open meeting</a>.</p>
    <a class="button button--standard button--browse" href="{{url_for('advisory_opinions')}}">Explore all advisory opinions</a>
  </div>
  <div class="post-feed">
    {% for ao in recent_aos %}
    <article class="post">
      <h3><a href="{{ url_for('advisory_opinion_page', ao_no=ao.no) }}">AO {{ ao.no }} {{ ao.name }}</a></h3>
      <p class="t-sans">{{ ao.summary }}</p>
      {% for doc in ao.documents %}
        {% if doc.category == 'Final Opinion' %}
          <p class="t-sans post__doc"><a href="{{ doc.url }}">{{ doc.category }} | PDF</a></p>
        {% endif %}
      {% endfor %}
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
