{% extends "layouts/main.html" %}
{% import 'macros/legal.html' as legal %}
{% import 'macros/breadcrumbs.html' as breadcrumb %}

{% set breadcrumb_links=[(cms_url + '/legal-resources', 'Legal resources')] %}

{% block title %}Search advisory opinions{% endblock %}

{% block body %}
<header class="page-header slab slab--primary">
  {{ breadcrumb.breadcrumbs('Advisory opinions', breadcrumb_links) }}
</header>

<section class="main__content--full data-container__wrapper">
  {{ legal.filter('Search advisory opinions', 'advisory_opinions') }}
  <div class="content__section data-container__body">
    <div class="results-info results-info--simple">
      <h1 class="results-info__title" id="advisory-opinions">Advisory opinions</h1>
    </div>
    <p class="u-padding--top">
      Advisory opinions are official Commission responses to questions about how federal campaign finance law applies to specific, factual situations.
    </p>
    <p class="u-padding--top">
      This archive contains advisory opinions from 1975 to the present. It also contains documents related to advisory opinions — such as requests, drafts and public comments — from 1990 to the present.
    </p>
    <p class="u-padding--top">
      Learn how to <a href="http://www.fec.gov/pages/brochures/ao.shtml">request an advisory opinion or submit a public comment</a> on an advisory opinion.
    </p>
    <div class="content__section is-disabled">
      <div class="results-info results-info--simple">
        <h2 class="results-info__title" id="advisory-opinions">Pending advisory opinion requests</h2>
      </div>
      <p class="u-padding--top">
        Coming soon.
      </p>
    </div>
    <div class="content__section is-disabled">
      <div class="results-info results-info--simple">
        <h2 class="results-info__title" id="advisory-opinions">Latest advisory opinions</h2>
      </div>
      <p class="u-padding--top">
        Coming soon.
      </p>
    </div>
  </div>
</section>

{% include 'partials/legal-disclaimer.html' %}
{% endblock %}
