{% extends "layouts/main.html" %}
{% import 'macros/breadcrumbs.html' as breadcrumb %}

{% set breadcrumb_links=[(cms_url + '/legal-resources', 'Legal resources'), (url_for('advisory_opinions'), 'Advisory opinions')] %}

{% block title %}AO {{ advisory_opinion.no }}{% endblock %}

{% block body %}
<header class="page-header slab slab--primary">
  {{ breadcrumb.breadcrumbs('AO %s' % (advisory_opinion.no,), breadcrumb_links) }}
</header>

<div class="container">
  <div class="row">
    <h1 class="t-no-rules">AO {{ advisory_opinion.no }}</h1>
    <h2 class="t-ruled--bold t-ruled--bottom">{{ advisory_opinion.name }}</h2>
    <section class="content__section">
      <div id="advisory-opinion-summary" class="main__content">
        {{ advisory_opinion.summary }}
      </div>
      <div class="sidebar-container">
        <aside class="sidebar sidebar--primary">
          <h4 class="sidebar__title">Cited in this AO</h4>
          <div class="sidebar__content">
            Lorem Ipsum.
          </div>
        </aside>
      </div>
    </section>
    <section class="content__section">
      <h2 class="t-ruled--bold t-ruled--bottom">Documents</h2>
      <div class="content__section">
        <a class="button button--cta button--browse button--lg" href="{{ advisory_opinion.final_url }}">Final Opinion</a>
      </div>
      <table class="data-table data-table--text">
        <thead>
          <tr>
            <th class="cell--20">Date</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for document in advisory_opinion.related_documents %}
            <tr>
              <td>{{ document.date }}</td>
              <td><a href="{{ document.url }}">{{ document.name }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <section class="content__section">
      <h2 class="t-ruled--bold t-ruled--bottom">Entities</h2>
      <table class="data-table data-table--text">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {% for entity in advisory_opinion.entities %}
            <tr>
              <td><a href="{{ entity.url }}">{{ entity.name }}</a></td>
              <td>{{ entity.role }}</td>
              <td>{{ entity.type }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
</div>
{% endblock %}
