{% extends "layouts/main.html" %}
{% import 'macros/breadcrumbs.html' as breadcrumb %}

{% set breadcrumb_links=[(cms_url + '/legal-resources', 'Legal resources'), (url_for('advisory_opinions_landing'), 'Advisory opinions')] %}

{% block title %}AO {{ advisory_opinion.no }}{% endblock %}

{% block body %}
<header class="page-header slab slab--primary">
  {{ breadcrumb.breadcrumbs('AO %s' % (advisory_opinion.no,), breadcrumb_links) }}
</header>

<div class="main">
<div class="container">
  <div class="row">
    <header class="heading--main">
      <h1>AO {{ advisory_opinion.no }}</h1>
      <span class="heading__subtitle">{{ advisory_opinion.name }}</span>
    </header>
    <section class="content__section">
      <div id="advisory-opinion-summary" class="main__content">
        <p>
          {{ advisory_opinion.summary }}
        </p>
      </div>
    </section>
    <section class="content__section">
      <h2 class="t-ruled--bold t-ruled--bottom">Documents</h2>
      <div class="content__section">
      {% if advisory_opinion.category == "Final Opinion" %}
        <a class="button button--cta button--document button--lg" href="{{ advisory_opinion.url }}">{{ advisory_opinion.category | lower | capitalize }}</a>
      {% endif %}
      </div>
      <table class="data-table data-table--text">
        <thead>
          <tr>
            <th class="cell--20">Date</th>
            <th>Name</th>
            <th>Document type</th>
          </tr>
        </thead>
        <tbody>
          {% for document in advisory_opinion.documents %}
            <tr>
              <td>{{ document.date | date }}</td>
              <td><a href="{{ document.url }}">{{ document.description }}</a></td>
              <td>{{ document.category }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <section class="content__section is-disabled">
      <h2 class="t-ruled--bold t-ruled--bottom">Entities</h2>
      Coming soon.
    </section>
    <section class="content__section">
      <aside id="legal-citations" class="sidebar sidebar--primary">
          <h4 class="sidebar__title">Legal citations</h4>
          <div class="sidebar__content">
            <div class="grid grid--2-wide">
                <div class="grid__item">
                  <p class="t-bold">This opinion cites earlier opinions</p>
                  <div class="rich-text">
                    {% if advisory_opinion.citations %}
                    {% for citation in advisory_opinion.citations %}
                      <p><a href="/legal/advisory-opinions/{{ citation.no }}">AO {{ citation.no }}</a><br><i>{{ citation.name }}</i></p>
                    {% endfor %}
                    {% else %}
                      <p><em>Doesn't cite other opinions</em></p>
                    {% endif %}
                  </div>
                </div>
                <div class="grid__item">
                  <p class="t-bold">This opinion is cited by these later opinions</p>
                  {% if advisory_opinion.cited_by %}
                  {% for citation in advisory_opinion.cited_by %}
                    <p><a href="/legal/advisory-opinions/{{ citation.no }}">AO {{ citation.no }}</a><br><i>{{ citation.name }}</i></p>
                  {% endfor %}
                  {% else %}
                    <p><em>Isn't cited by other opinions</em></p>
                  {% endif %}
                </div>
            </div>
        </div>
        </aside>
    </section>
  </div>
</div>
</div>
{% endblock %}
