{% extends "layouts/legal-doc-landing.html" %}
{% import 'macros/document.html' as document %}

{% block content %}
<div class="section__heading">
  <h1 class="heading__title">Enforcement matters</h1>
</div>
<div class="content__section">
  <p>Enforcement.</p>
</div>
<div class="content__section">
  <div class="grid grid--3-wide">
    <div class="grid__item">
      <h5><a href="">Administrative Fine Program</a></h5>
      <p>Procedure and penalties for late and missed filings.</p>
    </div>
    <div class="grid__item">
      <h5><a href="">Alternative Dispute Program</a></h5>
      <p>Procedure and penalties for late and missed filings.</p>
    </div>
    <div class="grid__item">
      <h5><a href="">Matters Under Review</a></h5>
      <p>Procedure and penalties for late and missed filings.</p>
    </div>
    <div class="grid__item">
      <h5><a href="">Alternative Dispute Program</a></h5>
      <p>Procedure and penalties for late and missed filings.</p>
    </div>
    <div class="grid__item">
      <h5><a href="">Matters Under Review</a></h5>
      <p>Procedure and penalties for late and missed filings.</p>
    </div>
    <div class="grid__item">
      <h5><a href="">Alternative Dispute Program</a></h5>
      <p>Procedure and penalties for late and missed filings.</p>
    </div>
    <div class="grid__item">
      <h5><a href="">Matters Under Review</a></h5>
      <p>Procedure and penalties for late and missed filings.</p>
    </div>
  </div>
</div>
{% endblock %}
