{% extends "layouts/legal-doc-landing.html" %}

{% block content %}
<header class="heading--main">
  <h1>Advisory opinions</h1>
</header>
<div class="content__section content__section--narrow">
  <p>
    Advisory opinions are official Commission responses to questions about how federal campaign finance law applies to specific, factual situations.
  </p>
  <p>
    This archive contains advisory opinions from 1975 to the present. It also contains documents related to advisory opinions — such as requests, drafts and public comments — from 1990 to the present.
  </p>
  <p>
    Learn how to <a href="http://www.fec.gov/pages/brochures/ao.shtml">request an advisory opinion or submit a public comment</a> on an advisory opinion.
  </p>
  <div class="u-no-print">
    <div class="slab slab--neutral slab--inline">
      <div class="container">
        <div class="row">
          <div class="usa-width-one-whole">
            <form action="{{ url_for('advisory_opinions') }}" autocomplete="off" class="search__container  js-search">
              <label for="search-input" class="label">Search advisory opinions</label>
              <div class="combo combo--search--medium combo--search--inline">
                <input id="search-input" type="text" name="search" class="combo__input">
                <button class="combo__button button--search button--standard" type="submit">
                  <span class="u-visually-hidden">Search</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="usa-width-one-whole">
            <span class="t-note t-sans search__example">Examples: spending prohibitions; 2003-38</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content__section is-disabled">
  <div class="heading--section">
    <h2>Pending advisory opinion requests</h2>
  </div>
  <div class="content__section">
    <p>Coming soon.</p>
  </div>
</div>
<div class="content__section is-disabled">
  <div class="heading--section">
    <h2>Latest advisory opinions</h2>
  </div>
  <div class="content__section">
    <p>Coming soon.</p>
  </div>
</div>
{% endblock %}
