{% extends "layouts/legal-doc-landing.html" %}

{% block content %}
<header class="heading--main">
  <h1>Advisory opinions</h1>
</header>
<section class="content__section content__section--narrow">
  <p class="t-lead">
    Advisory opinions are official Commission responses to questions about how federal campaign finance law applies to specific, factual situations.
  </p>
  <a class="button button--cta button--go" href="{{ FEC_CMS_URL }}/legal/advisory-opinions/process">The advisory opinion process</a>
  <div class="u-no-print">
    <div class="slab slab--neutral slab--inline">
      <div class="container">
        <div class="row">
          <form action="{{ url_for('advisory_opinions') }}" autocomplete="off" class="search__container  js-search">
            <label for="search-input" class="label">Search or browse advisory opinions</label>
            <div class="combo combo--search--medium combo--search--inline">
              <input id="search-input" type="text" name="search" class="combo__input">
              <button class="combo__button button--search button--standard" type="submit">
                <span class="u-visually-hidden">Search</span>
              </button>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="usa-width-one-whole">
            <span class="t-note t-sans search__example">Examples: spending prohibitions; 2003-38</span>
            <a class="u-float-right t-sans" href="{{url_for('advisory_opinions')}}">Advanced search</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content__section content__section--narrow">
  <div class="heading--section">
    <h2>Pending advisory opinion requests</h2>
  </div>
  <p>Once the Office of the General Counsel has determined that an advisory opinion request meets all of the requirements to move forward for conisderation by the Commission, the request is made public and is available for public comment for ten days.</p>
  <a class="button button--standard button--go" href="{{ FEC_CMS_URL }}/legal/advisory-opinions/process#commenting">Learn how to comment</a>

</section>
<section class="content__section content__section--narrow">
  <div class="heading--section">
    <h2>Recent advisory opinions issued</h2>
  </div>
  <p>The Commission issues an advisory opinion when four or more Commissioners vote to approve it. These votes almost always occur during an <a href="{{ FEC_CMS_URL }}/calendar/?category=Open+Meetings">open meeting</a>.</p>
  <a class="button button--standard button--browse" href="{{url_for('advisory_opinions')}}">Explore all advisory opinions</a>
</section>
{% endblock %}
