<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{% endblock %} - OpenFEC</title>

    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/{{ assets['static/styles/styles.css'] }}" />
    {% if api_location %}
    <script>
        API_LOCATION = "{{api_location}}"
        API_VERSION = "{{api_version}}"
        API_KEY = "{{api_key}}"
    </script>
    {% endif %}
</head>
<body>
{% include 'partials/browser-warning.html' %}
<a href="#main-content" class="u-visually_hidden">skip navigation</a>
<div id="site-menu" class="modal__overlay" aria-hidden="true">
  <div class="modal">
    <div class="modal__row">
      <p class="text--small">An official website of the United States Government <img src="/static/img/us_flag_small.png" alt="US flag signifying that this is a United States Federal Government website"></p>
      <p class="text--small">Looking for fec.gov? <a title="Visit fec.gov" href="http://www.fec.gov">Click here.</a></p>
    </div>
    <div class="modal__row">
      <h3>Search the Data</h3>
      <form id="modal-search" action="/" autocomplete="off">
        {% include 'partials/search-bar.html' %}
      </form>
    </div>
    <div class="modal__row">
      <h3>Browse the Data</h3>
      <nav class="modal__nav">
        <ul>
          <li><a href="{{ url_for('candidates', cycle=default_cycles) }}" name="candidates"><img class="category-icon" src="/static/img/icon-candidate--white.svg" alt="Icon representing candidates">Candidates</a></li>
          <li><a href="{{ url_for('committees', cycle=default_cycles) }}" name="committees"><img class="category-icon" src="/static/img/icon-committee--white.svg" alt="Icon representing committees">Committees</a></li>
        </ul>
      </nav>
    </div>
    <div class="modal__row">
      <h3>Additional Information</h3>
      <nav class="modal__nav">
        <ul>
          <li><a href="https://github.com/18F/openFEC/">View project source code</a></li>
          <li><a href="mailto:{{ contact_email }}"><i class="ti-email"></i> Contact us</a></li>
        </ul>
      </nav>
      <button title="Close menu" class="js-hide modal__close" data-hides="site-menu"><i class="ti-close"></i> Close menu</button>
    </div>
  </div>
</div>
<div class="page-wrap">
  <header class="site-header">
    <div id="notice" aria-hidden="true" class="section--blue">
      <a id="notice-close" class="js-action js-hide link--icon" tabindex="0" data-hides="notice"><i class="ti-close"></i></a>
      <h3>This site is in alpha. Tell us what you think!</h3>
      <p>This is the first public release of OpenFEC, a new app for exploring the FEC's disclosure data. OpenFEC uses current campaign finance disclosure data but <em>does not include</em> all data made available by the FEC and things may not work as expected. Please continue your regular work on the <a href="http://www.fec.gov/pindex.shtml">Campaign Finance Disclosure Portal</a>.</p>
      <p>We're working hard to make OpenFEC a useful addition to the resources available at FEC.gov. Your feedback is important to us as we build this site. <a href="mailto:18F-FEC@gsa.gov">Email us</a> and let us know how it’s working for you.</p>
    </div>
    <div class="banner">
      <span class="banner--left">Looking for fec.gov? <a href="http://www.fec.gov">Click here.</a></span>
      <span class="banner--center">An official website of the United States Government <img src="/static/img/us_flag_small.png" alt="US flag signifying that this is a United States Federal Government website"></span>
      <span class="banner--right">This site is in alpha. <a title="Learn about this site's development" tabindex="0" id="notice-reveal" class="js-reveal js-action" data-reveals="notice">Learn more.</a></span>
    </div>
    <div class="clearfix">
      <div class="header__left">
        <button id="site-menu-toggle" class="header-nav__link side-toggle js-reveal" data-reveals="site-menu"><i class="ti ti-menu"></i></button>
        <a class="header-brand" href="/" title="Home"><img width="140" src="/static/img/logo.svg" alt="OpenFEC Logo"></a>
        <nav class="header-nav">
          <ul class="header-nav__list">
            <li class="header-nav__item"><a class="header-nav__link" title="Browse candidates" href="{{ url_for('candidates', cycle=default_cycles) }}" name="candidates"><img class="category-icon" width="20" height="20" src="/static/img/icon-candidate--white.svg" alt="Icon representing candidates">Candidates</a></li>
            <li class="header-nav__item"><a class="header-nav__link" title="Browse committee" href="{{ url_for('committees', cycle=default_cycles) }}" name="committees"><img class="category-icon" width="20" height="20" src="/static/img/icon-committee--white.svg" alt="Icon representing committees">Committees</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__right">

        {% if not page or page != 'home' %}
        <div class="header-search">
          <form id="search" action="/" autocomplete="off"
            class="js-search">
            {% include 'partials/search-bar.html' %}
          </form>
        </div>
        {% endif %}

        <button id="glossary-toggle" title="View site glossary" data-slide="right" class="header-nav__link side-toggle"><i class="ti ti-help-alt"></i></button>
      </div>
    </div>
  </header>

  {% block header %}{% endblock %}
  <div class="main-container" id="main-content">
    <main id="main"{% if section %} data-section="{{section}}"{% endif %}>
        {% block body %}{% endblock %}
    </main>
  </div>

</div> <!-- .page-wrap -->
<footer>
  <div class="footer__left">
    <img src="/static/img/18f.png" alt="18F Logo" class="u-float-left">
    <ul class="u-float-left">
      <li>A project of <a href="https://18f.gsa.gov">18F</a></li>
      <li><a href="https://github.com/18F/openFEC/">View project source code</a></li>
    </ul>
  </div>

  <nav class="footer__right footer__nav">
    <ul>
      <li><a href="mailto:{{ contact_email }}"><i class="ti-email"></i> Contact us</a></li>
      <li><a href="http://www.fec.gov">Visit fec.gov</a></li>
    </ul>
  </nav>
</footer>

{% include './partials/glossary.html' %}

<script src="/{{ assets['static/js/app.js'] }}"></script>
{% block scripts %}{% endblock %}

{% if config.USE_ANALYTICS %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48605964-22', 'auto');
      ga('send', 'pageview');

    </script>
{% endif %}
</body>
</html>
