<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Open FEC Beta</title>
    <link href="/static/js/vendor/chosen/chosen.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../vex-js/css/vex-theme-default.css" />
    <link rel="stylesheet" href="/static/styles/themify-icons.css">
    <link href="/static/styles/styles.css" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,600,700|Open+Sans:300,400,600,700|Source+Code+Pro:400' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

<header class="site-header">
  <div class="usa">
    An official website of the United States Government <img src="/static/img/us_flag_small.png" alt="US flag signifying that this is a United States Federal Government website">
  </div>
  <div class="container site-header__inner">
    <a class="logo" href="/" title="Home"><img src="/static/img/brand.svg" alt="OpenFEC Logo"></a>
  </div><!-- .container -->
</header>

{% block header %}{% endblock %}

<div id="progress" class="container hidden"></div>

<main id="main"{% if section %} data-section="{{section}}"{% endif %}>
    {% block body %}{% endblock %}
</main>

<script src="/static/js/vendor/chosen/chosen.jquery.min.js"></script>
{% if mockjax %}
    <script src="jquery-mockjax/jquery.mockjax.js"></script>
{% endif %}
<script src="/static/js/vendor/typeahead.bundle.min.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
