<h1>Explore FEC Data</h1>
<h2>Browse Candidates</h2>
<section id="filters">
    <div class="filter-box">
        <div class="filter-header-bar">
            Filter candidates 
        </div>
        <div class="filter-field-container">
            <form id="candidate-filters">
                <label for="name">Name</label>
                <input type="text" name="name" />

                <label for="election-cycle">Election Cycle</label>
                <select name="election-cycle">
                    <option value=""></option>
                </select>

                <label for="political-party">Political party</label>
                <select name="political-party"></select>

                <label for="state">State</label>
                <select name="state"></select>

                <label for="district">District</label>
                <select name="district"></select>

                <label for="office-sought">Office sought</label>
                <select name="office-sought"></select>
            </form>
        </div>
    </div>
</section>
