<h1>Explore FEC Data</h1>
<h2>Browse Candidates</h2>
<section id="filters">
    <div class="filter-box">
        <div class="filter-header-bar">
            Filter candidates 
        </div>
        <div class="filter-field-container">
            <form id="candidate-filters">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" />
                </div>

                <div class="field">
                    <label for="election-cycle">Election Cycle</label>
                    <select name="election-cycle">
                        <option value=""></option>
                    </select>
                </div>

                <div class="field">
                    <label for="political-party">Political party</label>
                    <select name="political-party" data-placeholder="Choose a political party">
                        <option value></option>
                        <option value="democrat">Democrat</option>
                        <option value="independent">Independent</option>
                        <option value="republican">Republican</option>
                    </select>
                </div>

                <div class="field">
                    <label for="state">State</label>
                    <select name="state"></select>
                </div>

                <div class="field">
                    <label for="district">District</label>
                    <select name="district"></select>
                </div>

                <div class="field">
                    <label for="office-sought">Office sought</label>
                    <select name="office-sought"></select>
                </div>
            </form>
        </div>
    </div>
</section>
