<div class="data container">
    <h2>{{heading}}</h2>

    <section id="filters">
        <div id="selected-filters"></div>
        <div class="filter-box">
            <div class="filter-header-bar">
                Filter committees
                <button class="disclosure-toggle"></button>
            </div>
            <div class="filter-field-container">
                <form id="category-filters">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" name="name" />
                    </div>

                    <div class="field">
                        <label for="fake_party">Political party</label>
                        <select name="fake_party" data-placeholder="Select a political party">
                            <option></option>
                            <option value="AIC">American Independent Conservative</option>
                            <option value="AIP">American Independent Party</option>
                            <option value="AMP">American Party</option>
                            <option value="APF">American People's Freedom Party</option>
                            <option value="CIT">Citizens' Party</option>
                            <option value="CMP">Commonwealth Party of the U.S.</option>
                            <option value="COM">Communist Party</option>
                            <option value="CRV">Conservative Party</option>
                            <option value="CST">Constitutional</option>
                            <option value="D/C">Democratic/Conservative</option>
                            <option value="DEM">Democratic Party</option>
                            <option value="DFL">Democratic-Farm-Labor</option>
                            <option value="FLP">Freedom Labor Party</option>
                            <option value="GRE">Green Party</option>
                            <option value="GWP">George Wallace Party</option>
                            <option value="HRP">Human Rights Party</option>
                            <option value="IAP">Independent American Party</option>
                            <option value="ICD">Independent Conserv. Democratic</option>
                            <option value="IGD">Industrial Government Party</option>
                            <option value="IND">Independent</option>
                            <option value="LAB">U.S. Labor Party</option>
                            <option value="LBL">Liberal Party</option>
                            <option value="LBR">Labor Party</option>
                            <option value="LBU">Liberty Union Party</option>
                            <option value="LFT">Less Federal Taxes</option>
                            <option value="LIB">Libertarian</option>
                            <option value="LRU">La Raza Unida</option>
                            <option value="NAP">Prohibition Party</option>
                            <option value="NDP">National Democratic Party</option>
                            <option value="NLP">Natural Law Party</option>
                            <option value="PAF">Peace and Freedom</option>
                            <option value="PFD">Peace Freedom Party</option>
                            <option value="POP">People Over Politics</option>
                            <option value="PPD">Protest, Progress, Dignity</option>
                            <option value="PPY">People's Party</option>
                            <option value="REF">Reform Party</option>
                            <option value="REP">Republican Party</option>
                            <option value="RTL">Right to Life</option>
                            <option value="SLP">Socialist Labor Party</option>
                            <option value="SUS">Socialist Party U.S.A.</option>
                            <option value="SWP">Socialist Workers Party</option>
                            <option value="THD">Theo-Dem</option>
                            <option value="TWR">Taxpayers Without Representation</option>
                            <option value="TX">Taxpayers</option>
                            <option value="USP">U.S. People's Party</option>
                        </select>
                    </div>

                    <div class="field">
                        <label for="state">State</label>
                        <select name="state" data-placeholder="Choose a state">
                            <option></option>
                            <option value="AK">Alaska</option>
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="AZ">Arizona</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="DE">Delaware</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="IA">Iowa</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MD">Maryland</option>
                            <option value="ME">Maine</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MO">Missouri</option>
                            <option value="MS">Mississippi</option>
                            <option value="MT">Montana</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="NE">Nebraska</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NV">Nevada</option>
                            <option value="NY">New York</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VA">Virginia</option>
                            <option value="VT">Vermont</option>
                            <option value="WA">Washington</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WV">West Virginia</option>
                            <option value="WY">Wyoming</option>
                       </select>
                    </div>

                    <div class="field">
                        <label for="type_code">Type</label>
                        <select name="type_code" data-placeholder="Select a type">
                            <option></option>
                            <option value="P">Presidential</option>
                            <option value="H">House</option>
                            <option value="S">Senate</option>
                            <option value="C">Communication Cost</option>
                            <option value="D">Delegate Committee</option>
                            <option value="E">Electioneering Communication</option>
                            <option value="I">Independent Expenditor (Person or Group)</option>
                            <option value="N">PAC - Nonqualified</option>
                            <option value="O">Independent Expenditure-Only (Super PACs)</option>
                            <option value="Q">PAC - Qualified</option>
                            <option value="U">Single Candidate Independent Expenditure</option>
                            <option value="V">PAC with Non-Contribution Account - Nonqualified</option>
                            <option value="W">PAC with Non-Contribution Account - Qualified</option>
                            <option value="X">Party - Nonqualified</option>
                            <option value="Y">Party - Qualified</option>
                            <option value="Z">National Party Nonfederal Account</option>
                        </select>
                    </div>

                    <div class="field">
                        <label for="designation_code">Designation</label>
                        <select name="designation_code" data-placeholder="Select a designation">
                            <option></option>
                            <option value="A">Authorized by a candidate</option>
                            <option value="J">Joint fundraising committee</option>
                            <option value="P">Principal campaign committee</option>
                            <option value="U">Unauthorized</option>
                            <option value="B">Lobbyist/Registrant PAC</option>
                            <option value="D">Leadership PAC</option>
                        </select>
                    </div>

                </form>
            </div>
        </div>
    </section>



    <section id="committees">
        {{> committees-table}}
    </section>
</div>
