<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Open FEC Beta</title>
    <link href="styles/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
    <div class="header-bar">Open FEC Beta</div>
    <nav>
        <ul>
            <li>Search</li>
            <li>Candidates</li>
            <li>Committees</li>
            <li>Contributions</li>
            <li>Expenditures</li>
        </ul>
    </nav>
</header>

<h1>Explore FEC Data</h1>
<form>
    <label for="search">Search for candidates, committees and contributors</label>
    <input type="text" name="search"/>
    <input type="submit"/>
</form>

<nav>
    <h1>Browse a dataset:</h1>
    <ul>
        <li>Search</li>
        <li>Candidates</li>
        <li>Committees</li>
        <li>Contributions</li>
        <li>Expenditures</li>
    </ul>    
</nav>

</body>
</html>
