<h1>Explore FEC Data</h1>
<form id="search" action="/search">
    <label for="search">Search for candidates, committees and contributors</label>
    <input type="text" name="search"/>
    <input type="submit"/>
</form>

<nav class="browse-links">
    Browse a dataset:
    <ul>
        <li><a href="candidates/all" name="candidates">Candidates</a></li>
        <li><a href="committees/all" name="committees">Committees</a></li>
        <li>Contributions</li>
        <li>Expenditures</li>
    </ul>    
</nav>

