{{> search-bar}}

<nav class="browse-links">
    Browse a dataset:
    <ul>
        <li><a href="candidates/all" name="candidates">Candidates</a></li>
        <li><a href="committees/all" name="committees">Committees</a></li>
        <li class="inactive">Contributions</li>
        <li class="inactive">Expenditures</li>
    </ul>    
</nav>

