<h1>Explore FEC Data</h1>
<form id="search">
    <label for="search">Search for candidates, committees and contributors</label>
    <input type="text" name="search"/>
    <input type="submit"/>
</form>

<nav class="browse-links">
    <h1>Browse a dataset:</h1>
    <ul>
        <li><a href="#" name="candidates">Candidates</a></li>
        <li><a href="#" name="committees">Committees</a></li>
        <li>Contributions</li>
        <li>Expenditures</li>
    </ul>    
</nav>

