{{> search-bar}}

<div class="sub-hero container">
  <h4>Or start by browsing a dataset:</h4>
  <ul class="browse-links">
    <li><a class="button" href="candidates/all" name="candidates">Candidates</a></li>
    <li><a class="button" href="committees/all" name="committees">Committees</a></li>
  </ul>
</div>
