  <fieldset class="filter toggles toggles--vertical js-filter js-table-switcher" data-filter="toggle">
    <legend class="label t-inline-block">Data type</legend>
    <div class="tooltip__container">
      <button class="tooltip__trigger" type="button" aria-controls="data-type-tooltip"><span class="u-visually-hidden">Learn more</span></button>
      <div id="data-type-tooltip" role="tooltip" class="tooltip tooltip--under tooltip--left">
        <div class="tooltip__content">
          <strong>Electronic filing data</strong>
          <p class="tooltip__content">Electronic filing data is made available to the public quickly after a committee files a report electronically with the Commission. The information available in these files comes directly from the committee's report in a raw data format. Use processed data to access more comprehensive search options and all years of data.</p>
          <strong>Processed data</strong>
          <p class="tooltip__content">Processed data has been reviewed by the FEC using a multi-step process. This process can take days (for electronic filings) or weeks (for paper filings). Use processed data to comprehensively search all FEC data, which includes electronic filings, once they're processed. Use electronic filing data to access the most recent, raw information.</p>
        </div>
      </div>
    </div>
    <label for="switcher-processed" class="toggle">
      <input type="radio" class="toggle" value="processed" id="switcher-processed" checked name="data_type" data-prefix="Data type:" data-tag-value="processed">
      <span class="button--alt">Processed data</span>
    </label>
    <label for="switcher-efilings" class="toggle">
      <input type="radio" class="toggle" value="efiling" id="switcher-efilings" name="data_type" data-prefix="Data type:" data-tag-value="electronic filings">
      <span class="button--alt">Electronic filings</span>
    </label>
  </fieldset>
