<div class="filter">
    <fieldset>
      <legend class="label" for="report_type">Report type</legend>
      <ul>
        <li>
          <input id="notice-checkbox-1" name="is_notice" type="checkbox" value="true">
          <label for="notice-checkbox-1">24- and 48-Hour Reports</label>
        </li>
        <li>
          <input id="notice-checkbox-2" name="is_notice" type="checkbox" value="false">
          <label for="notice-checkbox-2">All other reports</label>
        </li>
      </ul>
    </fieldset>
</div>
