<div class="filter js-filter" data-filter="checkbox">
    <fieldset>
      <legend class="label" for="support_oppose_indicator">Support/Oppose a candidate</legend>
      <ul>
        <li>
          <input id="so-checkbox-s" name="support_oppose_indicator" type="checkbox" value="S">
          <label for="so-checkbox-s">Support</label>
        </li>
        <li>
          <input id="so-checkbox-o" name="support_oppose_indicator" type="checkbox" value="O">
          <label for="so-checkbox-o">Oppose</label>
        </li>
      </ul>
    </fieldset>
</div>
