<li class="download is-complete">
  <span class="download__name">{{filename}}</span>
  <a class="button button--primary-contrast download__button" href="{{downloadUrl}}">Download</a>
  <button class="js-close button--cancel download__cancel"><span class="u-visually-hidden">Remove</span></button>
</li>
