<li class="download is-complete">
  <div class="download__item">
    <span id="download-file-name" class="download__name">{{filename}}</span>
    <button class="button button--primary-contrast download__button" href="{{downloadUrl}}" aria-describedby="download-file-name">Download</button>
    <button class="js-close button--cancel download__cancel"><span class="u-visually-hidden">Remove</span></button>
  </div>
</li>
