<li class="download is-pending">
  <div class="download__item">
    <span id="download-file-name" class="download__name">{{filename}}</span>
    <span class="button button--primary-contrast download__button disabled" aria-describedby="#download-file-name">Download</span>
    <button class="js-close button--cancel download__cancel"><span class="u-visually-hidden">Remove</span></button>
  </div>
  <p class="download__message">We're preparing your download. Your wait will vary depending on how many records you requested and how many downloads we're processing.</p>
</li>
