<li class="download is-pending">
  <span class="download__name">{{filename}}</span>
  <span class="button button--primary-contrast download__button is-disabled">Download</span>
  <button class="js-close button--cancel download__cancel"><span class="u-visually-hidden">Remove</span></button>
  <p class="download__message">Taking too long? Add more filters to narrow results</p>
</li>
