{% import 'macros/cycle-select.html' as select %}

<section class="main" id="section-2" role="tabpanel" aria-hidden="true" aria-labelledby="section-2-heading">
  <div class="container">
    <div class="section__heading">
      <h2 class="section__title" id="section-2-heading">
        Other spending: {{ cycle|fmt_year_range }}
      </h2>
    </div>

    <div class="content__section">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title"><span class="term" data-term="independent expenditure">Independent expenditures</span></h3>
      </div>
      <table class="data-table scrollX" data-type="independent-expenditures">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Spent by</th>
          <th scope="col">Support/Oppose</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
      <div class="datatable__note">
        <p class="t-note">Note: These totals are drawn from quarterly, monthly and semi-annual reports. 24-hour and 48-hour independent expenditures reports are not included.</p>
      </div>
    </div>

    <div class="content__section--extra">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Communication costs</h3>
      </div>
      <table class="data-table scrollX" data-type="communication-costs">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Spent by</th>
          <th scope="col">Support/Oppose</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>

    <div class="content__section">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Electioneering</h3>
      </div>
      <table class="data-table scrollX" data-type="electioneering">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Spent by</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>
  </div>
</section>
