{% import 'macros/cycle-select.html' as select %}

<section class="main" id="section-2" role="tabpanel" aria-hidden="true" aria-labelledby="section-2-heading">
  <div class="container">
    <div class="content__section">
      <h2 class="section__heading" id="section-2-heading">
        Other spending
        {{ select.cycle_select(cycles, cycle, 'path', id="cycle-2") }}
      </h2>
    </div>

    <div class="content__section">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Independent expenditures</h3>
      </div>
      <table class="data-table" data-type="independent-expenditures">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Given by</th>
          <th scope="col">Support/Oppose</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>

    <div class="content__section--extra">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Communication costs</h3>
      </div>
      <table class="data-table" data-type="communication-costs">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Given by</th>
          <th scope="col">Support/Oppose</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>

    <div class="content__section">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Electioneering</h3>
      </div>
      <table class="data-table" data-type="electioneering">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Given by</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>
  </div>
</section>
