{% import 'macros/cycle-select.html' as select %}

<section class="main" id="section-2" role="tabpanel" aria-hidden="true" aria-labelledby="section-2-heading">
  <div class="container">
    <div class="content__section">
      <h2 class="section__heading" id="section-2-heading">
        Outside Spending
        {{ select.cycle_select(cycles, cycle, 'path') }}
      </h2>
    </div>

    <div class="content__section--extra">
      <div class="results-info">
        <h3 class="results-info__title">Independent Expenditures</h3>
      </div>
      <table class="data-table" data-type="independent-expenditures">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Given By</th>
          <th scope="col">Support / Oppose</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>

    <div class="content__section--extra">
      <div class="results-info">
        <h3 class="results-info__title">Communication Costs</h3>
      </div>
      <table class="data-table" data-type="communication-costs">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Given By</th>
          <th scope="col">Support / Oppose</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>

    <div class="content__section--extra">
      <div class="results-info">
        <h3 class="results-info__title">Electioneering</h3>
      </div>
      <table class="data-table" data-type="electioneering">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Given By</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>
  </div>
</section>
