<section class="main" id="section-2" role="tabpanel" aria-hidden="true" aria-labelledby="section-2-heading">
  <div class="container">
    <div class="page-section__intro">
      <h2 class="section-heading" id="section-2-heading">Outside Spending {% include 'partials/cycle-select.html' %}</h2>
    </div>

    <div class="page-subsection">
      <h3>Independent Expenditures</h3>
      <table class="data-table" data-type="independent-expenditures">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Given By</th>
          <th scope="col">Support / Oppose</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>

    <div class="page-subsection">
      <h3>Communication Costs</h3>
      <table class="data-table" data-type="communication-costs">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Given By</th>
          <th scope="col">Support / Oppose</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>

    <div class="page-subsection">
      <h3>Electioneering</h3>
      <table class="data-table" data-type="electioneering">
        <thead>
          <th scope="col">Amount</th>
          <th scope="col">Given By</th>
          <th scope="col">Candidate</th>
        </thead>
      </table>
    </div>
  </div>
</section>
