{% import 'macros/disclaimer.html' as disclaimer %}
{% import 'macros/cycle-select.html' as select %}

<section id="section-3" role="tabpanel" aria-hidden="true" aria-labelledby="section-3-heading">
  <h2 id="section-2-heading">Disbursements</h2>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(cycles, cycle, 'disbursements')}}
    <div class="entity__figure">
      <div class="row">
        <fieldset class="toggles u-float-left">
          <legend class="label">Group by:</legend>
          <label for="toggle-purpose">
            <input id="toggle-purpose" type="radio" class="panel-toggle-control" name="disbursement-aggregate" value="by-purpose" checked />
            <span class="button--alt">Purpose</span>
          </label>
          <label for="toggle-recipient">
            <input id="toggle-recipient" type="radio" class="panel-toggle-control" name="disbursement-aggregate" value="by-recipient" />
            <span class="button--alt">Recipient</span>
          </label>
        </fieldset>
        <a class="u-float-right button--alt button--browse"
            href="{{ url_for(
              'disbursements',
              committee_id=committee_id,
              two_year_transaction_period=cycle,
              min_date=cycle_start(cycle) | date(fmt='%m-%d-%Y'),
              max_date=cycle_end(cycle) | date(fmt='%m-%d-%Y'),
            ) }}">Filter this data
        </a>
      </div>

      <div id="by-purpose" class="panel-toggle-element" aria-hidden="false">
        <div class="results-info results-info--simple">
          <h3 class="results-info__title">Disbursements by purpose</h3>
          <button type="button" class="js-export button button--cta button--export" data-export-for="disbursements-by-purpose">Export</button>
        </div>
        <table
            class="data-table data-table--heading-borders"
            data-type="disbursements-by-purpose"
            data-committee="{{ committee.committee_id }}"
            data-cycle="{{ cycle }}"
          >
          <thead>
            <th scope="col">Purpose</th>
            <th scope="col">Total</th>
          </thead>
        </table>
        {{ disclaimer.disclaimer('disbursements', committee.committee_id, cycle) }}
      </div>

      <div id="by-recipient" class="panel-toggle-element" aria-hidden="true">
        <div class="results-info results-info--simple">
          <h3 class="results-info__title">Disbursements by recipient</h3>
          <button type="button" class="js-export button button--cta button--export" data-export-for="disbursements-by-recipient">Export</button>
        </div>
        <table
            class="data-table data-table--heading-borders"
            data-type="disbursements-by-recipient"
            data-committee="{{ committee.committee_id }}"
            data-cycle="{{ cycle }}"
          >
          <thead>
            <th scope="col">Recipient</th>
            <th scope="col">Total</th>
          </thead>
        </table>
        {{ disclaimer.disclaimer('disbursements', committee.committee_id, cycle) }}
      </div>
    </div>
  </div>
</section>
