<section id="section-5" role="tabpanel" aria-hidden="true" aria-labelledby="section-5-heading">
  <div class="heading--section heading--with-action">
    <h2 class="heading__left" id="section-5-heading">
      Committee filings
    </h2>
    <a class="heading__right button--alt button--browse" href="{{ url_for('filings', committee_id=committee_id) }}">All filings</a>
  </div>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    <div class="content__section">
      <h3>Regularly filed reports</h3>
      <table class="data-table data-table--heading-borders" data-type="filings-reports" data-cycle="{{ cycle }}" data-committee="{{ committee_id }}">
        <thead>
          <th scope="col">Document</th>
          <th scope="col">Version</th>
          <th scope="col">Date filed</th>
          <th scope="col"></th>
        </thead>
      </table>
    </div>
    <div class="content__section">
      <h3>24- and 48-hour reports</h3>
      <table class="data-table data-table--heading-borders" data-type="filings-notices" data-cycle="{{ cycle }}" data-committee="{{ committee_id }}">
        <thead>
          <th scope="col">Document</th>
          <th scope="col">Version</th>
          <th scope="col">Date filed</th>
          <th scope="col"></th>
        </thead>
      </table>
    </div>
    <div class="content__section">
      <h3>Statements of organization</h3>
      <table class="data-table data-table--heading-borders" data-type="filings-statements" data-cycle="{{ cycle }}" data-committee="{{ committee_id }}">
        <thead>
          <th scope="col">Document</th>
          <th scope="col">Version</th>
          <th scope="col">Date filed</th>
          <th scope="col"></th>
        </thead>
      </table>
    </div>
    <div class="content__section">
      <h3>Other documents</h3>
      <table class="data-table data-table--heading-borders" data-type="filings-other" data-cycle="{{ cycle }}" data-committee="{{ committee_id }}">
        <thead>
          <th scope="col">Document</th>
          <th scope="col">Version</th>
          <th scope="col">Date filed</th>
          <th scope="col"></th>
        </thead>
      </table>
    </div>
  </div>
</section>

{% include 'partials/datatable-modal.html' %}
