{% import 'macros/missing.html' as missing %}
{% import 'macros/cycle-select.html' as select %}

<section id="section-1" role="tabpanel" aria-hidden="true" aria-labelledby="section-1-heading">
  <h2 id="section-1-heading">Financial summary</h2>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(cycles, cycle, 'summary')}}
    <div class="entity__figure">
      {% if reports and totals %}
          {% include 'partials/committee/new/summary.html' %}
      {% else %}
        {{ missing.missing_financials(name, cycle) }}
      {% endif %}
    </div>
  </div>
</section>
