{% with committee=context() %}
{% import 'macros/tables.html' as tables %}

{#
    This formats the data for display in the totals tables, depending on the type of committee
    Each data set contains values in this format:
        (key, ('Label', 'level-class'))
    Where level-class refers to the heirarchical class to be applied to the table row
#}

{% if committee_type == 'P' %}
    {% set raising_data = [
        (totals.0.receipts, ('Total receipts', '1')),
        (totals.0.contributions, ('Total contributions', '2')),
        (totals.0.individual_contributions, ('Total individual contributions', '3')),
        (totals.0.individual_itemized_contributions, ('Itemized individual contributions', '4')),
        (totals.0.individual_unitemized_contributions, ('Unitemized individual contributions', '4')),
        (totals.0.political_party_committee_contributions, ('Party committee contributions', '3')),
        (totals.0.other_political_committee_contributions, ('Other committee contributions', '3')),
        (totals.0.federal_funds, ('Presidential public funds', '3')),
        (totals.0.candidate_contribution, ('Candidate contributions', '3')),
        (totals.0.transfers_from_affiliated_committee, ('Transfer from affiliated committees', '2')),
        (totals.0.loans_received, ('Total loans received', '2')),
        (totals.0.loans_received_from_candidate, ('Loans made by candidate', '3')),
        (totals.0.other_loans_received, ('Other loans', '3')),
        (totals.0.total_offsets_to_operating_expenditures, ('Total offsets', '2')),
        (totals.0.offsets_to_operating_expenditures, ('Offsets to operating expenditures', '3')),
        (totals.0.offsets_to_fundraising_expenditures, ('Fundraising offsets', '3')),
        (totals.0.offsets_to_legal_accounting, ('Legal and accounting offsets', '3')),
        (totals.0.other_receipts, ('Other receipts', '2')),
       ]
    %}

    {% set spending_data = [
         (totals.0.disbursements, ('Total disbursements', '1')),
         (totals.0.contribution_refunds, ('Total contribution refunds', '2')),
         (totals.0.refunded_individual_contributions, ('Individual refunds', '3')),
         (totals.0.refunded_political_party_committee_contributions, ('Political party refunds', '3')),
         (totals.0.refunded_other_political_committee_contributions, ('Other committee refunds', '3')),
         (totals.0.loan_repayments_made, ('Total loan repayments', '2')),
         (totals.0.repayments_loans_made_by_candidate, ('Candidate loan repayments', '3')),
         (totals.0.repayments_other_loans, ('Other loan repayments', '3')),
         (totals.0.operating_expenditures, ('Operating expenditures', '2')),
         (totals.0.transfers_to_other_authorized_committee, ('Transfers to authorized committees', '2')),
         (totals.0.other_disbursements, ('Other disbursements', '2')),
       ]
    %}

    {% set cash_data = [
        (totals.0.last_cash_on_hand_end_period, ('Ending cash on hand', '2')),
        (totals.0.last_debts_owed_by_committee, ('Debts/loans owed by committee', '2')),
        ]
    %}
{% elif committee_type == 'H' or committee_type == 'S' %}
    {% set raising_data = [
         (totals.0.receipts, ('Total receipts', '1')),
         (totals.0.contributions, ('Total contributions', '2')),
         (totals.0.individual_contributions, ('Total individual contributions', '3')),
         (totals.0.individual_itemized_contributions, ('Itemized individual contributions', '4')),
         (totals.0.individual_unitemized_contributions, ('Unitemized individual contributions', '4')),
         (totals.0.political_party_committee_contributions, ('Party committee contributions', '3')),
         (totals.0.other_political_committee_contributions, ('Other committee contributions', '3')),
         (totals.0.candidate_contribution, ('Candidate contributions', '3')),
         (totals.0.transfers_from_other_authorized_committee, ('Transfer from authorized committees', '2')),
         (totals.0.loans, ('Total loans received', '2')),
         (totals.0.loans_made_by_candidate, ('Loans made by candidate', '3')),
         (totals.0.all_other_loans, ('Other loans', '3')),
         (totals.0.offsets_to_operating_expenditures, ('Offsets to operating expenditures', '2')),
         (totals.0.other_receipts, ('Other receipts', '2')),
       ]
    %}
    {% set spending_data = [
        (totals.0.disbursements, ('Total disbursements', '1')),
        (totals.0.contribution_refunds, ('Total contribution refunds', '2')),
        (totals.0.refunded_individual_contributions, ('Individual refunds', '3')),
        (totals.0.refunded_political_party_committee_contributions, ('Political party refunds', '3')),
        (totals.0.refunded_other_political_committee_contributions, ('Other committee refunds', '3')),
        (totals.0.operating_expenditures, ('Total operating expenditures', '2')),
        (totals.0.transfers_to_other_authorized_committee, ('Transfers to authorized committees', '2')),
        (totals.0.loan_repayments, ('Total loan repayments', '2')),
        (totals.0.loan_repayments_candidate_loans, ('Candidate loan repayments', '3')),
        (totals.0.loan_repayments_other_loans, ('Other loan repayments', '3')),
        (totals.0.other_disbursements, ('Other disbursements', '2')),
       ]
    %}
    {% set cash_data = [
        (totals.0.last_cash_on_hand_end_period, ('Ending cash on hand', '2')),
        (totals.0.net_contributions, ('Net contributions', '2')),
        (totals.0.contributions, ('Total contributions', '3')),
        (totals.0.contribution_refund, ('(Total contribution refunds)', '3')),
        (totals.0.net_operating_expenditures, ('Net operating expenditures', '2')),
        (totals.0.operating_expenditures, ('Operating expenditures', '3')),
        (totals.0.offsets_to_operating_expenditures, ('(Offsets to operating expenditures)', '3')),
        (totals.0.last_debts_owed_by_committee, ('Debts / loans owed by committee', '2'))
      ]
    %}
{% elif committee_type == 'I' %}
    {% set spending_data = [(totals.0.total_independent_contributions, ('Contributions received', '1'))] %}
    {% set raising_data = [(totals.0.total_independent_expenditures, ('Independent expenditures', '1'))] %}
{% else %}
    {% set raising_data = [
        (totals.0.receipts, ('Total receipts', '1')),
        (totals.0.contributions, ('Total contributions', '2')),
        (totals.0.individual_contributions, ('Total individual contributions', '3')),
        (totals.0.individual_itemized_contributions, ('Itemized individual contributions', '4')),
        (totals.0.individual_unitemized_contributions, ('Unitemized individual contributions', '4')),
        (totals.0.political_party_committee_contributions, ('Party committees contributions', '3')),
        (totals.0.other_political_committee_contributions, ('Other committees contributions', '3')),
        (totals.0.transfers_from_affiliated_party, ('Transfers from affiliated committees', '2')),
        (totals.0.all_loans_received, ('Loans received', '2')),
        (totals.0.loan_repayments_received, ('Loan repayments received', '2')),
        (totals.0.offsets_to_operating_expenditures, ('Offsets to operating expenditures', '2')),
        (totals.0.fed_candidate_contribution_refunds, ('Candidate refunds', '2')),
        (totals.0.other_fed_receipts, ('Other Receipts', '2')),
        (totals.0.transfers_from_nonfed_account, ('Non-federal transfers', '2')),
        (totals.0.transfers_from_nonfed_levin, ('Levin funds', '2')),
        (totals.0.fed_receipts, ('Total federal receipts', '2')),
       ]
    %}
    {% set spending_data = [
        (totals.0.disbursements, ('Total disbursements', '1')),
        (totals.0.operating_expenditures, ('Total operating expenditures', '2')),
        (totals.0.shared_fed_operating_expenditures, ('Allocated operating expenditures - federal', '3')),
        (totals.0.shared_nonfed_operating_expenditures, ('Allocated operating expenditures - non-federal', '3')),
        (totals.0.other_fed_operating_expenditures, ('Other federal operating expenditures', '3')),
        (totals.0.transfers_to_affiliated_committee, ('Transfers to affiliated committees', '2')),
        (totals.0.fed_candidate_committee_contributions, ('Contributions to other committees', '2')),
        (totals.0.independent_expenditures, ('Independent expenditures', '2')),
        (totals.0.coordinated_expenditures_by_party_committee, ('Coordinated party expenditures', '2')),
        (totals.0.loans_made, ('Loans made', '2')),
        (totals.0.loan_repayments_made, ('Loan repayments made', '2')),
        (totals.0.contribution_refunds, ('Total contribution refunds', '2')),
        (totals.0.refunded_individual_contributions, ('Individual refunds', '3')),
        (totals.0.refunded_political_party_committee_contributions, ('Politial party refunds', '3')),
        (totals.0.refunded_other_political_committee_contributions, ('Other committee refunds', '3')),
        (totals.0.other_disbursements, ('Other disbursements', '2')),
        (totals.0.fed_election_activity, ('Total federal election activity', '2')),
        (totals.0.shared_fed_activity, ('Allocated federal election activity - federal share', '3')),
        (totals.0.allocated_federal_election_levin_share, ('Allocated federal election activity - Levin share', '3')),
        (totals.0.non_allocated_fed_election_activity, ('Federal election activity - federal only', '3')),
        (totals.0.fed_disbursements, ('Total federal disbursements', '2')),
       ]
    %}
    {% set cash_data = [
        (totals.0.last_cash_on_hand_end_period, ('Ending cash on hand', '2')),
        (totals.0.net_contributions, ('Net contributions', '2')),
        (totals.0.contributions, ('Total contributions', '3')),
        (totals.0.contribution_refund, ('(Total contribution refunds)', '3')),
        (totals.0.net_operating_expenditures, ('Net operating expenditures', '2')),
        (totals.0.operating_expenditures, ('Operating expenditures', '3')),
        (totals.0.offsets_to_operating_expenditures, ('(Offsets to operating expenditures)', '3')),
        (totals.0.last_debts_owed_by_committee, ('Debts / loans owed by committee', '2'))
        ]
    %}
{% endif %}

<h3 class="u-no-margin">Raising</h3>
<div class="row">
    <div class="u-float-left tag__category">
        <div class="tag__item">Coverage dates: {{totals.0.coverage_start_date|date}} to {{totals.0.coverage_end_date|date}}</div>
    </div>
    <div class="u-float-right">
      <a class="heading__right button--alt button--browse"
          href="{{ url_for(
            'receipts',
            committee_id=committee_id,
            two_year_transaction_period=cycle,
            min_date=cycle_start(cycle) | date(fmt='%m-%d-%Y'),
            max_date=cycle_end(cycle) | date(fmt='%m-%d-%Y')
          ) }}">Browse receipts
        </a>
    </div>
</div>
{{ tables.summary(raising_data) }}

<h3 class="u-no-margin">Spending</h3>
<div class="row">
    <div class="u-float-left tag__category">
        <div class="tag__item">Coverage dates: {{totals.0.coverage_start_date|date}} to {{totals.0.coverage_end_date|date}}</div>
    </div>
    <div class="u-float-right">
      <a class="heading__right button--alt button--browse"
          href="{{ url_for(
            'disbursements',
            committee_id=committee_id,
            two_year_transaction_period=cycle,
            min_date=cycle_start(cycle) | date(fmt='%m-%d-%Y'),
            max_date=cycle_end(cycle) | date(fmt='%m-%d-%Y')
          ) }}">Browse disbursements
        </a>
    </div>
</div>
{{ tables.summary(spending_data) }}

{% if cash_data %}
    <h3 class="u-no-margin">Cash summary</h3>
    <div class="tag__category">
        <div class="tag__item">Coverage dates: {{totals.0.coverage_start_date|date}} to {{totals.0.coverage_end_date|date}}</div>
    </div>
    {{ tables.summary(cash_data) }}
{% endif %}

{% endwith %}
