{% import 'macros/null.html' as null %}

{% macro tooltip_wrap(content) %}
<div class="chart-series__bar__tooltip">
  {{ content }}
</div>
{% endmacro %}

{% macro default_tooltip(value, key) %}
  {{ tooltip_wrap(value|currency) }}
{% endmacro %}

{% macro chart_bar(value, key, tooltip=default_tooltip, label='', attr={}) %}
{% if value is not none %}
<div class="chart-series__bar {{ attr.class|default('') }}"
  data-key="{{ key }}"
  data-value="{{ value }}"
  tabindex="0">
  {% if tooltip %}{{ tooltip(value, label or key) }}{% endif %}
</div>
{% endif %}
{% endmacro %}

{% macro chart_series_grouped(groups, value_keys, label_key='label', orient='vertical',
                              tooltip=default_tooltip, labels=(), attr={}) %}
{% if series_group_has_data(groups, value_keys) %}
<div class="js-chart-series chart-series chart-series--grouped chart-series--{{ orient }} {{ attr.class|default('') }}">
  {% for group in groups %}
  {% if group_has_data(group, value_keys) %}
  <div class="chart-series__group">
    {% for key in value_keys %}
      {{ chart_bar(group[key], key, tooltip=tooltip, label=labels[loop.index0], attr={}) }}
    {% endfor %}
    <div class="chart-series__group__label">
      {{ group | fmt_chart_ticks(label_key) }}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro group_bar_tooltip(value, key) %}
<div class="chart-series__bar__tooltip">
  <h5 class="chart-series__bar__tooltip__title">{{ key|replace('_', ' ') | capitalize }}</h5>
  <span class="chart-series__bar__tooltip__value">{{ null.null( value | currency )}}</span>
</div>
{% endmacro %}
