{% macro cycle_select(cycles, cycle=none, location='query', id='cycle-select', tooltip=True) %}
{% if cycles %}
  {% if tooltip %}
    <div class="tooltip__container">
      <label for="{{ id }}" class="label tooltip__trigger">View data for:</label>
      <div role="tooltip" class="tooltip tooltip--under">
        <p class="tooltip__content">This site groups data in two-year periods — if a candidate or committee has been active more than two years, this page won't show all their data.</p>
        <p class="tooltip__content">We're currently working to create additional views, but we need your help. See the <a href="https://github.com/18f/fec/issues/73" target="_blank">latest designs on GitHub</a>, and let us know what you think. You can also leave comments using the feedback button at the bottom of this page.</p>
      </div>
    </div>
  {% endif %}
  <select id="{{ id }}" class="cycle-select select--neutral js-cycle" name="cycle" data-cycle-location="{{ location }}">
  {% for each in cycles | restrict_cycles | sort(reverse=True) %}
    <option
        value="{{ each }}"
        {% if each == cycle %}selected{% endif %}
      >{{ each | fmt_year_range }}</option>
  {% endfor %}
  </select>
{% endif %}
{% endmacro %}
