{% macro missing_financials(entity, cycle) %}
<div class="meta-box error-container">
  <h2 id="section-1-header" tabindex="0">No results</h2>
  <p class="text--lead">
    This {{ entity }} has no financial data for the {{ cycle | fmt_year_range }} election cycle in OpenFEC.
    For complete data, search the <a href="http://www.fec.gov/finance/disclosure/candcmte_info.shtml">FEC Candidate and Committee Viewer</a>.
  </p>
  <p class="text--lead">
  <div class="error-container__bottom">
      <h4>Is this information incorrect? Let us know.</h4>
      <a class="button" href="mailto:{{ contact_email }}">Contact support <i class="ti-email"></i></a>
  </div>
</div>
{% endmacro %}
