{% macro missing_financials(entity, cycle) %}
<div class="message message--alert">
  <h2 id="section-1-header" tabindex="0">No results</h2>
  <p>This {{ entity }} has no financial data for the {{ cycle | fmt_year_range }} election cycle in OpenFEC.</p>
  <p>For complete data, search the <a href="http://www.fec.gov/finance/disclosure/candcmte_info.shtml">FEC Candidate and Committee Viewer</a>.</p>
  <div class="message--alert__bottom">
      <h4>Is this information incorrect? Let us know.</h4>
      <a class="button button--neutral" href="mailto:{{ contact_email }}">Contact support <i class="ti-email"></i></a>
  </div>
</div>
{% endmacro %}
