 <div class="filter">
  <fieldset class="js-checkbox-filters">
    <legend class="label" for="amendment-dropdown">Amendment Indicator<span class="any" aria-hidden="true">(Any)</span></legend>
    <ul class="dropdown__selected">
      <li class="dropdown__item">
        <input id="amendment-indicator-N" name="amendment_indicator" type="checkbox" value="N">
        <label class="dropdown__value" for="amendment-indicator-N">New</label>
      </li>
      <li class="dropdown__item">
        <input id="amendment-indicator-A" name="amendment_indicator" type="checkbox" value="A">
        <label class="dropdown__value" for="amendment-indicator-A">Amended</label>
      </li>
    </ul>
    <div class="dropdown">
      <button class="js-toggle js-dropdown dropdown__button button--neutral" data-toggles="amendment-dropdown">More</button>
      <div id="amendment-dropdown" class="dropdown__panel" aria-hidden="true">
        <ul class="dropdown__list">
          <li class="dropdown__item">
            <input id="amendment-indicator-T" name="amendment_indicator" type="checkbox" value="T">
            <label class="dropdown__value" for="amendment-indicator-T">Terminated</label>
          </li>
          <li class="dropdown__item">
            <input id="amendment-indicator-C" name="amendment_indicator" type="checkbox" value="C">
            <label class="dropdown__value" for="amendment-indicator-C">Consolidated</label>
          </li>
          <li class="dropdown__item">
            <input id="amendment-indicator-M" name="amendment_indicator" type="checkbox" value="M">
            <label class="dropdown__value" for="amendment-indicator-M">Multi-Candidate</label>
          </li>
          <li class="dropdown__item">
            <input id="amendment-indicator-S" name="amendment_indicator" type="checkbox" value="S">
            <label class="dropdown__value" for="amendment-indicator-S">Secondary</label>
          </li>
        </ul>
      </div>
     </div>
  </fieldset>
</div>
