 <div class="field">
    <label class="dropdown__value" for="amendment-dropdown">Amendment Indicator<span class="any" aria-hidden="true">(Any)</span></label>
    <fieldset class="js-checkbox-filters">
        <ul class="dropdown__selected">
            <li>
                <label class="dropdown__value" for="amendment-indicator-N">
                  <input id=" " name="amendment_indicator" type="checkbox" value="N" />New
                </label>
            </li>
            <li>
                <label class="dropdown__value" for="amendment-indicator-A">
                  <input id=" " name="amendment_indicator" type="checkbox" value="A" />Amended
                </label>
            </li>
        </ul>
        <div class="dropdown">
            <button class="js-toggle js-dropdown button--dropdown" data-toggles="amendment-dropdown">More</button>
            <div id="amendment-dropdown" class="dropdown__panel" aria-hidden="true">
                <div class="dropdown__search__container">
                    <input type="search" class="dropdown__search">
                </div>
                <ul class="dropdown__list">
                    <li>
                        <label class="dropdown__value" for="amendment-indicator-T">
                            <input id=" " name="amendment_indicator" type="checkbox" value="T" />Terminated
                        </label>
                    </li>
                    <li>
                        <label class="dropdown__value" for="amendment-indicator-C">
                            <input id=" " name="amendment_indicator" type="checkbox" value="C" />Consolidated
                        </label>
                    </li>
                    <li>
                        <label class="dropdown__value" for="amendment-indicator-M">
                            <input id=" " name="amendment_indicator" type="checkbox" value="M" />Multi-Candidate
                        </label>
                    </li>
                    <li>
                        <label class="dropdown__value" for="amendment-indicator-S">
                            <input id=" " name="amendment_indicator" type="checkbox" value="S" />Secondary
                        </label>
                    </li>
                </ul>
            </div>
         </div>
    </fieldset>
</div>
