<div class="field">
    <label for="committee_type">Committee Type</label>
    <select name="committee_type" data-placeholder="Select a type">
        <option></option>
        <option value="P">Presidential</option>
        <option value="H">House</option>
        <option value="S">Senate</option>
        <option value="C">Communication Cost</option>
        <option value="D">Delegate Committee</option>
        <option value="E">Electioneering Communication</option>
        <option value="I">Independent Expenditor (Person or Group)</option>
        <option value="N">PAC - Nonqualified</option>
        <option value="O">Super PAC - (Independent Expenditure-Only)</option>
        <option value="Q">PAC - Qualified</option>
        <option value="U">Single Candidate Independent Expenditure</option>
        <option value="V">PAC with Non-Contribution Account - Nonqualified</option>
        <option value="W">PAC with Non-Contribution Account - Qualified</option>
        <option value="X">Party - Nonqualified</option>
        <option value="Y">Party - Qualified</option>
        <option value="Z">National Party Nonfederal Account</option>
    </select>
    <button class="button--remove" data-removes="committee_type"><i class="ti-close"></i></button>
</div>
