<div class="field">
    <label for="designation">Designation</label>
    <select name="designation" data-placeholder="Select a designation">
        <option></option>
        <option value="A">Authorized by a candidate</option>
        <option value="J">Joint fundraising committee</option>
        <option value="P">Principal campaign committee</option>
        <option value="U">Unauthorized</option>
        <option value="B">Lobbyist/Registrant PAC</option>
        <option value="D">Leadership PAC</option>
    </select>
    <button type="button" class="button--remove" data-removes="designation"><i class="ti-close"></i></button>
</div>
