<div class="field">
    <label for="district">District <span class="any" aria-hidden="true">(Any)</span></label>
    <fieldset class="js-checkbox-filters">
        <ul class="dropdown__selected"></ul>
        <div class="dropdown">
          <button class="js-toggle js-dropdown button--dropdown" data-toggles="district-dropdown" >More</button>
          <div id="district-dropdown" class="dropdown__panel" aria-hidden="true">
            <div class="dropdown__search__container">
              <input type="search" class="dropdown__search">
            </div>
            <ul class="dropdown__list">
                {% for district in range(100) %}
                {% with formatted = '{0:02d}'.format(district) %}
                  <li>
                    <label class="dropdown__value" for="district-checkbox-{{ formatted }}">
                      <input id="district-checkbox-{{ formatted }}" name="district" type="checkbox" value="{{ formatted }}" />{{ formatted }}
                    </label>
                  </li>
                {% endwith %}
                {% endfor %}
            </ul>
          </div>
        </div>        
    </fieldset>
</div>
