<div class="field">
  <label>Election Years <span class="any" aria-hidden="true">(Any)</span></label>
  <fieldset class="js-checkbox-filters">
    <ul class="dropdown__selected">
    </ul>
    <div class="dropdown">
      <button class="js-toggle js-dropdown button--dropdown" data-toggles="cycle-dropdown" >More</button>
      <div id="cycle-dropdown" class="dropdown__panel" aria-hidden="true">
        <div class="dropdown__search__container">
          <input type="search" class="dropdown__search">
        </div>
        <ul class="dropdown__list">
        {% for year in range(2016, 1978, -2) %}
          <li>
            <label class="dropdown__value" for="cycle-checkbox-{{ year }}">
              <input id="cycle-checkbox-{{ year }}" name="cycle" type="checkbox" value="{{ year }}" />{{ year | fmt_year_range }}
            </label>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </fieldset>
</div>
