<div class="filter tst-filter">
  <fieldset class="js-checkbox-filters">
    <legend class="label">Election Years</legend>
    <ul class="dropdown__selected"></ul>
    <div class="dropdown">
      <button class="js-toggle js-dropdown button--dropdown button--neutral" data-toggles="cycle-dropdown" >More</button>
      <div id="cycle-dropdown" class="dropdown__panel" aria-hidden="true">
        <ul class="dropdown__list">
        {% for year in range(2016, 1978, -2) %}
          <li>
            <input id="cycle-checkbox-{{ year }}" name="cycle" type="checkbox" value="{{ year }}" />
            <label class="dropdown__value" for="cycle-checkbox-{{ year }}">{{ year | fmt_year_range }}</label>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </fieldset>
</div>
