<div class="field">
    <label for="office">Office Sought</label>
    <fieldset class="dropdown__container">
      <ul class="dropdown__selected">
      </ul>
      <div class="dropdown">
        <button class="js-toggle js-dropdown button--dropdown" data-toggles="office-dropdown" >More</button>
        <ul id="office-dropdown" class="dropdown__list" aria-hidden="true">
            <li>
              <label for="cycle-checkbox-h">
                <input id="cycle-checkbox-h" name="office" type="checkbox" value="H" />House
              </label>
            </li>
            <li>
              <label for="cycle-checkbox-s">
                <input id="cycle-checkbox-s" name="office" type="checkbox" value="S" />Senate
              </label>
            </li>
            <li>
              <label for="cycle-checkbox-p">
                <input id="cycle-checkbox-p" name="office" type="checkbox" value="P" />President
              </label>
            </li>                
        </ul>
      </div>
    </fieldset>    
</div>
