<div class="field">
    <label for="organization_type">Organization Type</label>
    <fieldset class="js-checkbox-filters">
        <ul class="dropdown__selected"></ul>
        <div class="dropdown">
            <button class="js-toggle js-dropdown button--dropdown" data-toggles="org-type-dropdown" >More</button>
            <div id="org-type-dropdown" class="dropdown__panel" aria-hidden="true">
                <ul class="dropdown__list">
                    <li>
                        <label class="dropdown__value" for="org-type-checkbox-C">
                            <input id="org-type-checkbox-C" name="organization_type" type="checkbox" value="C">Corporation
                        </label>
                    </li>
                    <li>
                        <label class="dropdown__value" for="org-type-checkbox-L">
                            <input id="org-type-checkbox-L" name="organization_type" type="checkbox" value="L">Labor Organization
                        </label>
                    </li>
                    <li>
                        <label class="dropdown__value" for="org-type-checkbox-M">
                            <input id="org-type-checkbox-M" name="organization_type" type="checkbox" value="M">Membership Organization
                        </label>
                    </li>
                    <li>
                        <label class="dropdown__value" for="org-type-checkbox-T">
                            <input id="org-type-checkbox-T" name="organization_type" type="checkbox" value="T">Trade Association
                        </label>
                    </li>
                    <li>
                        <label class="dropdown__value" for="org-type-checkbox-V">
                            <input id="org-type-checkbox-V" name="organization_type" type="checkbox" value="V">Cooperative
                        </label>
                    </li>
                    <li>
                        <label class="dropdown__value" for="org-type-checkbox-W">
                            <input id="org-type-checkbox-W" name="organization_type" type="checkbox" value="W">Corporation Without Capital Stock
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
</div>
