<div class="field">
    <label for="organization_type">Organization Type</label>
    <select name="organization_type" data-placeholder="Select an organization type">
        <option></option>
        <option value="C">Corporation</option>
        <option value="L">Labor Organization</option>
        <option value="M">Membership Organization</option>
        <option value="T">Trade Association</option>
        <option value="V">Cooperative</option>
        <option value="W">Corporation Without Capital Stock</option>
    </select>
    <button type="button" class="button--remove" data-removes="organization_type"><i class="ti-close"></i></button>
</div>
