<div class="field">
    <label for="party">Political Party</label>
    <select name="party" data-placeholder="Choose a political party">
        <option></option>
        <option value="AIC">American Independent Conservative</option>
        <option value="AIP">American Independent Party</option>
        <option value="AMP">American Party</option>
        <option value="APF">American People's Freedom Party</option>
        <option value="CIT">Citizens' Party</option>
        <option value="CMP">Commonwealth Party of the U.S.</option>
        <option value="COM">Communist Party</option>
        <option value="CRV">Conservative Party</option>
        <option value="CST">Constitutional</option>
        <option value="D/C">Democratic/Conservative</option>
        <option value="DEM">Democratic Party</option>
        <option value="DFL">Democratic-Farm-Labor</option>
        <option value="FLP">Freedom Labor Party</option>
        <option value="GRE">Green Party</option>
        <option value="GWP">George Wallace Party</option>
        <option value="HRP">Human Rights Party</option>
        <option value="IAP">Independent American Party</option>
        <option value="ICD">Independent Conserv. Democratic</option>
        <option value="IGD">Industrial Government Party</option>
        <option value="IND">Independent</option>
        <option value="LAB">U.S. Labor Party</option>
        <option value="LBL">Liberal Party</option>
        <option value="LBR">Labor Party</option>
        <option value="LBU">Liberty Union Party</option>
        <option value="LFT">Less Federal Taxes</option>
        <option value="LIB">Libertarian</option>
        <option value="LRU">La Raza Unida</option>
        <option value="NAP">Prohibition Party</option>
        <option value="NDP">National Democratic Party</option>
        <option value="NLP">Natural Law Party</option>
        <option value="PAF">Peace and Freedom</option>
        <option value="PFD">Peace Freedom Party</option>
        <option value="POP">People Over Politics</option>
        <option value="PPD">Protest, Progress, Dignity</option>
        <option value="PPY">People's Party</option>
        <option value="REF">Reform Party</option>
        <option value="REP">Republican Party</option>
        <option value="RTL">Right to Life</option>
        <option value="SLP">Socialist Labor Party</option>
        <option value="SUS">Socialist Party U.S.A.</option>
        <option value="SWP">Socialist Workers Party</option>
        <option value="THD">Theo-Dem</option>
        <option value="TWR">Taxpayers Without Representation</option>
        <option value="TX">Taxpayers</option>
        <option value="USP">U.S. People's Party</option>
    </select>
    <button class="button--remove" data-removes="party"><i class="ti-close"></i></button>  
</div>
