<div class="field">
    <label for="primary_general_indicator">Election Type<span class="any" aria-hidden="true">(Any)</span></label>
    <fieldset class="js-checkbox-filters">
      <ul>
        <li>
          <label for="cycle-checkbox-p">
            <input id="cycle-checkbox-p" name="primary_general_indicator" type="checkbox" value="P" />Primary
          </label>
        </li>
        <li>
          <label for="cycle-checkbox-g">
            <input id="cycle-checkbox-s" name="primary_general_indicator" type="checkbox" value="G" />General
          </label>
        </li>
        <li>
          <label for="cycle-checkbox-s">
            <input id="cycle-checkbox-h" name="primary_general_indicator" type="checkbox" value="S" />Special
          </label>
        </li>
      </ul>
    </fieldset>
</div>