{% macro cycle_select(cycles, cycle=none, duration=2, location='query', id='cycle-select', class='') %}
{% if cycles %}
  <div class="cycle-select">
    <label for="{{ id }}" class="cycle-select__label">Election</label>
    <select
        id="{{ id }}"
        class="{{ class }} js-cycle"
        name="cycle"
        data-cycle-location="{{ location }}"
        data-duration="{{ duration }}"
      >
    {% for each in cycles | sort(reverse=True) %}
      <option
          value="{{ each }}"
          {% if cycle and cycle <= each and cycle > (each - duration) %}selected{% endif %}
        >{{ each }}</option>
    {% endfor %}
    </select>
  </div>
{% endif %}
{% endmacro %}
