{% macro filings_table(title, dataType, cycle, committee_id, showTrigger=False) %}
    <div class="entity__figure">
      <h3>{{ title }}</h3>
      <div class="content__section">
        <ul class="u-float-left">
          <li class="tag__category">
            <div class="tag__item">Report year: {{cycle - 1}} to {{cycle}}</div>
          </li>
        </ul>
        <div class="u-float-right">
          <a class="button button--alt button--browse"
             href="{{url_for('filings', committee_id=committee_id, cycle=cycle)}}">
            Filter this data
          </a>
        </div>
      </div>
      <table class="data-table data-table--heading-borders data-table--entity" data-type="filings-{{ dataType }}" data-cycle="{{ cycle }}" data-committee="{{ committee_id }}">
        <thead>
          <th scope="col">Document</th>
          <th scope="col">Version</th>
          <th scope="col">Date filed</th>
          {% if showTrigger %}
            <th></th>
          {% endif %}
        </thead>
      </table>
    </div>
{% endmacro %}
