{% macro filter(title, result_type, query) %}
<div id="filters" class="filters filters--fixed is-open">
  <div class="filters__hider">
    <h2 class="filter__header filters__inner">
      {{ title }}
    </h2>
    <form id="category-filters" action="{{ url_for(result_type) }}">
      <div class="filters__inner">
        <div class="filter" id="search-field">
          <label class="label" for="search-input">Search terms</label>
          <div class="combo combo--search--mini">
            <ul class="dropdown__selected"></ul>
            <input id="search-input" type="text" name="search" class="combo__input"{% if query %} value="{{ query }}"{% endif %}>
            <input id="search-type" type="hidden" name="search_type" value="{{ result_type }}">
            <button class="combo__button button--search button--standard" type="submit">
              <span class="u-visually-hidden">Search</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endmacro %}

{% macro search(location, result_type, query, feature_flag, button_color="button--standard", select_class="select--alt-primary") %}
{% if location == 'hero' %}
  {% set size = 'combo--search--large' %}
{% endif %}
<form id="{{ location }}-search" action="{{ url_for('legal_search') }}" autocomplete="off" class="search__container">
  <div class="combo combo--search {{ size }}">
    {% if feature_flag %}
    <select class="search__select {{select_class}}" name="search_type" aria-label="Select a document type">
      {% for value, name in (('all', 'All'),('regulations', 'Regulations'),('advisory_opinions', 'Advisory Opinions')) %}
      <option value="{{ value }}" {% if result_type == value %}selected{% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
    {% else %}
    <select class="search__select {{select_class}}" name="search_type" aria-label="Select a document type">
      {% for value, name in (('regulations', 'Regulations'),) %}
      <option value="{{ value }}" {% if result_type == value %}selected{% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
    {% endif %}
    <input class="combo__input" type="text" name="search"
    aria-label="Search for legal documents"
    placeholder="Search for legal documents" autocomplete="off"
    autocorrect="off" autocapitalize="off" spellcheck="false"
    value="{{ query or '' }}">
    <button type="submit" class="combo__button button--search {{ button_color }}">
      <span class="u-visually-hidden">Search</span>
    </button>
  </div>
</form>
{% endmacro %}
