{% macro overview(data, verb) %}
  <div class="overview js-{{verb}}-overview">
    <div class="overview__totals js-totals">
      <div class="overview__total">
        <span class="overview__total-title">Total {{ verb }}</span>
        <span class="js-zero-pad">{{ data['total'] | currency }}</span>
      </div>
      <div class="overview__total">
        <span class="overview__total-title"><span class="swatch candidates"></span>Candidates</span>
        <span class="js-zero-pad">{{ data['candidates'] | currency }}</span>
      </div>
      <div class="overview__total">
        <span class="overview__total-title"><span class="swatch pacs"></span>PACs</span>
        <span class="js-zero-pad">{{ data['pacs'] | currency }}</span>
      </div>
      <div class="overview__total">
        <span class="overview__total-title"><span class="swatch parties"></span>Party committees</span>
        <span class="js-zero-pad">{{ data['parties'] | currency }}</span>
      </div>
      <div class="overview__total">
        <span class="overview__total-title"><span class="swatch other"></span>Other</span>
        <span class="js-zero-pad">{{ data['other'] | currency }}</span>
      </div>
    </div>
    <div class="overview__chart js-chart">
    </div>
    <div class="overview__feedback">
      {% include 'partials/reaction-box.html' %}
    </div>
  </div>
{% endmacro %}

{% macro top(type, title, lower_title, raising_data, spending_data) %}
  <div class="top-list js-top-list" data-type="{{type}}">
    <h2>{{ title }}</h2>
    <h3 class="top-list__subtitle">Top raising {{ lower_title }}</h3>
    <div class="toggles--simple">
      <button class="toggle is-active" aria-controls="{{type}}-top-raising">Top raising</button> |
      <button class="toggle" aria-controls="{{type}}-top-spending">Top spending</button>
    </div>
    <ol class="figure--zero-pad js-top-raising" id="{{type}}-top-raising">
      {% for data in raising_data %}
      <li class="figure__item">
        <span class="figure__label">
          <a href="/candidate/{{data['candidate_id']}}" title="{{ data['name'] }}">{{ loop.index }}. {{ data['name'] }}</a>
        </span>
        <span class="figure__number">{{ data['receipts'] | currency }}</span>
      </li>
      {% endfor %}
    </ol>
    <ol class="figure--zero-pad js-top-spending" id="{{type}}-top-spending">
      {% for data in spending_data %}
      <li class="figure__item">
        <span class="figure__label">
          <a href="/candidate/{{data['candidate_id']}}" title="{{ data['name'] }}">{{ loop.index }}. {{ data['name'] }}</a>
        </span>
        <span class="figure__number">{{ data['disbursements'] | currency }}</span>
      </li>
      {% endfor %}
    </ol>
  </div>
{% endmacro %}
