{% macro summary(data, committee_id, cycle, committee_type) %}
<figure>
<table class="simple-table">
  {% for item in data %}
    <tr class="simple-table__row level--{{ item[1]['level']}}">
      <td class="simple-table__cell">
        {% if item[1]['term'] %}
          <span class="term" data-term="{{ item[1]['term'] }}">{{ item[1]['label'] }}</span>
        {% else %}
          {{ item[1]['label'] }}
        {% endif %}
      </td>
      <td class="simple-table__cell">
        {% if item[1]['link'] %}
          <a href="{{ url_for(item[1]['link'], committee_id=committee_id, two_year_transaction_period=cycle, cycle=cycle) }}">
            {{ item[0]|currency }}
          </a>
        {% else %}
          {{ item[0]|currency }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
</figure>
{% endmacro %}
