{% import 'macros/null.html' as null %}
{% import 'macros/charts.html' as charts %}

{% macro totals(header_name, header_value, data, report_year, header_description='') %}
  <figure class="totals-table totals-table--charts js-chart-series chart-series--horizontal">
      {% if data|length %}
      <button tabindex="0" class="accordion__button accordion__button--spacious js-accordion-trigger">
        <span class="totals-table__header-label">{{ header_name }}</span>
        <span class="t-normal">{{ null.null(header_value | currency) }}</span>
      </button>
      <div class="accordion__content">
        {% for item in data %}
          <div class="totals-table__row totals-table__row--nested">
            <div class="row">
              <div class="totals-table__cell">{{ item[1] }} </div>
              <div class="totals-table__cell">{{ null.null(item[0] | currency) }}</div>
            </div>
            <div class="totals-table__cell--bar">
              <div class="bar-container">
                {{ charts.chart_bar(item[0]|default(0),
                                    item[1],
                                    tooltip=None) }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% else %}
        <div class="totals-table__header-label">
          <span class="term" data-term="{{header_name}}">{{ header_name }}</span>
        </div>
        <div class="totals-table__row totals-table__header-data">
          {{ null.null(header_value | currency) }}
        </div>
    {% endif %}
  </figure>
{% endmacro %}

{% macro summary(data, committee_id, cycle) %}
<figure>
<table class="simple-table">
  {% for item in data %}
    <tr class="simple-table__row level--{{ item[1]['level']}}">
      <td class="simple-table__cell">
        {% if item[1]['term'] %}
          <span class="term" data-term="{{ item[1]['term'] }}">{{ item[1]['label'] }}</span>
        {% else %}
          {{ item[1]['label'] }}
        {% endif %}
      </td>
      <td class="simple-table__cell">
        {% if item[1]['link'] %}
          <a href="{{ url_for(item[1]['link'], committee_id=committee_id, two_year_transaction_period=cycle) }}">
            {{ item[0]|currency }}
          </a>
        {% else %}
          {{ item[0]|currency }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
</figure>
{% endmacro %}
