<!DOCTYPE html>
<html lang="en">
<head>

  <title>{% block title %}{% endblock %} | FEC </title>
  {% set title = self.title() %}

  {% include 'partials/meta-tags.html' %}

  <link rel="stylesheet" href="{{ asset_for('dist/styles/styles.css') }}" />
  <link rel="stylesheet" href="{{ asset_for('dist/styles/fec.css') }}" />

  {% if api_location %}
  <script>
    ANALYTICS = {{ use_analytics|json }};
    BASE_PATH = '{{ base_path() }}';
    CMS_URL = '{{ cms_url }}',
    API_LOCATION = '{{ api_location }}';
    API_VERSION = '{{ api_version }}';
    API_KEY = '{{ api_key }}';
    DEFAULT_TIME_PERIOD = '{{ constants.DEFAULT_TIME_PERIOD }}';
    START_YEAR = '{{ constants.START_YEAR }}';
    END_YEAR = '{{ constants.END_YEAR }}';

    function trackMetric(name, imagesSelector) {
      if (imagesSelector) {
        var images = document.querySelectorAll(imagesSelector);
        if (images && images.length) {
          for (var i = 0, ilen = images.length; i < ilen; i++) {
            images[i].addEventListener('load', function() {
              window.performance.mark(name);
            });
          }
        }
      }
      window.performance.mark(name);
    }
  </script>
  {% endif %}
</head>
<body>
{% import 'macros/search.html' as search %}
{% include 'partials/warnings.html' %}

<a href="#main" class="skip-nav" tabindex="0">skip navigation</a>

  <header class="site-header">
    <div class="masthead">
      <div class="disclaimer">
        <span class="disclaimer__left">This site is in beta, visit <a href="http://www.fec.gov">FEC.gov</a></span>
        <span class="disclaimer__right">
          An official website of the United States Government
          <img src="{{ url_for('static', filename='img/us_flag_small.png') }}" alt="US flag signifying that this is a United States Federal Government website">
        </span>
      </div>
      <img src="{{ url_for('static', filename='img/print-logo.png') }}" class="u-print-only" alt="FEC logo">
      <a title="Home" href="{{ cms_url }}/" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
      <ul class="utility-nav list--flat">
        <li class="utility-nav__item"><a href="{{ cms_url }}/calendar/">Calendar</a></li>
        <li class="utility-nav__item"><button class="js-glossary-toggle glossary__toggle">Glossary</button></li>
      </ul>
    </div>

    {% include 'partials/navigation.html' %}

  </header>

  {% block header %}{% endblock %}
  <main id="main" {% if section %} data-section="{{section}}"{% endif %}>
    {% block body %}{% endblock %}
  </main>

  <nav class="footer-links">
    <div class="container">

      <div class="grid grid--6-wide">

        <div class="grid__item"></div>

        <div class="grid__item">
          <ul>
            <li>
              <a href="{{ cms_url }}/about/">About the FEC</a>
            </li>
            <li>
              <a href="{{ cms_url }}/careers/">Careers</a>
            </li>
            <li>
              <a href="{{ cms_url }}/contact-us/">Contact</a>
            </li>
            <li>
              <a href="{{ cms_url }}/press/">Press</a>
            </li>
          </ul>
        </div>

        <div class="grid__item">
          <ul>
            <li>
              <a href="">Privacy policy</a>
            </li>
            <li>
              <a href="http://www.fec.gov/info/plainwriting.shtml">Plain language</a>
            </li>
            <li>
              <a href="http://fec.gov/eeo/NoFear.shtml">No FEAR Act</a>
            </li>
          </ul>
        </div>

        <div class="grid__item">
          <ul>
            <li>
              <a href="https://api.open.fec.gov/">OpenFEC API</a>
            </li>
            <li>
              <a href="https://github.com/18F/fec">GitHub repository</a>
            </li>
            <li>
              <a href="https://github.com/18F/FEC/blob/master/release_notes/release_notes.md">Release notes</a>
            </li>
          </ul>
        </div>

        <div class="grid__item">
          <ul>
            <li>
              <a href="https://www.data.gov/open-gov/">Open government</a>
            </li>
            <li>
              <a href="https://www.foia.gov/">FOIA</a>
            </li>
            <li>
              <a href="https://www.usa.gov/">USA.gov</a>
            </li>
          </ul>
        </div>

        <div class="grid__item">
          <ul>
            <li>
              <a href="{{ cms_url }}/updates/">Latest updates</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>

<footer class="footer">
  <div class="container">
    <div class="seal">
      <img class="seal__img" width="140" height="140" src="{{ url_for('static', filename='img/seal--inverse.svg') }}" alt="Seal of the Federal Election Commission | United States of America">
      <p class="address__title">Federal Election Commission</p>
    </div>

    <div class="address">
      <ul class="social-media">
        <li>
          <div class="i icon--twitter">
            <a href="https://twitter.com/fec"><span class="u-visually-hidden">The FEC's Twitter page</span></a>
          </div>
        </li>
        <li>
          <div class="i icon--youtube">
            <a href="https://www.youtube.com/user/FECTube"><span class="u-visually-hidden">The FEC's YouTube page</span></a>
          </div>
        </li>
      </ul>

      <p>999 E Street, NW<br>
      Washington, DC 20463</p>
    </div>
  </div>
</footer>

{% include './partials/glossary.html' %}
{% block modals %}{% endblock %}

<script src="{{ asset_for('dist/js/common.js') }}"></script>
<script src="{{ asset_for('dist/js/init.js') }}"></script>
{% block scripts %}{% endblock %}

{% if use_analytics %}
<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=FEC"></script>
{% endif %}

</body>
</html>
