{% import 'macros/disclaimer.html' as disclaimer %}
{% import 'macros/cycle-select.html' as select %}

<section id="section-4" role="tabpanel" aria-hidden="true" aria-labelledby="section-4-heading">
  <h2 id="section-4-heading">Disbursements</h2>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(cycles, cycle, 'disbursements')}}
    <div class="entity__figure">
      <div class="row">
        <fieldset class="toggles u-float-left">
          <legend class="label">Group by:</legend>
          <label for="toggle-recipient">
            <input id="toggle-recipient" type="radio" class="panel-toggle-control" name="disbursements" value="by-recipient" checked>
            <span class="button--alt">Recipient</span>
          </label>
          <label for="toggle-all-disbursements">
            <input id="toggle-all-disbursements" type="radio" class="panel-toggle-control" name="disbursements" value="itemized-disbursements">
            <span class="button--alt">All transactions</span>
          </label>
        </fieldset>
        <a class="u-float-right button--alt button--browse"
            href="{{ url_for(
              'disbursements',
              committee_id=committee_id,
              two_year_transaction_period=cycle,
              min_date=cycle_start(cycle) | date(fmt='%m-%d-%Y'),
              max_date=cycle_end(cycle) | date(fmt='%m-%d-%Y'),
            ) }}">Filter this data
        </a>
      </div>

      <div id="by-recipient" class="panel-toggle-element" aria-hidden="false">
        <div class="results-info results-info--simple">
          <h3 class="results-info__title">Disbursements by recipient</h3>
          <button type="button" class="js-export button button--cta button--export" data-export-for="disbursements-by-recipient">Export</button>
        </div>
        <table
            class="data-table data-table--heading-borders"
            data-type="disbursements-by-recipient"
            data-committee="{{ committee.committee_id }}"
            data-cycle="{{ cycle }}"
          >
          <thead>
            <th scope="col">Recipient</th>
            <th scope="col">Total</th>
          </thead>
        </table>
        {{ disclaimer.disclaimer('disbursements', committee.committee_id, cycle) }}
      </div>

      <div id="itemized-disbursements" class="panel-toggle-element" aria-hidden="true">
        <div class="results-info results-info--simple">
          <ul class="u-float-left">
            <li class="tag__category">
              <div class="tag__item">Report year: {{cycle - 1}} to {{cycle}}</div>
            </li>
          </ul>

          <div class="js-tooltip-container u-float-right">
            <button type="button" class="js-export button button--cta button--export" data-export-for="itemized-disbursements">Export</button>
            <div id="export-tooltip" role="tooltip" class="tooltip tooltip--under tooltip--right tooltip__content" aria-hidden="true">
            </div>
          </div>

        </div>

        <table
            class="data-table data-table--heading-borders"
            data-type="itemized-disbursements"
            data-committee-id="{{ committee.committee_id }}"
            data-name="{{ name }}"
            data-cycle="{{ cycle }}"
          >
          <thead>
            <tr>
              <th scope="col">Recipient</th>
              <th scope="col">Recipient state</th>
              <th scope="col">Description</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>
