<section class="main" id="section-5" role="tabpanel" aria-hidden="true" aria-labelledby="section-5-heading">
  <div class="container">
    <div class="heading--section heading--with-action">
      <h2 class="heading__left" id="section-5-heading">
        Committee filings: {{ cycle|fmt_year_range }}
      </h2>
      <a class="heading__right button--alt button--browse" href="{{ url_for('filings', committee_id=committee_id) }}">All filings</a>
    </div>
    <div class="content__section">
      <table class="data-table data-table--heading-borders" data-type="filing" data-cycle="{{ cycle }}" data-committee="{{ committee_id }}">
        <thead>
          <th scope="col">Document</th>
          <th scope="col">Version</th>
          <th scope="col">Receipt date</th>
          <th scope="col">Coverage end date</th>
          <th scope="col">Total receipts</th>
          <th scope="col">Total disbursement</th>
          {% if committee_type not in ['P', 'H', 'S', 'Z', 'C', 'E', 'D'] %}
            <th scope="col">Total independent expenditures</th>
          {% endif %}
          <th scope="col"></th>
        </thead>
      </table>
    </div>
  </div>
</section>

{% include 'partials/datatable-modal.html' %}
