{% import 'macros/missing.html' as missing %}
{% import 'macros/cycle-select.html' as select %}
{% import 'macros/tables.html' as tables %}

<section id="section-1" role="tabpanel" aria-hidden="true" aria-labelledby="section-1-heading">
  <h2 id="section-1-heading">Financial summary</h2>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(cycles, cycle, 'summary')}}
    {% if reports and totals %}
      {% if committee_type == 'I' %}
        <div class="entity__figure">
          <div class="u-float-left tag__category">
            <div class="tag__item">Coverage dates: {{totals.0.coverage_start_date|date}} to {{totals.0.coverage_end_date|date}}</div>
          </div>
          {{ tables.summary(ie_summary) }}
        </div>
      {% else %}
        <div class="entity__figure">
          <h3 class="u-no-margin">Raising</h3>
          <div class="row">
              <div class="u-float-left tag__category u-no-margin">
                <div class="tag__item">Coverage dates: {{totals.0.coverage_start_date|date}} to {{totals.0.coverage_end_date|date}}</div>
              </div>
              <div class="u-float-right">
                <a class="heading__right button--alt button--browse"
                    href="{{ url_for(
                      'receipts',
                      committee_id=committee_id,
                      two_year_transaction_period=cycle,
                      min_date=cycle_start(cycle) | date(fmt='%m-%d-%Y'),
                      max_date=cycle_end(cycle) | date(fmt='%m-%d-%Y')
                    ) }}">Browse receipts
                  </a>
              </div>
          </div>
          {{ tables.summary(raising_summary, committee_id) }}
        </div>
        <div class="entity__figure">
          <h3 class="u-no-margin">Spending</h3>
          <div class="row">
              <div class="u-float-left tag__category u-no-margin">
                <div class="tag__item">Coverage dates: {{totals.0.coverage_start_date|date}} to {{totals.0.coverage_end_date|date}}</div>
              </div>
              <div class="u-float-right">
                <a class="heading__right button--alt button--browse"
                    href="{{ url_for(
                      'disbursements',
                      committee_id=committee_id,
                      two_year_transaction_period=cycle,
                      min_date=cycle_start(cycle) | date(fmt='%m-%d-%Y'),
                      max_date=cycle_end(cycle) | date(fmt='%m-%d-%Y')
                    ) }}">Browse disbursements
                  </a>
              </div>
          </div>
          {{ tables.summary(spending_summary, committee_id) }}
        </div>
        <div class="entity__figure">
          <h3 class="u-no-margin">Cash summary</h3>
          <div class="tag__category u-no-margin">
            <div class="tag__item">Coverage dates: {{totals.0.coverage_start_date|date}} to {{totals.0.coverage_end_date|date}}</div>
          </div>
          {{ tables.summary(cash_summary, committee_id) }}
        </div>
      {% endif %}
    {% else %}
      {{ missing.missing_financials(name, cycle) }}
    {% endif %}
  </div>
</section>
