{% import 'macros/missing.html' as missing %}

<section class="main" id="section-1" role="tabpanel" aria-hidden="true" aria-labelledby="section-1-heading">
  <div class="container">
    <div class="content__section">
      <div class="heading--section heading--with-action">
        <h2 class="heading__left" id="section-1-heading">
          Financial summary: {{ cycle|fmt_year_range }}
        </h2>
        <a class="heading__right button button--alt button--browse" href="{{ url_for('reports',
           form_type=report_type,
           committee_id=committee_id,
           cycle=cycle,
           ) }}">
           View source reports
         </a>
      </div>
      <p>Get the full picture of all of the money received and spent by this <span class="term" data-term="Committee">committee</span>.</p>
    </div>
    {% if reports and totals %}
      <div class="content__section">
        <h3 class="results-info results-info--simple results-info__title">Detailed summary: {{ reports.0.cycle-1 }}–{{ reports.0.cycle }}</h3>
        <div class="js-accordion accordion--neutral">
          {% if committee_type == 'P' %}
            {% include 'partials/committee-totals-presidential.html' %}
          {% elif committee_type == 'H' or committee_type == 'S' %}
            {% include 'partials/committee-totals-house-senate.html' %}
          {% elif committee_type == 'I' %}
            {% include 'partials/committee-totals-ie-only.html' %}
          {% else %}
            {% include 'partials/committee-totals-pac-party.html' %}
          {% endif %}
        </div>
      </div>

      {% if committee_type != 'I'  %}
        {% include 'partials/committee-charts.html' %}
      {% else %}
        {% include 'partials/ie-chart.html' %}
      {% endif %}
    {% else %}

      {{ missing.missing_financials(name, cycle) }}

    {% endif %}
  </div>
</section>
