<section class="main" id="section-6" role="tabpanel" aria-hidden="true" aria-labelledby="section-6-heading">
  <div class="container">
  <div class="content__section">
    <div class="heading--section">
      <h2 id="section-6-heading">Independent expenditures: {{ cycle|fmt_year_range }}</h2>
    </div>
    <p class="usa-width-two-thirds">This tab shows spending that this committee has made in support of or opposition to a candidate. None of the funds are directly given to or spent by the candidate.</p>
  </div>

    <div class="content__section">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Independent expenditures</h3>
      </div>
      <table class="data-table data-table--heading-borders" data-type="independent-expenditure-committee" data-committee="{{ committee_id }}" data-cycle="{{ cycle }}">
        <thead>
          <tr>
            <th scope="col">Amount</th>
            <th scope="col">Support/Oppose</th>
            <th scope="col">Candidate</th>
          </tr>
        </thead>
      </table>
      <div class="datatable__note">
        <p class="t-note">These totals are drawn from quarterly, monthly and semi-annual reports. 24- and 48-Hour Reports of independent expenditures aren't included.</p>
      </div>
    </div>
  </div>
</section>
