{% import 'macros/cycle-select.html' as select %}
{% import 'macros/disclaimer.html' as disclaimer %}

<section class="main" id="section-3" role="tabpanel" aria-hidden="true" aria-labelledby="section-3-heading">
  <div class="container">
    <div class="section__heading">
      <h2 class="heading__title" id="section-2-heading">
        Money spent by this committee
        {{ select.cycle_select(cycles, cycle, id="cycle-3") }}
      </h2>
      <a class="heading__action button--neutral button--browse"
          href="{{ url_for(
            'disbursements',
            committee_id=committee_id,
            min_date=cycle_start(cycle) | date(fmt='%m-%d-%Y'),
            max_date=cycle_end(cycle) | date(fmt='%m-%d-%Y'),
          ) }}">All disbursements data
      </a>
    </div>
    <div class="row filters--horizontal">
      <fieldset class="toggles section__intro__left">
        <legend class="label">Compare by:</legend>
        <label for="toggle-purpose">
          <input id="toggle-purpose" type="radio" class="panel-toggle-control" name="disbursement-aggregate" value="by-purpose" checked />
          <span class="button--neutral">Purpose</span>
        </label>
        <label for="toggle-recipient">
          <input id="toggle-recipient" type="radio" class="panel-toggle-control" name="disbursement-aggregate" value="by-recipient" />
          <span class="button--neutral">Recipient</span>
        </label>
      </fieldset>
    </div>
    <div id="by-purpose" class="panel-toggle-element" aria-hidden="false">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Disbursements by Purpose</h3>
      </div>
      <table
          class="data-table"
          data-type="disbursements-by-purpose"
          data-committee="{{ committee.committee_id }}"
          data-cycle="{{ cycle }}"
        >
        <thead>
          <th scope="col">Purpose</th>
          <th scope="col">Total Received</th>
        </thead>
      </table>
      {{ disclaimer.disclaimer('disbursements', committee.committee_id, cycle) }}
    </div>

    <div id="by-recipient" class="panel-toggle-element" aria-hidden="false">
      <div class="results-info results-info--simple">
        <h3 class="results-info__title">Disbursements by Recipient</h3>
      </div>
      <table
          class="data-table"
          data-type="disbursements-by-recipient"
          data-committee="{{ committee.committee_id }}"
          data-cycle="{{ cycle }}"
        >
        <thead>
          <th scope="col">Recipient</th>
          <th scope="col">Total Received</th>
        </thead>
      </table>
      {{ disclaimer.disclaimer('disbursements', committee.committee_id, cycle) }}
    </div>
  </div>
</section>
