{% extends "layouts/main.html" %}
{% block body %}
	<div class="container">
		<section class="page-section">
			<div class="meta-box error-container">
			    <h1>Oops!</h1>
			    <p class="text--lead">We couldn't find what you're looking for. Please double-check the URL and try again.</p>
				<p class="text--lead">To find a specific candidate or committee, try searching by name:</p>
			    <form id="search" action="/" class="input-button-combo">
		            <input class="search-bar" type="text" name="search" aria-label="Search for candidates and committees" placeholder="Enter candidate name">
		            <input class="search-submit" type="submit" value="Search">
		        </form>
		        <div class="error-container__bottom">
		            <h4>Still can't find what you're looking for?</h4>
                <a class="button" href="mailto:18F-FEC@gsa.gov">Contact support <i class="ti-email"></i></a>
		       </div>
		    </div>
			<nav class="error-nav">
				<a href="/" class="u-float-right">Return home &raquo;</a>
			</nav>
		</section>
	</div>
{% endblock %}
