{% extends "layouts/main.html" %}
{% block body %}
	<div class="container">
		<section class="page-section">
			<div class="meta-box error-container">
			    <h1>Not Found</h1>
			    <p class="text--lead">We’re sorry, we could not find the page you’re looking for. Please make the URL is correct.</p>
				<p class="text--lead">If you’re looking for a specific candidate or committee, try searching by name:</p>
			    <form id="search" action="/" class="input-button-combo">
		            <input class="search-bar" type="text" name="search" aria-label="Search for candidates and committees" placeholder="Search">
		            <input class="search-submit" type="submit" value="Search">
		        </form>
		        <div class="error-container__bottom">
		            <h4>Still can't find what you're looking for?</h4>
		            <a class="button">Contact support</a>
		       </div>
		    </div>
			<nav class="error-nav">
				<a href="/" class="u-float-right">Return home &raquo;</a>
			</nav>
		</section>
	</div>
{% endblock %}
