{% extends "layouts/main.html" %}
{% block body %}
	<div class="container">
		<section class="page-section">
			<div class="meta-box error-container">
			    <h1>Oops. We messed up :(</h1>
			    <p class="text--lead">Something weird happened with our servers.</p>
				<p class="text--lead">Please go back and try again or try reloading this page.</p>
		        <div class="error-container__bottom">
		            <h4>Still not working?</h4>
		            <a class="button">Contact support</a>
		       </div>
			 </div>
			 <nav class="error-nav">
				 <a href="/" class="u-float-right">Return home &raquo;</a>
			 </nav>
		</section>
	</div>
{% endblock %}
