{% extends "layouts/main.html" %}
{% block body %}
	<div class="container">
		<section class="page-section">
			<div class="meta-box error-container">
			    <h1>Oops: We messed up</h1>
			    <p class="text--lead">We just experienced a server issue. Please try reloading the page.</p>
		        <div class="error-container__bottom">
		            <h4>Still not working?</h4>
                <a class="button" href="mailto:18F-FEC@gsa.gov">Contact support <i class="ti-email"></i></a>
		       </div>
			 </div>
			 <nav class="error-nav">
				 <a href="/" class="u-float-right">Return home &raquo;</a>
			 </nav>
		</section>
	</div>
{% endblock %}
