{% extends 'layouts/main.html' %}

{% block title %}
    {{name | title}} - Candidate Overview
{% endblock %}

{% block header %}
    {% include 'partials/page-nav.html' %}
{% endblock %}

{% block body %}
<div class="entity candidate tab-interface">
  <header class="page-header entity__header">
    <div class="container">
      <div class="entity__header--top row">
        <span class="entity__id">ID: {{ candidate_id }}</span>
        <h1 class="entity__name">{{ name }}</h1>
        <span class="entity__type"><img class="category-icon" width="20" height="20" src="/static/img/icon-candidate--white.svg" alt="Icon representing candidates">Candidate for {{ office_full }}</span>
      </div>
      <div class="entity__header--bottom row">
        <ul class="entity__info">
          <li class="entity__term">
            <h5 class="entity__term__label">Party</h5>
            <span class="entity__term__data">{{ party_full }}</span>
          </li>
          <li class="entity__term">
            <h5 class="entity__term__label"><a class="term" data-term="Status">Status</a></h5>
            <span class="entity__term__data">{% if incumbent_challenge_full %}{{ incumbent_challenge_full|title }}{% endif %}</span>
          </li>
          <li class="entity__term">
            <h5 class="entity__term__label">District</h5>
            <span class="entity__term__data">{{ state }} {% if district %}- {{district}} {% endif %}</span>
          </li>
          {% for committee in committees if committee.is_primary %}
          <li class="entity__term">
            <h5 class="entity__term__label"><a class="term" data-term="Principal Campaign Committee">Principal Committee</a></h5>
            <a href="{{ committee.url }}">{{ committee.name }}</a>
          </li>
          {% endfor %}
          <!--{% if has_authorized %}
          <li class="entity__term--wide">
            <h5 class="entity__term__label"><a class="term" data-term="Authorized Committee">Authorized Committees</a></h5>
            {% for c in committees if c.is_authorized %}
            <p class="entity__term__data"><a href="{{ c.url }}">{{ c.name }}</a></p>
            {% endfor %}
          </li>
          {% endif %} -->
      </div>
    </div>
  </header>

  <div class="page-controls">
    <div class="page-controls__top">
      <div class="container">
        <span class="page-controls__title"><img class="category-icon" width="16" height="16" src="/static/img/icon-candidate--white.svg" alt="Icon representing candidates"> {{ name }}</span>
      </div>
    </div>
    <div class="page-controls__bottom">
      <div class="container">
        {% if election_years %}
        <div class="time-period">
          <label for="election_cycle">Two-Year Period</label>
          <select name="election_cycle" data-id="{{ candidate_id }}" data-type="candidate" disabled>
          {% for year in election_years|sort(reverse=True) %}
            <option value="{{ year }}">{{ year|int - 1 }} - {{ year }}</option>
          {% endfor %}
          </select>
        </div>
        {% endif %}         
      </div>
    </div>
  </div>

  <section class="page-section" id="section-1" aria-labelledby="section-1-header">
    <div class="container">
      {% include 'partials/financial-summary.html' %}
    </div>
  </section>
</div>

{% endblock %}

{% block scripts %}
  <script src="/static/js/vendor/tablist.js"></script>
{% endblock %}
