{% extends 'layouts/main.html' %}

{% block title %}
  Browse candidates
{% endblock %}

{% block body %}

<header class="page-header slab slab--primary">
  <h1 class="page-header__title tst-page-title">Candidates</h1>
</header>

<section class="main__content--full">
  {% include 'partials/candidates-filter.html' %}
  <div id="candidates" class="datatable__container">
    {% include 'partials/candidates-table.html' %}
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ asset_for('dist/js/pages/candidates.js') }}"></script>
{% endblock %}
