{% extends 'layouts/main.html' %}

{% block title %}
  Browse candidates
{% endblock %}

{% block body %}

<header class="page-header slab slab--primary">
  <h1 class="page-header__title">Candidates</h1>
</header>

<section class="main__content--full">
  {% include 'partials/candidates-office-filter.html' %}
  <div class="data-container">
    <div class="data-container__widgets js-data-widgets"></div>
    <div id="candidates" class="data-container__body fade-in">
      {% include 'partials/candidates-office-table.html' %}
    </div>
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
<script>
var context = {
  office: '{{ office }}'
};
</script>
<script src="{{ asset_for('dist/js/pages/candidates-office.js') }}"></script>
{% endblock %}
