{% extends 'layouts/main.html' %}

{% block title %}
  Browse candidates
{% endblock %}

{% block body %}

<header class="page-header slab slab--primary">
  <h1 class="page-header__title tst-page-title">Candidates</h1>
</header>

<section class="main__content--full">
  {% include 'partials/candidates-filter.html' %}
  <div class="data-container">
    <div class="data-container__widgets">
      <ul class="data-container__tags js-tag-container"></ul>
    </div>
    <div id="candidates" class="data-container__body fade-in">
      {% include 'partials/candidates-table.html' %}
    </div>
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ asset_for('dist/js/pages/candidates.js') }}"></script>
{% endblock %}
