{% extends 'layouts/main.html' %}

{% block header %}
    {% include 'partials/page-nav.html' %}
{% endblock %}

{% block body %}
<div class="entity candidate tab-interface">
  <header class="page-header entity__header">
    <div class="container">
      <div class="entity__header--top row">
        <h1 class="entity__name">{{ name }}</h1>
        <span class="entity__type"><img class="category-icon" width="20" height="20" src="/static/img/icon-candidate--white.svg" alt="Icon representing candidates">Candidate for {{ office }}</span>
      </div>
      <div class="entity__header--bottom row">
        <ul class="entity__info">
          <li class="entity__term">
            <h5 class=>Party</h5>
            <span>{{ party_full }}</span>
          </li>
          <li class="entity__term">
            <h5>Status</h5>
            <span>{{ incumbent_challenge|default("") }}</span>
          </li>
          <li class="entity__term">
            <h5>District</h5>
            <span>{{ state }} {% if district %}- {{district}} {% endif %}</span>
          </li>
          <li class="entity__term">
            <h5>Candidate ID</h5>
            <span>{{ candidate_id }}</span>
          </li>
          {% if primary_committee %}
          <li class="entity__term--wide">
            <h5>Principal Campaign Committee</h5>
            <a href="{{ url_for('committee_page', c_id=primary_committee.id) }}">{{ primary_committee.name }}</a>
          </li>
          {% endif %}
          {% if authorized_committees %}
          <li class="entity__term--wide">
            <h5>Authorized Committees</h5>
            {% for c_id in authorized_committees %}
            <p><a href="{{ url_for('committee_page', c_id=c_id) }}">{{ authorized_committees[c_id].name }}</a></p>
            {% endfor %}
          </li>
          {% endif %}
     <!--      <li class="entity__term--wide">
            <h5>Statement of Candidacy</h5>
            <span>View filing &raquo;</span>
          </li> -->
      </ul>
        {% if related_committees %}
        <!-- <ul class="entity__info entity__related-entities"> -->

<!--      <li class="entity__term--wide">
            <h5>Elections</h5>
            <span>{{ election }}</span>
          </li> -->
        <!-- </ul> -->
        {% endif %}
      </div>
    </div>
  </header>

  <div class="page-controls">
    <div class="page-controls__top">
      <div class="container">
        <span class="page-controls__title"><img class="category-icon" width="16" height="16" src="/static/img/icon-candidate--white.svg" alt="Icon representing candidates"> {{ name }}</span>
      </div>
    </div>
  </div>

  <section class="page-section" id="section-1" aria-labelledby="section-1-header">
    <div class="container">
      {% include 'partials/financial-summary.html' %}
    </div>
  </section>
</div>

<script src="/static/js/vendor/tablist.js"></script>
{% endblock %}
