{% extends 'layouts/main.html' %}

{% import 'macros/charts.html' as charts %}

{% block body %}
<div id="main" class="entity committee tab-interface">
  <div class="container" style="padding-top: 2em">
    <h2>Charts!</h2>
    <p>These are some charts. You can use them by importing the macros:</p>
<pre>{% raw %}
{% import 'macros/charts.html' as charts %}
{{ charts.chart_series(...) }}
{% endraw %}</pre>

    <figure class="chart-container chart--r-d">
      <h4 class="figure__title">Simple Bar Chart (Series)</h4>
<pre>{% raw %}
{{ charts.chart_series(bar_data, 'debt', format=currency) }}
{% endraw %}</pre>
      {{ charts.chart_series(bar_data, 'debt', format=currency) }}
    </figure>

    <figure class="chart-container chart--r-d">
      <h4 class="figure__title">Grouped Bar Chart</h4>
<pre>{% raw %}
{{ charts.chart_series_grouped(grouped_bar_data, ('receipts', 'disbursements'), format=currency) }}
{% endraw %}</pre>
      {{ charts.chart_series_grouped(grouped_bar_data, ('receipts', 'disbursements'), label_key="date", format=currency) }}
    </figure>

    <figure class="chart-container chart--r-d">
      <h4 class="figure__title">Horizontal Bar Chart</h4>
<pre>{% raw %}
{{ charts.chart_series(bar_data, 'debt', orient='horizontal', format=currency) }}
{% endraw %}</pre>
      {{ charts.chart_series(bar_data, 'debt', orient='horizontal', format=currency) }}
    </figure>

    <figure class="chart-container chart--r-d">
      <h4 class="figure__title">Horizontal Bar Chart (Grouped)</h4>
<pre>{% raw %}
{{ charts.chart_series_grouped(grouped_bar_data, ('receipts', 'disbursements'), orient='horizontal', format=currency) }}
{% endraw %}</pre>
      {{ charts.chart_series_grouped(grouped_bar_data, ('receipts', 'disbursements'), orient='horizontal', format=currency) }}
    </figure>

    <figure class="chart-container">
      <h4 class="figure__title">Custom Chart</h4>
      <pre>&lt;div class="chart-series chart-series--vertical" data-max="200"&gt;
  &lt;div class="chart-series__bar data--cash" data-value="10"&gt;A&lt;/div&gt;
  &lt;div class="chart-series__bar data--debt" data-value="20"&gt;B&lt;/div&gt;
  &lt;div class="chart-series__bar data--support" data-value="100"&gt;C&lt;/div&gt;
  &lt;div class="chart-series__bar data--oppose" data-value="15"&gt;D&lt;/div&gt;
&lt;/div&gt;</pre>
      <div class="chart-series chart-series--horizontal"
        data-max="200">
        <div class="chart-series__bar data--cash" data-value="10">A</div>
        <div class="chart-series__bar data--debt" data-value="20">B</div>
        <div class="chart-series__bar data--support" data-value="100">C</div>
        <div class="chart-series__bar data--oppose" data-value="15">D</div>
      </div>
    </figure>

  </div>
</div>
{% endblock %}
