{% extends 'layouts/main.html' %}

{% block title %}
    {{name | title}} - Committee Overview
{% endblock %}

{% block header %}
    {% include 'partials/page-nav.html' %}
{% endblock %}

{% block body %}
  <div id="main" class="entity committee tab-interface">
    <header class="entity__header page-header">
      <div class="container">
        <div class="entity__header--top row">
            <span class="entity__id">ID: {{ committee_id }}</span>
            <h1 class="entity__name">{{ name }}</h1>
            <span class="entity__type">
              <img class="category-icon"
                   width="20" height="20"
                   src="/static/img/icon-committee--white.svg"
                   alt="Icon representing committees">
               Committee - {{ designation }}
               - {{ type }}
               {% if organization %} - {{ organization }}{% endif %}
            </span>
        </div>
        <div class="entity__header--bottom row">
          <ul class="entity__info">
            {% if party %}
            <li class="entity__term">
              <h5 class="entity__term__label">Political Party</h5>
              <span class="entity__term__data">{{ party }}</span>
            </li>
            {% endif %}
            <li class="entity__term">
              <h5 class="entity__term__label">Treasurer</h5>
              <span class="entity__term__data">{{ treasurer }}</span>
            </li>
            {% if candidates %}
            <li class="entity__term">
              <h5 class="entity__term__label">Related Candidates</h5>
              <ul class="entity__term__data">
              {% for c in candidates %}
                <li><a href="{{ url_for('candidate_page', c_id=c.candidate_id) }}">{{ c.name }}</a></li>
              {% endfor %}
              </ul>
            </li>
            <li class="entity__term">
              <h5 class="entity__term__label">Address</h5>
              <span class="entity__term__data">{{ address.street_1 }}{% if address.street_2 %},{% endif %} <br> {{address.city}}, {{address.state}} {{address.zip}}</span>
            </li>
          {% endif %}
        </ul>
      </div>
    </header>
    <div class="page-controls">
      <div class="page-controls__top">
        <div class="container">
          <span class="page-controls__title"><img class="category-icon" width="16" height="16" src="/static/img/icon-committee--white.svg" alt="Icon representing committees"> {{ name }}</span>
        </div>
      </div>
      <div class="page-controls__bottom">
        <div class="container">
          {% if election_years %}
          <div class="time-period">
            <label for="election_cycle">Two-Year Period</label>
            <select name="election_cycle" data-id="{{ candidate_id }}" data-type="candidate">
            {% for year in election_years|sort(reverse=True) %}
              <option value="{{ year }}">{{ year|int - 1 }} - {{ year }}</option>
            {% endfor %}
            </select>
          </div>
          {% endif %}         
        </div>
      </div>      
     <!-- <nav class="page-tabs">
        <div class="container">
          <ul role="tablist">
            <li role="presentation" class="page-tabs__item"><a role="tab" tabindex="0" aria-controls="panel1" aria-selected="true" href="#section-1">Financial Overview</a></li>
            <li role="presentation" class="page-tabs__item"><a role="tab" tabindex="-1" aria-controls="panel2" href="#section-2">Report Summaries</a></li>
            <li role="presentation" class="page-tabs__item"><a role="tab" tabindex="-1" aria-controls="panel3" href="#section-3">Browse All Filings</a></li>
          </ul>
        </div>
      </nav> -->
    </div>

    {% macro totals_table_row(pretty_name, value) %}
      {% import 'macros/charts.html' as charts %}
      <div class="table__row js-accordion_item">
        <div class="table__cell">{{ pretty_name }} </div>
        <div class="table__cell">{{ value|default(0)|currency }}</div>
        <div class="table__cell table__cell--bar">
          {{ charts.chart_bar(value|default(0),
                              pretty_name,
                              tooltip=None) }}
        </div>
      </div>
    {% endmacro %}

    {% macro totals_table_row_header(pretty_name, value, description, accordion=True) %}
      <div class="table__row table__row--header js-accordion_header accordion__header">
        <div class="table__cell">
          <h4>{{ pretty_name }}</h4>
        </div>
        <div class="table__cell">
          <h4>{{ value|default(0)|currency }}</h4>
        </div>
        {% if description %}
        <div class="table__cell u-text-center">
          <span class="text--black"><em>{{ description }}</em></span>
        </div>
        {% endif %}
        {% if accordion %}
          <a href="#" class="accordion__button js-accordion_button">
            <i class="accordion__icon"></i>
          </a>
        {% endif %}
      </div>
    {% endmacro %}

    {% macro totals_table(header_name, header_value, data, report_year, header_description='') %}
      <figure class="table--simple totals-table totals-table--charts">
        <div class="table js-chart-series chart-series--horizontal">
          {{ totals_table_row_header(header_name, header_value, header_description, accordion=data|length) }}
          {% for item in data %}
            {{ totals_table_row(item[1], item[0]) }}
          {% endfor %}
          {% if report_year %}
            <div class="table__row--note js-accordion_item">
              Calculated from reports filed {{ report_year }}
            </div>
          {% endif %}
        </div>
      </figure>
    {% endmacro %}

    <section class="page-section" id="section-1" role="tabpanel" aria-hidden="false" aria-labelledby="section-1-header">
      <div class="container committee-summary">
        {% if totals %}
          <h2 id="section-1-header" tabindex="0">Financial Summary</h2>
          <p class="text--lead">Get the full picture of all of the money received and spent by this committee.</p>
          <div class="row js-accordion">
            <h3 class="section-header">Detailed Summary</h3>
            {% with committee=context() %}

            {% set table_data = [
                 (committee.totals.0.individual_itemized_contributions, 'Itemized Individual Contributions'),
                 (committee.totals.0.individual_unitemized_contributions, 'Unitemized Individual Contributions'),
                 (committee.totals.0.transfers_to_affiliated_committee, 'Transfer from a Committes'),
                 (committee.totals.0.all_loans_received, 'Loans'),
               ]
            %}
            {{ totals_table('Total receipts', committee.totals.0.total_receipts, table_data,
                committee.report_year, header_description='Money received by the committee' ) }}

            {% set table_data = [
                 (committee.totals.0.operating_expenditures, 'Operating expenditures'),
                 (committee.totals.0.transfers_to_affiliated_committee, 'Transfers to authorized committeess'),
                 (committee.totals.0.transfers_to_affiliated_committee, 'Fundraisings'),
                 (committee.totals.0.transfers_to_affiliated_committee, 'Exempt legal and accounting'),
                 (committee.totals.0.loan_repayments_made, 'Total loan repayments'),
                 (committee.totals.0.contribution_refunds, 'Contribution refunds'),
                 (committee.totals.0.other_disbursements, 'Other disbursementss'),
               ]
            %}
            {{ totals_table('Total Disbursments', committee.totals.0.total_disbursments, table_data,
                committee.report_year, header_description='Money spent by the committee' ) }}

            {{ totals_table('Beginning cash on hand', committee.reports[0].cash_on_hand_beginning_period) }}
            {{ totals_table('End cash on hand', committee.reports[0].cash_on_hand_end_period) }}
            {{ totals_table('Debts owed to committeed', committee.reports[0].debts_owed_to_committee) }}
            {{ totals_table('Debts owed by committeed', committee.reports[0].debts_owed_by_committee) }}

            {% endwith %}
          </div>
          <div class="row">
            {% with committee=context() %}
              {% include 'partials/committee-charts.html' %}
            {% endwith %}
          </div>
        {% else %}
        <div class="meta-box error-container">
          <h2 id="section-1-header" tabindex="0">No financial data</h2>
          <p class="text--lead">This committee has not filed any reports for the time period selected.</p>
          <div class="error-container__bottom">
              <h5>Is this information incorrect? Let us know.</h5>
              <a class="button">Contact support</a>
         </div>
        </div>
        {% endif %}
      </div>
    </section>
  </div>

  <script src="/static/js/vendor/tablist.js"></script>
{% endblock %}
