{% extends 'layouts/main.html' %}
{% import 'macros/null.html' as null %}
{% import 'macros/cycle-select.html' as select %}

{% block title %}
    {{ name }} - committee overview
{% endblock %}

{% block body %}
  <div class="tab-interface">
    <header class="page-header page-header--primary">
    <span class="page-header__title">Committees</span>
    {{ search.search('page-header', 'committees') }}
    </header>
    <header class="entity__header entity__header--primary">
      <div class="container">
        <div class="entity__header__top row">
          <h1 class="entity__name">{{ name }}</h1>
          <span class="t-data entity__type">
            {{ committee_type_full }}
             - {{ designation_full }}
             {% if organization %} - {{ organization }}{% endif %}
          </span><span class="t-data">ID: {{ committee_id }}</span>
        </div>
        <ul class="entity__info">
          {% if party_full %}
          <li class="entity__term">
            <span class="entity__term__label"><span class="term" data-term="Party">Political party</span></span>
            <span class="entity__term__data">{{ party_full }}</span>
          </li>
          {% endif %}
          <li class="entity__term">
            <span class="entity__term__label">Treasurer</span>
            <span class="entity__term__data">{{ treasurer_name }}</span>
          </li>
          {% if candidates %}
          <li class="entity__term">
            <span class="entity__term__label">Related
              {% if candidates|length > 1 %}
                candidates
              {% else %}
                candidate
              {% endif %}
            </span>
            <ul class="entity__term__data">
            {% for c in candidates %}
              <li><a href="{{ url_for('candidate_page', c_id=c.candidate_id, cycle=cycle) }}">{{ c.name }}</a></li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}
          <li class="entity__term">
            <span class="entity__term__label">Address</span>
            <span class="entity__term__data">{{ street_1 }}{% if street_2 %}<br>{{ street_2 }}{% endif %} <br> {{city}}, {{state}} {{zip}}</span>
          </li>
      </ul>
      <div class="entity__header__bottom">
        <div class="entity__cycle">
          <span class="label">View data for</span>
          {{ select.cycle_select(cycles, cycle)}}
        </div>
      </div>
    </header>
    <div class="page-controls page-controls--primary">
      <div class="page-controls__top">
        <div class="container">
          <span class="page-controls__title">{{ name }}</span>
        </div>
      </div>
      <div class="page-controls__bottom">
        <div class="container">
          <nav class="page-tabs">
            <ul class="page-tabs__list" role="tablist" data-name="tab">
              {% if committee_type not in ['C', 'E'] %}
                <li role="presentation" class="page-tabs__item"><a role="tab" data-name="summary" tabindex="0" aria-controls="panel1" href="#section-1">Financial summary</a></li>
                <li role="presentation" class="page-tabs__item"><a role="tab" data-name="receipts" tabindex="0" aria-controls="panel2" href="#section-2">Receipts from individuals</a></li>
                <li role="presentation" class="page-tabs__item"><a role="tab" data-name="disbursements" tabindex="0" aria-controls="panel3" href="#section-3">Disbursements</a></li>
                <li role="presentation" class="page-tabs__item"><a role="tab" data-name="between-committees" tabindex="0" aria-controls="panel4" href="#section-4">Between committees</a></li>
                <li role="presentation" class="page-tabs__item"><a role="tab" data-name="filings" tabindex="0" aria-controls="panel5" href="#section-5">Filings</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>

    {% macro totals_table_row(pretty_name, value) %}
      {% import 'macros/charts.html' as charts %}
      <div class="totals-table__row totals-table__row--nested js-accordion_item" aria-hidden="true">
        <div class="totals-table__cell">{{ pretty_name }} </div>
        <div class="totals-table__cell">{{ null.null(value | currency) }}</div>
        <div class="totals-table__cell totals-table__cell--bar">
          <div class="bar-container">
            {{ charts.chart_bar(value|default(0),
                                pretty_name,
                                tooltip=None) }}
          </div>
        </div>
      </div>
    {% endmacro %}

    {% macro totals_table_row_header(pretty_name, value, description, accordion=True) %}
      <div class="totals-table__row totals-table__row--header js-accordion_header accordion__header">
        <div class="totals-table__cell">
          <span class="totals-table__label">{{ pretty_name }}</span>
          {% if description %}
          <span class="t-note"><em>{{ description }}</em></span>
          {% endif %}
        </div>
        <div class="totals-table__cell">
          <span>{{ null.null( value | currency ) }}</span>
        </div>
        {% if accordion %}
          <button class="button button--primary accordion__button js-accordion_button">
            <span class="js-accordion_text u-visually-hidden" data-show="Show {{ pretty_name }}" data-hide="Hide {{ pretty_name }}"></span>
          </button>
        {% endif %}
      </div>
    {% endmacro %}

    {% macro totals_table(header_name, header_value, data, report_year, header_description='') %}
      <figure class="totals-table totals-table--charts js-chart-series chart-series--horizontal">
        {{ totals_table_row_header(header_name, header_value, header_description, accordion=data|length) }}
        {% for item in data %}
          {{ totals_table_row(item[1], item[0]) }}
        {% endfor %}
      </figure>
    {% endmacro %}

    {% with committee=context() %}
      {% if committee_type not in ['C', 'E'] %}
        {% include 'partials/loading-tab.html' %}
        {% include 'partials/committee/financial-summary.html' %}
        {% include 'partials/committee/receipts-tab.html' %}
        {% include 'partials/committee/disbursements-tab.html' %}
        {% include 'partials/committee/between-committees-tab.html' %}
      {% endif %}
      {% include 'partials/committee/filings-tab.html' %}
    {% endwith %}
  </div>

{% endblock %}

{% block scripts %}
<script src="{{ asset_for('dist/js/pages/committee-single.js') }}"></script>
{% endblock %}
