{% extends 'layouts/main.html' %}

{% block title %}
  Browse committees
{% endblock %}

{% block body %}

<header class="page-header slab slab--primary">
  <h1 class="page-header__title tst-page-title">Committees</h1>
</header>

<section class="main__content--full">
  {% include 'partials/committee-filter.html' %}
  <div id="committees" class="datatable__container">
    {% include 'partials/committees-table.html' %}
  </div>
</section>
{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
<script src="/{{ assets['dist/js/pages/committees.js'] }}"></script>
{% endblock %}
