{% extends 'layouts/main.html' %}

{% block title %}
    Browse Committees
{% endblock %}

{% block body %}

<header class="page-header page-header--dark">
  <h1><img width="32" height="32" class="category-icon" src="/static/img/icon-committee--white.svg" alt="Icon representing committees"> Committees</h1>
</header>

<section class="results-content">
  {% set filters = [
      'election-years.html',
      'parties.html',
      'states.html',
      'committee-types.html',
    ]
  %}
  {% include 'partials/filters/container.html' %}

  <div id="committees" class="results-container">
    {% include 'partials/committees-table.html' %}
  </div>
</section>
{% endblock %}
