{% extends 'layouts/main.html' %}

{% block title %}
  Browse Disbursements
{% endblock %}

{% block body %}

<header class="page-header slab slab--primary">
  <h1>Disbursements</h1>
</header>

<section class="main__content">
  {% include 'partials/disbursements-filter.html' %}
  <div id="committees" class="datatable__container">
    {% include 'partials/disbursements-table.html' %}
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
<script src="/{{ assets['dist/js/pages/disbursements.js'] }}"></script>
{% endblock %}
