{% extends 'layouts/main.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}

{% block title %}
  Browse Donations
{% endblock %}

{% block body %}

<header class="page-header page-header--dark">
  <h1><img width="32" height="32" class="category-icon" src="/static/img/icon-committee--white.svg" alt="Icon representing committees"> Committees</h1>
</header>

<section class="results-content">
  <button id="filter-toggle" data-slide="left"><i class="ti-plus"></i>Show Filters</button>
  <div id="filters" class="side-panel side-panel--left">
    <h4>Filter Donations</h4>
    <form id="category-filters">

      <div class="field">
        <label class="dropdown__value" for="contributor-type">
          <input id="contributor-type" name="contributor_type" type="checkbox" value="individual" checked>Individual
        </label>
        <label class="dropdown__value" for="contributor-type">
          <input id="contributor-type" name="contributor_type" type="checkbox" value="committee" checked>Committee
        </label>
      </div>

      {{ text.field('contributor_name', 'Name') }}
      {{ text.field('contributor_city', 'City') }}

      {{ states.field('contributor_state') }}

      {{ text.field('contributor_employer', 'Employer') }}

      {{ text.field('min_amount', 'Minimum Contribution', {'data-inputmask': '"alias": "numeric"'}) }}
      {{ text.field('max_amount', 'Maximum Contribution', {'data-inputmask': '"alias": "numeric"'}) }}

      {{ text.field('start_date', 'Start Date', {'data-inputmask': '"alias": "mm/dd/yyyy"'}) }}
      {{ text.field('end_date', 'End Date', {'data-inputmask': '"alias: "mm/dd/yyyy"'}) }}

      <div class="field">
        <button type="submit" class="primary">Apply filters</button>
      </div>

    </form>
  </div>
  <div id="committees" class="results-container">
    {% include 'partials/donations-table.html' %}
  </div>
</section>

<div id="datatable-modal" class="modal__overlay" aria-hidden="true">
  <div class="modal">
    <div class="modal__row">
      <button title="Close menu" class="js-hide modal__close" data-hides="datatable-modal"><i class="ti-close"></i></button>
    </div>
    <div class="modal__row">
      <h3>Donation Detail</h3>
      <nav class="modal__nav">
        <div class="modal-content">
          <table>
            <tr>
              <td></td>
            </tr>
          </table>
        </div>
      </nav>
    </div>
  </div>
</div>

{% endblock %}
