{% extends 'layouts/main.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}

{% block title %}
  Browse Committees
{% endblock %}

{% block body %}

<header class="page-header page-header--dark">
  <h1><img width="32" height="32" class="category-icon" src="/static/img/icon-committee--white.svg" alt="Icon representing committees"> Committees</h1>
</header>

<section class="results-content">
  <button id="filter-toggle" data-slide="left"><i class="ti-plus"></i>Show Filters</button>
  <div id="filters" class="side-panel side-panel--left">
    <h4>Filter Donations</h4>
    <form id="category-filters">

      {% include 'partials/filters/election-years.html' %}

      {{ text.field('contributor_name', 'Name') }}
      {{ text.field('contributor_city', 'City') }}

      {{ states.field('contributor_state') }}

      {{ text.field('contributor_employer', 'Employer') }}

      {{ text.field('min_amount', 'Minimum Contribution') }}
      {{ text.field('max_amount', 'Maximum Contribution') }}

      <div class="field">
        <button type="submit" class="primary">Apply filters</button>
      </div>

    </form>
  </div>
  <div id="committees" class="results-container">
    {% include 'partials/donations-table.html' %}
  </div>
</section>
{% endblock %}
