{% extends 'layouts/main.html' %}
{% import 'macros/cycle-select.html' as select %}
{% block title %}
  Find candidates and elections by location
{% endblock %}

{% block body %}
<header class="page-header slab slab--primary">
  <span class="page-header__title">Find candidates and elections by location</span>
</header>
<section class="main" id="election-lookup" >
  <div class="container">
    <h2 class="t-ruled--bottom t-ruled--bold">Search</h2>
    <div class="search-controls">
      <form>
        <div class="search-controls__row">
          <label class="label" for="cycle-select">Choose an election cycle</label>
          {{ select.cycle_select(cycles, cycle) }}
        </div>
        <div class="search-controls__row">
          <div class="search-controls__either">
            <label for="zip" class="label">Find by zip code</label>
            <div class="combo combo--search">
              <input class="combo__input" type="text" id="zip" name="zip" placeholder="e.g. 10001">
              <button type="submit" class="combo__button button--search button--neutral"><span class="u-visually-hidden">Search</span></button>
            </div>
          </div>
          <div class="search-controls__or">or</div>
          <div class="search-controls__either">
            <span class="label">Find by state and district</span>
            <div class="row">
              <select class="form-element--inline" id="state" name="state" aria-label="Select a state">
                <option value="">Select state</option>
                {% for value, label in constants.states.items() %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
              <select class="form-element--inline" id="district" name="district" aria-label="Select a district">
                <option value="">Select district</option>
                {% for value in range(1, 100) %}
                {% with formatted = '{0:02d}'.format(value) %}
                <option value="{{ formatted }}">{{ formatted }}</option>
                {% endwith %}
                {% endfor %}
              </select>
              <button type="submit" class="form-element--inline button--search button--neutral"><span class="u-visually-hidden">Search</span></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="content__section--extra">
      <div class="usa-width-one-half">
        <div class="section__heading">
          <div class="row">
            <h2 class="heading__title">Results:</h2>
          </div>
          <h3 class="heading__subtitle">Elections</h3>
        </div>
        <div class="results">
          <div class="results-items"></div>
        </div>
      </div>
      <div class="election-map usa-width-one-half"></div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="/{{ assets['dist/js/pages/election-lookup.js'] }}"></script>
<script>
var context = {
  districts: {{ districts | json | safe }}
};
</script>
{% endblock %}
