{% extends 'layouts/main.html' %}

{% block title %}
  Election Lookup
{% endblock %}

{% block body %}
<div class="entity">
  <header class="page-header entity__header page-header--dark">
    <div class="container">
      <div class="entity__header--top row">
        <h1 class="entity__name">Election Lookup</h1>
      </div>
    </div>
  </header>
  <div class="container">
    <div id="election-lookup" class="row">
      <div class="chunk--half">
        <div class="results">
          <h4>All Matching Districts</h4>
          <div class="results-items"></div>
        </div>
        <div class="search">
          <h4>New Search</h4>
          <form>
            <div>
              <label for="cycle" class="label">Election cycle</label>
              <select id="cycle" name="cycle">
                {% for cycle in cycles %}
                <option value="{{ cycle }}">{{ cycle }}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <label for="zip" class="label">Search by zip code</label>
              <input id="zip" name="zip" placeholder="10001" />
            </div>
            <fieldset>
              <legend>Search by state and district</legend>
              <div>
                <select id="state" name="state">
                  <option value="">Select state</option>
                  {% for value, label in states %}
                  <option value="{{ value }}">{{ label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <select id="district" name="district">
                  <option value="">Select district</option>
                  {% for value in range(1, 100) %}
                  {% with formatted = '{0:02d}'.format(value) %}
                  <option value="{{ formatted }}">{{ formatted }}</option>
                  {% endwith %}
                  {% endfor %}
                </select>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="chunk--half">
        <div class="search-populated"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/{{ assets['dist/js/pages/election-lookup.js'] }}"></script>
<script>
var context = {
  districts: {{ districts | json | safe }}
};
</script>
{% endblock %}
