{% extends 'layouts/main.html' %}

{% block title %}
    {{ name }} - Filings
{% endblock %}

{% block body %}
<header class="page-header page-header--dark">
  <h1>Filings</h1>
</header>

<section class="results-content">
  <div class="container">
    <table id="results" data-type="filing-table" width="100%" class="responsive">
    <thead>
        <tr>
            <th scope="col">Link</th>
            <th scope="col">Filer</th>
            <th scope="col">Amendment Indicator</th>
            <th scope="col">Document Type</th>
            <th scope="col">Receipt Date</th>
            <th scope="col">Total Receipts</th>
            <th scope="col">Total Disbursement</th>
            <th scope="col">Total Independent Expenditures</th>
        </tr>
    </thead>
   </table>
  </div>
</section>

{% endblock %}

{% block scripts %}
  <script src="/static/js/vendor/tablist.js"></script>
{% endblock %}