{% extends 'layouts/main.html' %}

{% block title %}
    Browse filings
{% endblock %}

{% block body %}
<header class="page-header slab slab--primary">
  <h1 class="page-header__title">Filings</h1>
</header>

<section class="main__content--full">
  {% include 'partials/filings-filter.html' %}

  <div id="filings" class="datatable__container">
    {% include 'partials/filings-table.html' %}
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ asset_for('dist/js/pages/filings.js') }}"></script>
{% endblock %}
