{% extends 'layouts/main.html' %}

{% block title %}
  Browse independent expenditures
{% endblock %}

{% block body %}

<header class="page-header slab slab--primary">
  <h1 class="page-header__title">Independent expenditures</h1>
</header>

<section class="main__content--full">
  {% include 'partials/independent-expenditures-filter.html' %}
  <div class="data-container">
    <div class="data-container__widgets js-data-widgets"></div>
    <div id="candidates" class="data-container__body fade-in">
      {% include 'partials/independent-expenditures-table.html' %}
    </div>
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ asset_for('dist/js/pages/independent-expenditures.js') }}"></script>
{% endblock %}
