{% extends 'layouts/main.html' %}

{% block title %}
  Browse Donations
{% endblock %}

{% block body %}

<header class="page-header slab slab--primary">
  <h1>Receipts</h1>
</header>

<section class="main__content">
  {% include "partials/receipts-filter.html" %}
  <div id="committees" class="datatable__container">
    {% include 'partials/receipts-table.html' %}
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
<script src="/{{ assets['dist/js/pages/receipts.js'] }}"></script>
{% endblock %}
