{% extends 'layouts/main.html' %}

{% block title %}
  Browse Donations
{% endblock %}

{% block body %}

<header class="page-header page-header--dark">
  <h1><img width="32" height="32" class="category-icon" src="/static/img/icon-committee--white.svg" alt="Icon representing committees"> Receipts</h1>
</header>

<section class="results-content">
  {% include "partials/receipts-filter.html" %}
  <div id="committees" class="results-container">
    {% include 'partials/receipts-table.html' %}
  </div>
</section>

{% include 'partials/datatable-modal.html' %}

{% endblock %}

{% block scripts %}
<script src="/{{ assets['dist/js/pages/receipts.js'] }}"></script>
{% endblock %}
