{% extends "layouts/main.html" %}

{% block title %}
    Home 
{% endblock %}

{% block body %}
{% include "partials/search-bar.html" %}
<section class="page-section" aria-labelledby="browse-heading">
    <div class="container">
        <div class="page-section__intro">
            <h2 id="browse-heading">Get to Know the Data</h2>
            <p class="text--lead">Want to learn more about federal election data but aren’t sure exactly what you’re looking for? Start with a full set of data, then apply specific filters to find the information most relevant to you.</p>
            <p class="text--lead">OpenFEC currently has financial data for all candidates for federal office and profile information for other committees involved in federal races, and we will be adding more soon.</p>
        </div>
        <div class="card-grid">
            <div class="card">
                <h3><img src="/static/img/icon-candidate.svg" class="category-icon"  alt="Icon representing candidates">Candidates</h3>
                <p>Candidates are people who are running or have run for office. Active candidates have at least one committee they have authorized to raise and spend money on their behalf in elections. If a person has been a candidate for multiple offices (for example, they ran for the Senate one year and President another year), they will have a candidate page for each office sought.</p>
                <p><a href="/candidates">Browse all candidates &raquo;</a></p>
            </div>
            <div class="card card--icon">
                <h3><img class="category-icon" src="/static/img/icon-committee.svg" alt="Icon representing committees">Committees</h3>
                <p>There are many different types of committees involved in federal elections, and different types of committees have different fundraising and spending limitations and different requirements for reporting their activity. Committees can come in the form of an entity authorized by a candidate, a state or local political party, a non-party club or association or other group, and more.</p>
                <p>For a full definition, <a class="term" data-term="Committee (Full Definition)">click here</a>.</p>
                <p><a href="/committees">Browse all committees &raquo;</a></p>
            </div>
        </div>
    </div>
</section>

<section class="page-section section--gray" aria-labelledby="help-heading">
    <div class="container">
        <h2 id="help-heading">Need Help Understanding the Terms?</h2>
        <div class="chunk--half">
            <p class="text--lead">If you come across a technical word or phrase you don't understand, you may be able to find its definition in the glossary on this site. Simply click on the word to pull up its definition, or click on the question mark icon at the top of this page to open the glossary and search for a term.</p>
            <p class="text--lead">For example, click on this term to see its definition: <span class="term" data-term="principal campaign committee">Principal Campaign Committee</span></p>
        </div>
        <div class="chunk--half">
          <img class="image--framed" src="/static/img/glossary.jpg" alt="To use the glossary, click on the question mark icon in the menu.">
        </div>
    </div>
</section>
{% endblock %}
