<div class="message message--alert">
  <h2>We can't find any results for this ZIP code</h2>
  <p>Double-check that you entered it correctly, and if it still doesn't work, let us know:</p>
  <a href="mailto:18F-FEC@gsa.gov">Email us</a> or
  <a href="https://github.com/18f/openFEC/issues/new">open an issue in GitHub</a>.
</div>