<fieldset class="js-subcycle-select toggles">
  {{#each this}}
  <label>
    <input
        type="radio"
        name="cycle-toggle"
        value="{{this.max}}"
        class="panel-toggle-control"
        data-period="{{this.period}}"
        {{#if this.checked}}checked{{/if}}
      />
    <span class="button--neutral">
      {{#if this.period}}
      Full cycle:
      {{/if}}
      {{this.min}}–{{this.max}}
    </span>
  </label>
  {{/each}}
</fieldset>
