<fieldset class="js-subcycle-select toggles">
  <legend class="label">Time period:</legend>
  {{#each this}}
  <label>
    <input
        type="radio"
        name="cycle-toggle"
        value="{{max}}"
        data-period="{{period}}"
        {{#if checked}}checked{{/if}}
      />
    <span class="button--neutral">
      {{#if period}}
      Full cycle:
      {{/if}}
      {{min}}–{{max}}
    </span>
  </label>
  {{/each}}
</fieldset>
