$grid-columns: 24;

// Neat Breakpoints
$grid-columns: 24;

$small-screen: em(500);
$medium-screen: em(768);
$large-screen: em(980);

$large: new-breakpoint(min-width $large-screen 24);
$medium: new-breakpoint(min-width $medium-screen 12);
$small: new-breakpoint(min-width $small-screen 4);