@import "_bourbon/bourbon";
@import "_neat/neat";
@import "_base/base";
@import "_custom/layout";
@import "_custom/states";

body {
  padding: 0;
  margin: 0;
  min-width: em(1088);
}

// MODULE: USA Banner
.usa {
  background-color: #e6e6e6;
  text-align: center;
  font-size: .75rem;
  padding: .25rem;
}

// MODULE: Header

.site-header {
  border-bottom: 5px solid $red;
}

.site-header__inner {
  padding: em(20) 0;
}

// MODULE: Page nav
.page-nav {
  background-color: $licorice;
}

.page-nav {
  @extend %flat-list;
}

.page-nav__item {
  padding: 2rem;
  border-right: 1px solid $light-gray;
  color: #fff;
  display: block;
  font-size: 1.125rem;
  line-height: 2rem;
}

a.page-nav__item {
  @include transition(background-color .1s);

  &:hover {
    background-color: $licorice-2;
    color: #fff;
  }
}


.page-nav__search {
  @include span-columns(10);
  padding-left: 0;
  margin-right: 0;

  .search-bar,
  .search-submit {
    height: 2rem;
    margin-bottom: 0;
    border: none;
  }

  .search-submit {
    padding: 0;
  }
}


// MODULE: Hero Unit
.hero {
  padding: rem(80) 0;
  color: #fff;
  text-align: center;
  background-color: $licorice;
  background-image: url('../img/mesh@2x.png');
  background-size: contain;

}



// MODULE: Search bar

.search-bar {
  margin: 0;
  border: 0;
}

#large-search {
  label {
    margin-bottom: 2em;
  }
}

.search--large {
  @include span-columns(18);
  @include shift(3);

  .search-bar {
    padding: 1rem;
    font-size: 2rem;
    height: 4rem;

    @include placeholder {
      font-weight: 300;
    }
  }

  input[type="submit"] {
    padding: 1rem;
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
  }
}


// MODULE: Browse links
.sub-hero {
  text-align: center;
  padding: 3rem 0;
}

.browse-links {
  @extend %flat-list;
  @include span-columns(12);
  @include shift(6);
  padding: 1rem 0;

  li {
    @include span-columns(6 of 12);
    .button {
      display: block;
    }
  }
}


// MODULE: Data view
.data {
  padding: 3rem 0;
}

// MODULE: Filter box
.filter-box {
  margin-bottom: 2rem;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.filter-header-bar {
  position: relative;
  background-color: $light-gray;
  border-color: $medium-gray;
  border-style: solid;
  border-width: 1px;
  padding: .5rem 1rem;
  font-weight: 600;
}

.disclosure-toggle {
  background-color: $blue;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
  width: 45px;
  height: 100%;

  &:before {
    @include icon();
    content: "\e622"; // Minus icon
  }
}

.disclosure-toggle--closed {
  background-color: $blue;
  &:before {
    @include icon();
    content: "\e61a"; // Plus icon
  }
}


.filter-field-container {
  @include clearfix();
  border-color: $medium-gray;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 1rem;

  .field {
    @include span-columns(12);
    padding: 1rem 0;

    &:nth-child(even) {
      @include omega()
    }
  }
}

.field.active {
  label {
    color: $green;
  }

  .chosen-single {
    border: 2px solid $green;
  }
}


// MODULE: Table

.results-header {
  @include clearfix();
  padding-bottom: 1rem;

  h3 {
    @include span-columns(20)
  }

  .button {
    @include span-columns(4);
  }
}

#results {
  @include span-columns(24);
}


table {
  margin: 0;
  border: 1px solid $medium-gray;
}

tr {
  border: none;
  font-size: .875rem;
}

th {
  padding: .5rem;
  border-right: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
  font-weight: normal;

  &:last-child {
    border-right: none;
  }
}

td {
  padding: .5rem;
  border: none;
}

.flex-cell {
  white-space: nowrap; // Prevents text-wrapping
  width: 1%; // Setting this along with a fixed width on the table makes cells flexible
}


tr:nth-child(even) {
  background-color: $light-gray;
}

.sort-header {
  @include transition(background-color .1s);
  position: relative;
  background-color: #fff;
  color: $blue;
  cursor: pointer;

  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: #fff;

    &:after {
      color: #fff;
    }
  }

  &:after {
    position: absolute;
    right: .5rem;
    bottom: .75rem;
  }

  &.sort-up {
    &:after {
      @include icon();
      content: "\e62a";
    }
  }

  &.sort-down {
    &:after {
      @include icon();
      content: "\e627";
    }
  }
}


// MODULE: Meta box
// For things like pagination controls and chart controls

.meta-box {
  @include span-columns(24);
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: $meta-box-color;
  border: 1px solid $medium-gray;
}

.meta-box--bottom {
  margin-top: 2rem;
}

.results-count {
  @include span-columns(12);
  p {
    margin: 0;
  }
}

.pagination {
  @include span-columns(12);
  text-align: right;
}

.pagination__link {
  &:nth-child(2) {
    margin-left: 1rem;
  }
}

// MODULE: Alerts
.vex.vex-theme-default {
  background-color: rgba(#fff, .5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .vex-overlay {
    @include outer-container();
  }

  .vex-content {
    background-color: $licorice-2;
    color: #fff;
    border-left: 10px solid $red;
    border-radius: 0 $base-border-radius $base-border-radius 0;
    box-shadow: 0 0 2px 0px rgba(0,0,0,.5);
    font-size: 1.125rem;
    font-family: $sans-serif;
  }

  .vex-dialog-buttons {
    text-align: center;
  }

  .vex-dialog-button.vex-dialog-button-primary {
    @extend .primary;
    font-family: $sans-serif;
    width: 50%;
    display: inline-block;
    float: none;
  }

}

// MODULE: Progress bar
//
#progress {
  top: 2rem;
}

#nprogress {
  background: $light-gray;
  height: 10px;

  .bar {
    background: $green;
    height: 10px;
  }

  .peg {
    display: none;
  }
}

.nprogress-busy {
  #results,
  #filters,
  #candidates,
  #committees {
    @include transition(opacity .2s);
    opacity: .5;
  }
}
