* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
* Global mixins.
*/
/*
* Sets the font-size in rems with a px fallback.
*/
/*
* Parses a text value to an int.
*/
/*
* Sets the property to the values in rem, with a px fallback for old browsers.
*
* $property The css property to set the values on
* $values A list of rem values to set on the property.
*
* Example: @include rem(margin, 1rem 0 2rem);
*/
html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #515A61;
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.25;
  margin: 0 0 .25em 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 400; }

h2 {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 600; }

h3 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 600; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600; }

h5 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600; }

h6 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600; }

p {
  margin: 0 0 0.75;
  -webkit-margin-before: 0; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #2678BA;
  text-decoration: none;
  text-decoration: underline; }
  a:hover {
    color: #194f7a; }
  a:active, a:focus {
    color: #194f7a;
    outline: none; }
  a.link--delete {
    color: #DB4857; }
    a.link--delete:hover {
      color: #A13540; }
  a.link--learn {
    color: #148552; }
    a.link--learn:hover {
      color: #0F5E3B; }

.link--icon {
  text-decoration: none; }

hr {
  border-bottom: 1px solid #b3b3b3;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #b3b3b3;
  color: #74818b;
  margin: 1.5 0;
  padding-left: 0.75; }

cite {
  color: #909aa2;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

.text--lead {
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 0; }

.text--query {
  border-bottom: 1px solid #515A61; }

.text--note {
  font-style: italic; }

.data, .data--label, .data--content,
.data--link {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: #3E4957; }

.data--label {
  font-weight: bold; }

.data--note {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic; }

.data--display {
  font-size: 24px;
  font-size: 2.4rem;
  margin: 1em 0;
  padding: 0; }

fieldset {
  border: none;
  padding: 1em 0;
  margin: 1em 0; }

input,
label,
select {
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  font-family: Helvetica, arial, sans-serif; }

label {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 2em;
  margin-bottom: 0.375; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }
  label:first-child {
    margin-top: 0; }

label + textarea,
label + input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  margin: 0 0 1em 0; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  height: 40px;
  height: 4rem; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 1em 0;
  background-color: white;
  border-radius: 0.25em;
  border: 1px solid #b3b3b3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: Helvetica, arial, sans-serif;
  padding: 1em 1em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #9a9a9a; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #2678BA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 0 rgba(34, 106, 165, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375; }

input[type="file"] {
  margin-bottom: 0.75;
  padding-bottom: 0.5;
  width: 100%; }

select {
  width: auto;
  max-width: 100%; }

.input-button-combo:after {
  content: "";
  display: table;
  clear: both; }
.input-button-combo input[type="email"], .input-button-combo input[type="number"], .input-button-combo input[type="password"], .input-button-combo input[type="search"], .input-button-combo input[type="tel"], .input-button-combo input[type="text"], .input-button-combo input[type="url"], .input-button-combo input[type="color"], .input-button-combo input[type="date"], .input-button-combo input[type="datetime"], .input-button-combo input[type="datetime-local"], .input-button-combo input[type="month"], .input-button-combo input[type="time"], .input-button-combo input[type="week"] {
  width: 75%;
  float: left;
  border-radius: 0.25em 0 0 0.25em;
  margin: 0;
  border-right: none; }
.input-button-combo input[type="submit"],
.input-button-combo button,
.input-button-combo .button {
  height: 40px;
  height: 4rem;
  width: 25%;
  float: left;
  border-radius: 0 0.25em 0.25em 0; }
@media screen and (max-width: 48em) {
  .input-button-combo input[type="email"], .input-button-combo input[type="number"], .input-button-combo input[type="password"], .input-button-combo input[type="search"], .input-button-combo input[type="tel"], .input-button-combo input[type="text"], .input-button-combo input[type="url"], .input-button-combo input[type="color"], .input-button-combo input[type="date"], .input-button-combo input[type="datetime"], .input-button-combo input[type="datetime-local"], .input-button-combo input[type="month"], .input-button-combo input[type="time"], .input-button-combo input[type="week"] {
    width: 60%;
    float: left;
    border-radius: 0.25em 0 0 0.25em; }
  .input-button-combo input[type="submit"] {
    width: 40%;
    float: left;
    border-radius: 0 0.25em 0.25em 0; } }

.form {
  background: #FBFBFD;
  border: 1px solid #b3b3b3;
  padding: 2em;
  margin: 2em 0; }

.form__group {
  margin: 1em 0; }
  .form__group label {
    margin-top: 0; }

table {
  background-color: #fff;
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll; }

thead tr:hover {
  background-color: #fff; }

th {
  padding: .5em;
  border-right: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
  text-align: left;
  font-weight: normal; }
  th:last-child {
    border-right: none; }

tr, td, th {
  vertical-align: middle; }

tr {
  font-size: 14px;
  font-size: 1.4rem;
  border: none; }
  tr:nth-child(even) {
    background-color: #F8F8F8; }
  tr:hover {
    background: rgba(38, 120, 186, 0.1); }

td {
  padding: .5em;
  border: none; }

.flex-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30%; }

.sort-header {
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  transition: background-color 0.1s;
  position: relative;
  background-color: #fff;
  color: #2678BA;
  cursor: pointer;
  border-bottom: 2px solid #2678BA; }
  .sort-header:hover {
    background-color: #2678BA;
    border-color: #2678BA;
    color: #fff; }
    .sort-header:hover:after {
      color: #fff; }
  .sort-header:after {
    position: absolute;
    right: .5em;
    bottom: .75em; }
  .sort-header.sort-up:after {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e62a"; }
  .sort-header.sort-down:after {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e627"; }

.table__row {
  border-bottom: 1px solid #D7D7D7; }
  .table__row:after {
    content: "";
    display: table;
    clear: both; }

.table__cell {
  padding: 0 10px;
  padding: 0 1rem;
  float: left; }
  .table__cell:last-child {
    float: right; }

.table__row--note {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 0 10px;
  padding: 0 1rem;
  width: 100%;
  padding: .5em 1em;
  font-style: italic;
  display: block; }

.table__row--total {
  font-weight: bold;
  margin-top: 1em; }

.table__half {
  width: 48%;
  float: left; }
  .table__half:last-child {
    margin-left: 2%; }

.table--simple {
  width: 100%;
  border: none; }
  .table--simple tr {
    background: none; }
  .table--simple th,
  .table--simple td,
  .table--simple .table__cell {
    padding: .5em 1em;
    border-right: none; }
  .table--simple th,
  .table--simple .table__header {
    font-weight: bold;
    border-bottom: 1px solid #515A61; }
  .table--simple td,
  .table--simple .table__row {
    border-bottom: 1px solid #D7D7D7; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.flat-list:after, .browse-links:after, .header-nav__list:after, .results-count:after {
  content: "";
  display: table;
  clear: both; }
.flat-list li, .browse-links li, .header-nav__list li, .results-count li {
  float: left; }

dl {
  margin-bottom: 0.75; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75; }
  dl dd {
    margin: 0; }

button,
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  transition: background-color 0.1s;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #F8F8F8;
  border-radius: 0.25em;
  border: 1px solid #F8F8F8;
  display: inline-block;
  color: #515A61;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid #b3b3b3; }
  button:hover,
  .button:hover {
    background-color: #b3b3b3;
    color: #fff;
    border: 1px solid #b3b3b3; }
  button:active, button:focus,
  .button:active,
  .button:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none; }
  button.disabled,
  .button.disabled {
    color: #D3D3D3;
    cursor: default; }
    button.disabled:hover,
    .button.disabled:hover {
      color: #D3D3D3;
      background-color: #F8F8F8; }

.button--selected {
  background-color: #b3b3b3;
  color: #fff;
  border: 1px solid #b3b3b3; }

input[type="submit"],
.primary,
.vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  transition: background-color 0.1s;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #2678BA;
  border-radius: 0.25em;
  border: 1px solid #2678BA;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="submit"]:hover,
  .primary:hover,
  .vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary:hover {
    background-color: #1B5585;
    color: #fff;
    border: 1px solid #1B5585; }
  input[type="submit"]:active, input[type="submit"]:focus,
  .primary:active,
  .vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary:active,
  .primary:focus,
  .vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none; }
  input[type="submit"].disabled,
  .primary.disabled,
  .vex.vex-theme-default .disabled.vex-dialog-button.vex-dialog-button-primary {
    color: #D3D3D3;
    cursor: default; }
    input[type="submit"].disabled:hover,
    .primary.disabled:hover,
    .vex.vex-theme-default .disabled.vex-dialog-button.vex-dialog-button-primary:hover {
      color: #D3D3D3;
      background-color: #2678BA; }
  input[type="submit"]:active,
  .primary:active,
  .vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary:active {
    background-color: #1B5585; }

.button--group {
  display: inline-block; }
  .button--group .button {
    border-radius: 0;
    margin-left: -4px; }
    .button--group .button:first-child {
      border-top-left-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
      border-right: none;
      margin-left: 0; }
    .button--group .button:last-child {
      border-top-right-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
      border-left: none; }

.color-primary {
  background-color: #2678BA; }
  .color-primary:hover {
    background-color: #1B5585; }

.color-error {
  background-color: #DB4857; }
  .color-error:hover {
    background-color: #A13540; }

.color-activity {
  background-color: #148552; }
  .color-activity:hover {
    background-color: #0F5E3B; }

.color-support {
  background-color: #1B5585; }
  .color-support:hover {
    background-color: #103552; }

.color-oppose {
  background-color: #A9205C; }
  .color-oppose:hover {
    background-color: #6B143B; }

.color-receipt {
  background-color: #148552; }
  .color-receipt:hover {
    background-color: #0d5937; }

.color-disbursement {
  background-color: #DB4857; }
  .color-disbursement:hover {
    background-color: #c92738; }

.color-cash {
  background-color: #158552; }
  .color-cash:hover {
    background-color: #0e5937; }

.color-debt {
  background-color: #323A45; }
  .color-debt:hover {
    background-color: #1d2127; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-float-right {
  float: right; }

.u-float-left {
  float: left; }

.u-fixed {
  position: fixed; }

.u-hidden {
  display: none; }

.vex.vex-theme-default {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  .vex.vex-theme-default .vex-overlay {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .vex.vex-theme-default .vex-overlay:after {
      content: "";
      display: table;
      clear: both; }
  .vex.vex-theme-default .vex-content {
    font-size: 18px;
    font-size: 1.8rem;
    background-color: #323A45;
    color: #fff;
    border-left: 10px solid #DB4857;
    border-radius: 0 0.25em 0.25em 0;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);
    font-family: Helvetica, arial, sans-serif; }
  .vex.vex-theme-default .vex-dialog-buttons {
    text-align: center; }
  .vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary {
    font-family: Helvetica, arial, sans-serif;
    width: 50%;
    display: inline-block;
    float: none; }

.browse-links {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 49.41745%;
  margin-left: 25.29127%;
  padding: 15px 0;
  padding: 1.5rem 0; }
  .browse-links:last-child {
    margin-right: 0; }
  .browse-links li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .browse-links li:last-child {
      margin-right: 0; }
    .browse-links li .button {
      display: block; }

@media screen and (max-width: 48em) {
  .browse-links {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%; }
    .browse-links:last-child {
      margin-right: 0; }
    .browse-links li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .browse-links li:last-child {
        margin-right: 0; } }
@media screen and (max-width: 30em) {
  .browse-links li {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .browse-links li:last-child {
      margin-right: 0; }
    .browse-links li:first-child {
      margin-bottom: 1em; } }
.filter-box {
  margin-bottom: 2em;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }

.filter-header-bar {
  position: relative; }

.disclosure-title {
  background-color: #F8F8F8;
  border-color: #D7D7D7;
  border-style: solid;
  border-width: 1px;
  padding: .5em 1em;
  font-weight: 600; }

.disclosure-toggle {
  background-color: #2678BA;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
  width: 45px;
  height: 100%; }
  .disclosure-toggle:before {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e622";
    position: absolute;
    top: 25%;
    left: 35%; }

.disclosure-toggle--closed {
  background-color: #2678BA; }
  .disclosure-toggle--closed:before {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e61a"; }

.disclosure__inner {
  padding: 10px;
  padding: 1rem;
  border-color: #D7D7D7;
  border-style: solid;
  border-width: 0 1px 1px 1px; }
  .disclosure__inner:after {
    content: "";
    display: table;
    clear: both; }

.field.active label {
  color: #148552; }
.field.active .chosen-single {
  border: 2px solid #148552; }

.field {
  margin-bottom: 1.25em; }
  .field select {
    width: 100%;
    height: 40px; }

.side-toggle {
  padding: 10px;
  padding: 1rem;
  -webkit-transition: background-color, 0.1s;
  -moz-transition: background-color, 0.1s;
  transition: background-color, 0.1s;
  border-radius: 0;
  background: none;
  border-width: 0 1px 0 0;
  border-color: #BDC4CD;
  border-style: solid;
  color: #fff; }
  .side-toggle:hover, .side-toggle:active {
    color: #3E4957;
    background-color: #BDC4CD;
    border-width: 0 1px 0 0;
    border-color: #BDC4CD;
    border-style: solid; }

.side--open .side-toggle {
  background-color: #BDC4CD;
  color: #3E4957; }
.side--open .results-container {
  left: 20%; }
.side--open .side-panel {
  left: 0; }

.side-panel {
  -webkit-transition: left, 0.2s;
  -moz-transition: left, 0.2s;
  transition: left, 0.2s;
  padding: 1.25em;
  background: #BDC4CD;
  position: absolute;
  left: -100%;
  width: 20%;
  float: left; }

.usa {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
  padding: .5em;
  border-bottom: 1px solid #3E4957; }

.site-header {
  background: #323A45;
  color: #fff; }
  .site-header a {
    color: #fff; }

.header-nav:after {
  content: "";
  display: table;
  clear: both; }

.header-nav__list {
  float: left; }

.header-nav__link {
  padding: 10px 20px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-size: 1.8rem;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  transition: background-color 0.1s;
  text-align: center;
  display: block;
  line-height: 2;
  text-decoration: none; }
  .header-nav__link:hover, .header-nav__link:active {
    background: #3E4957;
    color: #fff; }

.header-nav__brand {
  padding: 10px 20px;
  padding: 1rem 2rem;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  transition: background-color 0.1s;
  background-color: #DB4857;
  display: block;
  text-align: center;
  position: relative; }
  .header-nav__brand:after {
    content: '';
    -webkit-transition: border-color 0.1s;
    -moz-transition: border-color 0.1s;
    transition: border-color 0.1s;
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 28px 0 28px 10px;
    border-color: transparent transparent transparent #DB4857; }
  .header-nav__brand:hover, .header-nav__brand:active {
    background: #A13540; }
    .header-nav__brand:hover:after, .header-nav__brand:active:after {
      border-color: transparent transparent transparent #A13540; }

.header-nav__search {
  padding: 10px 20px;
  padding: 1rem 2rem;
  float: right;
  margin-right: 0;
  width: 340px; }
  .header-nav__search:after {
    content: "";
    display: table;
    clear: both; }
  .header-nav__search input[type="text"],
  .header-nav__search button {
    height: 32px;
    height: 3.2rem;
    margin-bottom: 0;
    border: none; }
  .header-nav__search input[type="text"] {
    width: 260px; }
  .header-nav__search .search-submit {
    width: 40px;
    padding: 0; }

@media screen and (max-width: 48em) {
  .header-nav__link {
    padding: 5px;
    padding: 0.5rem; }
    .header-nav__link:last-child {
      border-right: none; }

  .header-nav__search {
    padding: 5px;
    padding: 0.5rem; } }
@media screen and (max-width: 30em) {
  .header-nav__item {
    float: left;
    display: block;
    width: 53.71149%; }
    .header-nav__item:last-child {
      width: 46.28851%; }

  .header-nav__search {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    padding: 5px 0 0 0;
    padding: 0.5rem 0 0 0;
    border-right: none; }
    .header-nav__search:last-child {
      margin-right: 0; } }
.hero {
  padding: 5em 0;
  color: #fff;
  text-align: center;
  background-color: #505E70;
  background-image: url("../img/mesh@2x.png");
  background-size: contain; }

.sub-hero {
  text-align: center;
  padding: 3em 0; }

@media screen and (max-width: 30em) {
  .hero {
    padding: 2em 0; } }
.meta-box {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 100%;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #FBFBFD;
  border: 1px solid #D7D7D7; }
  .meta-box:last-child {
    margin-right: 0; }

.meta-box--bottom {
  margin-top: 2em; }

#progress {
  top: 2em; }

#nprogress {
  background: #D7D7D7;
  height: 10px; }
  #nprogress .bar {
    background: #148552;
    height: 10px; }
  #nprogress .peg {
    display: none; }

.nprogress-busy #results,
.nprogress-busy #filters,
.nprogress-busy #candidates,
.nprogress-busy #committees {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: .5; }

.search-bar {
  margin: 0;
  border: 0; }

#large-search label {
  margin-bottom: 2em; }

.search--large {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 74.70873%;
  margin-left: 12.64564%; }
  .search--large:last-child {
    margin-right: 0; }
  .search--large .search-bar {
    font-size: 32px;
    font-size: 3.2rem;
    height: 70px;
    height: 7rem; }
    .search--large .search-bar::-webkit-input-placeholder {
      font-weight: 300; }
    .search--large .search-bar::-moz-placeholder {
      font-weight: 300; }
    .search--large .search-bar:-moz-placeholder {
      font-weight: 300; }
    .search--large .search-bar:-ms-input-placeholder {
      font-weight: 300; }
  .search--large button {
    font-size: 32px;
    font-size: 3.2rem;
    height: 70px;
    height: 7rem;
    padding: .5em;
    font-weight: 300; }
    .search--large button i {
      font-size: .75em; }

@media screen and (max-width: 48em) {
  .search--large {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%; }
    .search--large:last-child {
      margin-right: 0; } }
.tt-dropdown-menu {
  font-size: 14px;
  font-size: 1.4rem;
  background: #fff;
  top: 32px !important;
  width: 75% !important;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #D7D7D7; }

#large-search .tt-dropdown-menu {
  font-size: 16px;
  font-size: 1.6rem;
  top: 70px !important; }

.tt-dropdown-title {
  display: block;
  color: #fff;
  padding: 5px 20px;
  background: #515A61; }

.tt-suggestions {
  color: #000; }

.tt-suggestion {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 0;
  line-height: 1;
  border-bottom: 1px solid #D7D7D7; }
  .tt-suggestion:after {
    content: "";
    display: table;
    clear: both; }

.tt-suggestion__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  float: left;
  width: 65%; }

.tt-suggestion__office {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: right;
  display: block;
  width: 35%;
  float: right;
  color: #515A61;
  font-style: italic; }

.tt-cursor {
  cursor: pointer;
  background: #2678BA;
  color: #fff; }
  .tt-cursor .tt-suggestion__office {
    color: #fff; }

section[aria-hidden="true"],
.hidden {
  display: none; }

.entity__header--top {
  padding-top: 20px;
  padding-top: 2rem; }

.entity__name {
  font-size: 31px;
  font-size: 3.1rem; }

.entity__type {
  font-size: 20px;
  font-size: 2rem; }

.time-period {
  float: right; }
  .time-period label {
    display: inline-block; }
  .time-period .chosen-container {
    width: auto; }
  .time-period .chosen-container-single .chosen-single {
    font-size: 14px;
    font-size: 1.4rem;
    display: inline-block;
    width: 150px;
    height: 32px;
    line-height: 32px; }

.entity__info {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 1.25em 0;
  width: 100%; }
  .entity__info:after {
    content: "";
    display: table;
    clear: both; }
  .entity__info h4 {
    color: #fff;
    font-weight: normal;
    border-bottom: 1px solid #3E4957; }
  .entity__info dl {
    margin: 0; }

.entity__term {
  float: left;
  display: block;
  width: 16.86085%; }
  .entity__term:last-child {
    width: 15.69576%; }

.entity__term--wide {
  float: left;
  display: block;
  width: 33.7217%; }
  .entity__term--wide:last-child {
    width: 32.55661%; }

.entity__term--extra-wide {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 66.2783%; }
  .entity__term--extra-wide:last-child {
    margin-right: 0; }

.entity__related-entities dl {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 49.12106%; }
  .entity__related-entities dl:last-child {
    margin-right: 0; }
.entity__related-entities dd {
  font-size: 14px;
  font-size: 1.4rem; }

.committee-summary:after {
  content: "";
  display: table;
  clear: both; }
.committee-summary .row {
  margin-bottom: 30px;
  margin-bottom: 3rem; }
.committee-summary .quick-links {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 24.12618%; }
  .committee-summary .quick-links:last-child {
    margin-right: 0; }
.committee-summary .totals-table {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 74.70873%; }
  .committee-summary .totals-table:last-child {
    margin-right: 0; }
.committee-summary .chart--c-d,
.committee-summary .chart--r-d {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 100%; }
  .committee-summary .chart--c-d:last-child,
  .committee-summary .chart--r-d:last-child {
    margin-right: 0; }

.totals-table {
  font-size: 16px;
  font-size: 1.6rem; }
  .totals-table .table__cell:first-child {
    font-weight: bold; }

.page-tabs {
  background: #505E70;
  text-align: left;
  padding: 0; }

.page-tabs__title {
  padding: 10px 20px;
  padding: 1rem 2rem;
  float: left;
  color: #fff; }

.page-tabs__item {
  display: inline-block;
  margin-left: -4px; }
  .page-tabs__item a {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 10px 20px;
    padding: 1rem 2rem;
    color: #fff;
    display: block;
    border-right: 1px solid #fff;
    text-decoration: none; }
    .page-tabs__item a[aria-selected="true"] {
      background-color: #fff;
      color: #323A45; }
  .page-tabs__item:first-child a {
    border-left: 1px solid #fff; }

figure {
  margin: 0; }
  figure figcaption {
    margin-bottom: 1em; }

.figure-group {
  -webkit-transition: height, 0.5s;
  -moz-transition: height, 0.5s;
  transition: height, 0.5s;
  clear: both;
  border: 1px solid #505E70;
  position: relative; }
  .figure-group:after {
    content: "";
    display: table;
    clear: both; }
  .figure-group .js-reveal {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -62px; }

.figure-group__side {
  background-color: #505E70;
  width: 1.875em;
  padding: .3125em;
  position: absolute;
  height: 100%; }

.figure-group__main {
  padding-left: 1.875em; }

.figure-group__header {
  padding: 20px 20px;
  padding: 2rem 2rem;
  border-bottom: 1px solid #D7D7D7; }
  .figure-group__header:after {
    content: "";
    display: table;
    clear: both; }

.figure-group__title {
  margin: 0; }

.figure-group__description {
  font-size: 14px;
  font-size: 1.4rem; }

.figure-group__inner {
  padding: 20px 20px;
  padding: 2rem 2rem; }

.figure-group__graphic {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 66.2783%; }
  .figure-group__graphic:last-child {
    margin-right: 0; }

.figure-group__controls {
  margin-bottom: 0; }
  .figure-group__controls input[type="checkbox"] {
    display: inline-block; }
  .figure-group__controls label {
    display: inline-block; }
  .figure-group__controls .controls--slider {
    margin-top: 1em; }

.figure__title {
  border-bottom: 1px solid #b3b3b3; }

.finance-table .table__row {
  border-bottom: 1px dashed #b3b3b3;
  padding: 1em 0; }
.finance-table .table__row--note {
  padding-top: 1em; }

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.2.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2014 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #1B5585;
  border-top: 0;
  background: #fff; }

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0; }

.chosen-container a {
  cursor: pointer; }

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 40px;
  border: 1px solid #2678BA;
  border-radius: 4px;
  background: #fff;
  text-decoration: none !important;
  white-space: nowrap;
  line-height: 40px;
  box-shadow: none; }

.chosen-container-single .chosen-default {
  color: #999; }

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px; }

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 14px;
  right: 50px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px; }

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px; }

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px; }

.chosen-container-single .chosen-single div {
  background: #2678BA;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 100%; }

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background: none; }
  .chosen-container-single .chosen-single div b:after {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e64b";
    color: #fff;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    font-size: 1em; }

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap; }

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #fff;
  background: #fff;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0; }

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
  background: #1B5585; }

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px; }

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #fff;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  max-height: 240px;
  -webkit-overflow-scrolling: touch; }

.chosen-container .chosen-results li {
  font-size: 1em;
  display: none;
  margin: 0;
  padding: 1em;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none; }

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer; }

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default; }

.chosen-container .chosen-results li.highlighted {
  background: #2678BA;
  color: #fff; }

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4; }

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default; }

.chosen-container .chosen-results li.group-option {
  padding-left: 15px; }

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline; }

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text; }

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none; }

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0; }

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default; }

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666; }

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4; }

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0; }

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default; }

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #1B5585; }

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #1B5585;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
  background: #fff; }

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: #1B5585; }

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px; }

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important; }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default; }

.chosen-disabled .chosen-single {
  cursor: default; }

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default; }

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right; }

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0; }

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl; }

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px; }

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px; }

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px; }

.chosen-rtl .chosen-choices li {
  float: right; }

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl; }

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px; }

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px; }

.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px; }

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0; }

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0; }

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none; }

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: #fff;
  direction: rtl; }

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px; }

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px; }

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr {
    background-image: url("../img/chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important; }

  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: none !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important; } }
/* @end */
.divider--primary {
  border-bottom: 1px solid #515A61;
  padding: 20px 0;
  padding: 2rem 0; }

.divider--secondary {
  border-bottom: 1px dashed #b3b3b3;
  padding: 20px 0;
  padding: 2rem 0; }

.error-container {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 74.70873%;
  margin-left: 12.64564%;
  padding: 2.5em;
  margin-bottom: 0;
  text-align: center; }
  .error-container:last-child {
    margin-right: 0; }

.error-container__bottom {
  margin-top: 1.25em;
  padding: 1.25em 0 0;
  border-top: 1px solid #D7D7D7; }

.error-nav {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 74.70873%;
  margin-left: 12.64564%;
  padding: 1.25em 0; }
  .error-nav:last-child {
    margin-right: 0; }

.page-header {
  padding: 10px 20px;
  padding: 1rem 2rem;
  background: #505E70;
  color: #fff; }
  .page-header h1 {
    margin-bottom: 0; }
  .page-header a,
  .page-header a:hover,
  .page-header a:active {
    color: #fff; }

.page-controls {
  background: #505E70;
  border-top: 1px solid #BDC4CD;
  width: 100%;
  color: #fff; }

.controls--fixed .page-controls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }
.controls--fixed .page-controls__top {
  display: block; }

.page-controls__top {
  padding: 10px;
  padding: 1rem;
  display: none;
  border-bottom: 1px solid #3E4957; }

.page-controls__title {
  font-size: 16px;
  font-size: 1.6rem; }

.results-count {
  float: right; }
  .results-count li {
    padding: 10px 20px;
    padding: 1rem 2rem;
    line-height: 1.14; }
  .results-count p {
    margin: 0; }
  .results-count a {
    color: #fff; }

.pagination {
  text-align: right;
  float: right; }

.pagination__link:nth-child(2) {
  margin-left: 1em; }

.category-icon {
  margin-right: 10px;
  margin-right: 1.0rem;
  vertical-align: text-bottom; }

footer {
  height: 100px;
  height: 10rem;
  padding: 2em;
  background-color: #323A45;
  color: #fff; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer a,
  footer a:hover,
  footer a:active {
    color: #fff; }

.footer__left {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 49.41745%; }
  .footer__left:last-child {
    margin-right: 0; }
  .footer__left img {
    margin-right: 1.25em; }

.footer__right {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 49.41745%;
  text-align: right; }
  .footer__right:last-child {
    margin-right: 0; }

.footer__nav li {
  display: inline-block;
  padding: 0 .625em; }

.data--disbursements {
  background: #DB4857; }

.data--receipts {
  background: #148552; }

.data--cash,
.data--cash_on_hand {
  background: #158552; }

.data--debt,
.data--debts_owed {
  background: #323A45; }

.chart-series:not(.chart-series--horizontal) {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
  margin: 1em 0; }
  .chart-series:not(.chart-series--horizontal) .chart-series__bar {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    margin-left: 1em; }
    .chart-series:not(.chart-series--horizontal) .chart-series__bar:first-of-type {
      margin-left: 0; }
  .chart-series:not(.chart-series--horizontal) .chart-series__group {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    margin-left: 1em; }
    .chart-series:not(.chart-series--horizontal) .chart-series__group:first-of-type {
      margin-left: 0; }
    .chart-series:not(.chart-series--horizontal) .chart-series__group .chart-series__bar + .chart-series__bar {
      margin-left: .5em; }
  .chart-series:not(.chart-series--horizontal) .chart-series__bar__label,
  .chart-series:not(.chart-series--horizontal) .chart-series__bar__value {
    display: none; }

.styleguide .site-header {
  padding: 2em 0;
  background: #323A45;
  color: #fff;
  border: none; }

.styles {
  padding: 2em 0; }
  .styles:after {
    content: "";
    display: table;
    clear: both; }

h1.styles__heading {
  margin: 2rem 0;
  padding: 1rem 2rem;
  font-size: 4em;
  background: #D4D4D4;
  color: #fff; }

h2.styles__heading {
  color: #d4d4d4;
  padding: 4rem 0 0; }
  h2.styles__heading:first-child {
    padding-top: 0; }

h3.styles__heading {
  color: #d4d4d4;
  margin: 1em 0 .5em; }

.swatch {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  float: left;
  text-align: center;
  padding: 40px 0;
  color: #fff; }
  .swatch:last-child {
    margin-right: 0; }

.icon-list i {
  margin-right: 20px; }
.icon-list li {
  margin-bottom: 1em; }

.results-header {
  padding-bottom: 1em; }
  .results-header:after {
    content: "";
    display: table;
    clear: both; }
  .results-header h3 {
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 83.13915%; }
    .results-header h3:last-child {
      margin-right: 0; }
  .results-header .button {
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 15.69576%; }
    .results-header .button:last-child {
      margin-right: 0; }

.results-content {
  background-color: #BDC4CD;
  width: 100%;
  overflow: hidden; }
  .results-content:after {
    content: "";
    display: table;
    clear: both; }

.results-container {
  padding: 10px;
  padding: 1rem;
  -webkit-transition: left, 0.2s;
  -moz-transition: left, 0.2s;
  transition: left, 0.2s;
  background: #fff;
  position: relative;
  width: 100%;
  left: 0;
  height: 100%; }

* {
  margin: 0; }

body,
html {
  height: 100%; }

body {
  padding: 0;
  margin: 0; }

.page-wrap {
  min-height: 100%; }
  .page-wrap:after {
    content: "";
    display: block; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.row {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 100%; }
  .row:last-child {
    margin-right: 0; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (max-width: 48em) {
  .container {
    padding-left: 1em;
    padding-right: 1em; } }
.chunk--half {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 49.41745%; }
  .chunk--half:last-child {
    margin-right: 0; }
  .chunk--half:nth-child(even) {
    margin-right: 0; }
  @media screen and (max-width: 48em) {
    .chunk--half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .chunk--half:last-child {
        margin-right: 0; } }

.chunk--third {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 32.55661%; }
  .chunk--third:last-child {
    margin-right: 0; }
  @media screen and (max-width: 48em) {
    .chunk--third {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-top: 1em; }
      .chunk--third:last-child {
        margin-right: 0; } }

.chunk--two-thirds {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 66.2783%; }
  .chunk--two-thirds:last-child {
    margin-right: 0; }

.page-section {
  padding: 40px 0;
  padding: 4rem 0; }

.page-subsection {
  border-bottom: 1px solid #515A61;
  padding: 40px 0;
  padding: 4rem 0; }
  .page-subsection:after {
    content: "";
    display: table;
    clear: both; }
  .page-subsection:last-of-type {
    padding-bottom: 0;
    border-bottom: none; }
  .page-subsection:first-of-type {
    padding-top: 0; }

.page-sub-subsection {
  border-bottom: 1px dashed #b3b3b3;
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 100%;
  padding: 20px 0;
  padding: 2rem 0; }
  .page-sub-subsection:last-child {
    margin-right: 0; }
  .page-sub-subsection:after {
    content: "";
    display: table;
    clear: both; }
  .page-sub-subsection:first-of-type {
    padding-top: 0; }
  .page-sub-subsection:last-of-type {
    padding-bottom: 0;
    border-bottom: none; }

/*# sourceMappingURL=styles.css.map */
