{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/typeahead-filter.html' as typeahead %}
{% import 'macros/filters/years.html' as years %}

{% block filters %}
<div class="filters__inner">
  {{ typeahead.field('q', 'Candidate name or ID', '', dataset='candidates', allow_text=True) }}
  {{ years.years('election_year', 'Election year') }}
  {% include 'partials/filters/office-sought.html' %}
  {% include 'partials/filters/parties.html' %}
  {{ states.field('state') }}
  {% include 'partials/filters/districts.html' %}
  <div class="filter">
    <fieldset class="js-filter">
      <legend class="label">Candidate status</legend>
      <ul>
        <li>
          <input id="cycle-checkbox-five-thousand" name="five_thousand_flag" type="checkbox" value="true">
          <label for="cycle-checkbox-five-thousand">Has raised more $5,000</label>
        </li>
      </ul>
    </fieldset>
  </div>

</div>
{% endblock %}
