<div id="filters" class="filters">
  <button class="js-filter-close filters__close button--close--primary">
    <span class="u-visually-hidden">Close</span>
  </button>
  <div class="filters__hider">
    <h2 class="filter__header filters__inner">
      {% block heading %}
      Filter {{ result_type }}
      {% endblock %}
    </h2>
    <form id="category-filters">
      <div class="filters__inner">
        {% block message %}{% endblock %}
      </div>
      {% block filters %}{% endblock %}
    </form>
  </div>
</div>
