{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/typeahead-filter.html' as typeahead %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/years.html' as years %}
{% import 'macros/filters/date.html' as date %}
{% import 'macros/filters/range.html' as range %}

{% block heading %}
Filter independent expenditures
{% endblock %}

{% block data_type_toggle %}
  {% include 'partials/filters/efiling.html' %}
{% endblock %}

{% block efiling_filters %}
<div class="filters__inner">
  {{ typeahead.field('committee_id', 'Spender name or ID', '') }}
  {% include 'partials/filters/ie-report-type.html' %}
  {% include 'partials/filters/ie-form-type.html' %}
  {{ text.field('candidate', 'Candidate mentioned')}}
  {% include 'partials/filters/support-oppose.html' %}
  {{ date.field('expenditure_date', 'Expenditure date', dates) }}
</div>
{% endblock %}

{% block filters %}
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="false">
  <div class="filters__inner">
    {{ typeahead.field('committee_id', 'Spender name or ID') }}
    {{ years.years('cycle', 'Years') }}
    {% include 'partials/filters/ie-report-type.html' %}
    {% include 'partials/filters/ie-form-type.html' %}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Candidate mentioned</button>
  <div class="accordion__content">
    {{ typeahead.field('candidate_id', 'Candidate', dataset='candidates') }}
    {% include 'partials/filters/support-oppose.html' %}
  </div>

  <button type="button" class="js-accordion-trigger accordion__button">Transaction information</button>
  <div class="accordion__content">
    {{ text.field('payee_name', 'Payee') }}
    {{ range.amount('amount', 'Expenditure amount') }}
    {{ date.field('date', 'Expenditure date', dates ) }}
  </div>
</div>
{% endblock %}
