{% set description =
  "Explore federal campaign finance data with betaFEC, a new site where users can see how much money is raised and spent in federal elections. An official U.S. Government site, betaFEC is a Federal Election Commission project, designed in partnership with 18F."
%}


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ description }}">

<!-- Mobile Specific Metas
================================================== -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- Twitter
================================================== -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title | trim }} - betaFEC">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ url_for('static', filename=['img/social/', parent, '.png']|join, _external=True) }}">

<!-- Facebook
================================================== -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ canonical_url() }}" />
<meta property="og:title" content="{{ title | trim }} - betaFEC" />
<meta property="og:site_name" content="betaFEC" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ url_for('static', filename=['img/social/', parent, '.png']|join, _external=True) }}" />

<!-- Google
================================================== -->
<link rel="canonical" href="{{ canonical_url() }}">

<!-- Favicons
================================================== -->
{% for dimension in ['57x57', '72x72', '114x114', '120x120', '144x144', '152x152'] %}
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ url_for('static', filename=['img/favicon/', parent, '/apple-touch-icon-', dimension, '.png'] | join) }}" />
{% endfor %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}" sizes="16x16" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" href="{{ url_for('static', filename=['img/favicon/', parent, '/mstile-144x144.png'] | join) }}" />
