<nav class="site-nav js-site-nav">
  <button for="nav-toggle" class="js-nav-toggle site-nav__button site-nav__button--left" aria-controls="site-menu">Menu</button>
  <ul id="site-menu" class="site-nav__list">
    <li class="site-nav__item site-nav__item--with-dropdown js-sublist-parent">
      <a href="{{ url_for('search') }}" class="site-nav__link is-current">Campaign finance data</a>
      <button class="site-nav__link site-nav__toggle js-sublist-toggle">Campaign finance data</button>
      <ul class="site-nav__dropdown">
        <li class="site-nav__item">
          <a class="t-bold site-nav__link" href="{{ url_for('search') }}">Campaign finance data home</a>
        </li>
        <li class="t-bold site-nav__subtitle">Browse:</li>
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__sublink" href="{{ url_for('candidates', election_year=default_cycles) }}">Candidates</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__sublink" href="{{ url_for('committees', cycle=default_cycles) }}">Committees</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__sublink" href="{{ url_for('filings') }}">Filings</a>
        </li>
        <li class="site-nav__item">
          <a
              class="site-nav__link site-nav__sublink"
              href="{{ url_for('receipts', is_individual='true', max_date=today() | date(fmt='%m-%d-%Y')) }}"
            >Receipts</a>
        </li>
        <li class="site-nav__item">
          <a
              class="site-nav__link site-nav__sublink"
              href="{{ url_for('disbursements', max_date=today() | date(fmt='%m-%d-%Y')) }}">
            Disbursements</a>
        </li>
        <li class="site-nav__item">
          <a
              class="site-nav__link site-nav__sublink site-nav__sublink--last"
              href="{{ url_for('independent_expenditures', max_date=today() | date(fmt='%m-%d-%Y')) }}">
            Independent expenditures</a>
        </li>
        <li class="site-nav__item">
          <a class="t-bold site-nav__link" href="{{ url_for('election_lookup') }}">Find candidates by location</a>
        </li>
      </ul>
    </li>
    <li class="site-nav__item">
      <a href="{{ cms_url }}/registration-and-reporting" class="site-nav__link">Registration and reporting</a>
    </li>
    <li class="site-nav__item">
      <a href="{{ cms_url }}/calendar" class="site-nav__link">Calendar</a>
    </li>
    <li class="site-nav__item is-disabled">
      <a href="#" class="site-nav__link" tabindex="-1">(Page TBD)</a>
    </li>
    <li class="site-nav__item is-disabled">
      <a href="#" class="site-nav__link" tabindex="-1">(Page TBD)</a>
    </li>
    <li class="site-nav__item utility-nav__item is-disabled">
      <a href="#" class="site-nav__link">(About)</a>
    </li>
    <li class="site-nav__item utility-nav__item">
      <a href="{{ cms_url }}/contact-us/" class="site-nav__link">Contact</a>
    </li>
  </ul>
  <a title="Home" href="{{ cms_url }}/" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
  <button title="View site glossary" class="js-glossary-toggle button--neutral site-nav__button site-nav__button--right">Glossary</button>
</nav>
