<div class="reaction-box">
  <fieldset>
    <legend class="reaction-box__heading h3">What do you think of this chart?</legend>
  <ul>
    <li>
      <input type="radio" value="informative" name="reaction" id="reaction-informative">
      <label for="reaction-informative">Informative</label>
    </li>
    <li>
      <input type="radio" value="confusing" name="reaction" id="reaction-confusing">
      <label for="reaction-confusing">Confusing</label>
    </li>
    <li>
      <input type="radio" value="not-interested" name="reaction" id="reaction-not-interested">
      <label for="reaction-not-interested">Not interested</label>
    </li>
    <li>
      <input type="radio" value="none" name="reaction" id="reaction-none">
      <label for="reaction-none">None of these</label>
    </li>
</div>
