$dark-blue: #03253e;
$white: #fff;
$light-gray: #d8d8d8;
$black: #000;

@mixin zero-space() {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.header-bar {
    background-color: $dark-blue;
    color: $white;
    text-align: center;
}

.header-nav-bar {
    @include zero-space();
    list-style: none;
    background-color: $light-gray;
    text-align: center;

    li {
        display: inline-block;

        a {
            color: $black;
            display: block;
            padding: 1em;
            text-decoration: none;

            &.active {
                background-color: $dark-blue;
                color: $white;
            }
        }
    }
}
