// LAYOUT: Data results view
// Styling any view with a results table

.results-header {
  @include clearfix();
  padding-bottom: 1em;

  h3 {
    @include span-columns(20)
  }

  .button {
    @include span-columns(4);
  }
}

.results-content {
  @include clearfix();
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.results-container {
  background: #fff;
  position: relative;
  width: 100%;
  left: 0;
  height: 100%;
  float: left;
  border-left: 1px solid $light-gray;
}

.panel-active--left {
  @include media($large) {
    .results-container {
      width: 80%;
      margin-left: 20%;
    }
  }
}

#filter-toggle {

  @include media($medium) {
    float: left;
  }
}

.results-count {
  @include font-size(1.6);
  width: 100%;
  clear: both;

  li {
    width: 50%;
    float: left;
    padding: 0 0 1rem 0;
  }

  p {
    margin: 0;
  }
  .pagination {
    width: 100%;
  }

  .pagination__link {
    width: 50%;
    float: left;
  }

  @include media($medium) {
    float: right;
    padding: 1rem 0;
    width: auto;
    clear: none;

    li,
    .pagination {
      width: auto;
      float: none;
      display: inline-block;
      padding: 0 2rem;
    }

    .pagination__link {
      width: auto;
      float: none;
    }
  }
}