// LAYOUT: Data results view
// Styling any view with a results table

.results-header {
  @include clearfix();
  padding-bottom: 1em;

  h3 {
    @include span-columns(20)
  }

  .button {
    @include span-columns(4);
  }
}

.results-content {
  @include clearfix();
  background-color: $filter-bg;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.results-container {
  @include rem(padding, 1rem);
  @include transition(left, .2s);
  background: #fff;
  position: relative;
  width: 100%;
  left: 0;
  height: 100%;
}