@import "data-view";

body {
  padding: 0;
  margin: 0;
}

.container {
  @include outer-container();
}

.row {
  @include span-columns(24);
  @include clearfix();
}

.clearfix {
  @include clearfix();
}

@include media($medium) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

// Chunks
// These are common grouping sizes, described by their desktop size

.chunk--half {
  @include span-columns(12);

  &:nth-child(even) {
    @include omega();
  }

  @include media($medium) {
    @include span-columns(12);
  }
}

.chunk--third {
  @include span-columns(8);

  @include media($medium) {
    @include span-columns(12);
    margin-top: 1em;
  }
}

.chunk--two-thirds {
  @include span-columns(16)
}

// Styles for big chunks of content
// .page__section will often be a <section> element
.page-section {
  @include rem(padding, 4.0rem 0);
}

// This is a grouping of content withinin a section, labeled by a h3
.page-subsection {
  @include primary-divider();
  @include clearfix();
  @include rem(padding, 4.0rem 0);

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }

}

.page-sub-subsection {
  @include secondary-divider();
  @include span-columns(24);
  @include clearfix();
  @include rem(padding, 2.0rem 0);

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}
