@import "data-view";

* {
  margin: 0; // For sticky footer (http://css-tricks.com/snippets/css/sticky-footer/)
}

body,
html {
  height: 100%;
  background: $licorice-2;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}

.page-wrap {
  background: #fff;
  
  &:after {
    content: "";
    display: block;
  }
}

.main-container {
  position: relative;
  overflow-x: hidden;
}

.container {
  @include outer-container();
  padding-left: 2.0rem;
  padding-right: 2.0rem;

  @include media($large) {
    padding: 0;
  }
}

.row {
  @include span-columns(24);
  @include clearfix();
}

.clearfix {
  @include clearfix();
}

.aside {
  @include span-columns(6);
}

// Chunks
// These are common grouping sizes, described by their desktop size

.chunk--half {
  @include media($large) {
    @include span-columns(12);

    &:nth-child(even) {
      @include omega();
    }
  }
}

.chunk--third {
  @include media($large) {
    @include span-columns(8);    
  }
}

.chunk--two-thirds {
  @include media($large) {
    @include span-columns(16)
  }
}

// Styles for big chunks of content
// .page__section will often be a <section> element
.page-section {
  padding: 2rem 0;

  @include media($large) {
    padding: 4rem 0;
  }
}

.page-section__intro {
  @include clearfix();
}

// This is a grouping of content withinin a section, labeled by a h3
.page-subsection {
  @include primary-divider();
  @include clearfix();
  padding: 2rem 0 4rem;

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }

  &.page-subsection--noline {
    border-bottom: 0;
  }
}

.page-sub-subsection {
  @include secondary-divider();
  @include span-columns(24);
  @include clearfix();
  padding: 2rem 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}

// Style variants
.section--gray {
  background-color: $lightest-gray;
  border-top: 1px solid $light-gray;
}

.section--blue {
  background-color: $blue;
  color: #fff;

  a[href] {
    text-decoration: underline;
  }
}
