@import "data-view";

body {
  padding: 0;
  margin: 0;
}

.container {
  @include outer-container();
}

.row {
  @include span-columns(24);
  @include clearfix();
}

@include media($medium) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.sub-section {
  @include clearfix();
  padding: 2em 0;
  border-bottom: 1px dotted $base-border-color;
}


// Chunks
// These are common grouping sizes, described by their desktop size

.chunk--half {
  @include span-columns(12);
}

.chunk--third {
  @include span-columns(8);
}
